force-app/main/default/flows/SMQS_Address_Sync_Delete_ContactPointAddress_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When a primary ContactPointAddress is deleted, clears the corresponding Account address fields. Person Accounts: clears PersonMailingStreet/City/State/PostalCode/Country. Business/Household Accounts: clears BillingStreet/City/State/PostalCode/Country. Runs before delete so $Record fields are still accessible.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Address Sync Delete ContactPointAddress to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Address Sync Delete ContactPointAddress to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <assignments>
        <description>Stages null values for all five BillingAddress fields on Business/Household Accounts.</description>
        <name>Assign_Clear_Billing</name>
        <label>Clear Billing Address Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stages null values for all five PersonMailing fields on Person Accounts.</description>
        <name>Assign_Clear_PersonMailing</name>
        <label>Clear PersonMailing Address Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <recordLookups>
        <description>Loads the parent Account to check IsPersonAccount before routing the clear logic.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Writes the staged null values to the parent Account.</description>
        <name>Update_Parent_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_AccountToUpdate</inputReference>
    </recordUpdates>
    <decisions>
        <description>Routes Person Accounts to clear PersonMailing fields, Business/Household to clear Billing fields.</description>
        <name>Is_Person_Account</name>
        <label>Is Person Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Clear_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business / Household</defaultConnectorLabel>
        <rules>
            <name>Yes_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Clear_PersonMailing</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>{!$Record.IsPrimary}</filterFormula>
        <object>ContactPointAddress</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>In-memory Account record staged with null field values. Written to the database by Update_Parent_Account.</description>
        <name>var_AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
