force-app/main/default/flows/SMQS_Screen_Manage_ContactPoints.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Build_New_Address_AddAll</name>
        <label>Build New Address Record (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AddressName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountNewAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Addresses_AddAll_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointAddress from blank-state business screen AddedItems.</description>
        <name>Assign_Build_New_Address_AddAll_Bus</name>
        <label>Build New Address Record (Add All Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AddressName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountNewAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Addresses_AddAll_New_Bus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointEmail from blank-state person screen AddedItems.</description>
        <name>Assign_Build_New_Email_AddAll</name>
        <label>Build New Email Record (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleEmail.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails_AddAll_New.field_EmailAddress_AddAll.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountNewEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Emails_AddAll_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointPhone from blank-state person screen AddedItems.</description>
        <name>Assign_Build_New_Phone_AddAll</name>
        <label>Build New Phone Record (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.TelephoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_AddAll_New.field_TelephoneNumber_AddAll.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ExtensionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_AddAll_New.field_ExtensionNumber_AddAll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Map_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_AddAll_New.field_PhoneMapTo_AddAll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewPhones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SinglePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountNewPhones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Phones_AddAll_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointPhone from blank-state business screen AddedItems.</description>
        <name>Assign_Build_New_Phone_AddAll_Bus</name>
        <label>Build New Phone Record (Add All Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.TelephoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_AddAll_New_Bus.field_TelephoneNumber_AddAll_Bus.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ExtensionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_AddAll_New_Bus.field_ExtensionNumber_AddAll_Bus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Map_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_AddAll_New_Bus.field_PhoneMapTo_AddAll_Bus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewPhones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SinglePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountNewPhones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Phones_AddAll_New_Bus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Point_Record_Counts</name>
        <label>Assign Count Point Record Counts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingAddressCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_AllAddresses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingPhoneCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_AllPhones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingEmailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_AllEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Blank_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Captures the Add / Manage choice and the Person Account type picker from Screen_Select_And_Manage. Business Account type is captured by Assign_Set_Type_Business_Picker via Decision_Capture_Type_By_Account.</description>
        <name>Assign_Set_Add_Or_Manage</name>
        <label>Set Add or Manage and Type Selections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AddOrManage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_AddOrManage.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_ContactType_Main.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Capture_Type_By_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets var_AddAllContext to &quot;add&quot; so Screen_Add_All_Person and Screen_Add_All_Business display the &quot;add new&quot; header copy instead of the blank-state copy.</description>
        <name>Assign_Set_Context_Add</name>
        <label>Set Add Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AddAllContext</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>add</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Account_Type_AddNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Captures var_SelectedType from the Business Account type picker (Address/Phone only). Reached from Decision_Capture_Type_By_Account when account is not a Person Account.</description>
        <name>Assign_Set_Type_Business_Picker</name>
        <label>Set Type from Business Picker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_ContactType_Business.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Add_Or_Manage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointAddress from blank-state person screen AddedItems. Stamps ParentId and field values onto var_SingleAddress, adds to var_NewAddresses.</description>
        <name>Assign_Store_Primary_Selections</name>
        <label>Store Primary Selections from Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryEmailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PrimaryEmailId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrimaryPhoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PrimaryPhoneId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrimaryAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PrimaryAddressId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Primary_Email_AddAll</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Visual picker choice for adding new contact information. Routes to the add-all screen for addresses, emails, and phones.</description>
        <name>choice_AddNew</name>
        <choiceIcon>
            <iconName>utility:add</iconName>
        </choiceIcon>
        <choiceText>Quickly Add New Contact Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for managing Mailing Addresses. Shown on both Person and Business Account type picker screens.</description>
        <name>choice_Address</name>
        <choiceIcon>
            <iconName>utility:home</iconName>
        </choiceIcon>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for managing Email Addresses. Only shown on the Person Account type picker screen.</description>
        <name>choice_Email</name>
        <choiceIcon>
            <iconName>utility:email</iconName>
        </choiceIcon>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <description>Visual picker choice for managing existing contact information. Routes to the type picker (address, phone, email).</description>
        <name>choice_ManageExisting</name>
        <choiceIcon>
            <iconName>utility:edit</iconName>
        </choiceIcon>
        <choiceText>Add or Update Existing Contact Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for managing Phone Numbers. Shown on both Person Account and Business Account type picker screens.</description>
        <name>choice_Phone</name>
        <choiceIcon>
            <iconName>utility:call</iconName>
        </choiceIcon>
        <choiceText>Phone Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PhoneMapTo_HomePhone</name>
        <choiceText>Home Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PhoneMapTo_Mobile</name>
        <choiceText>Mobile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PhoneMapTo_OtherPhone</name>
        <choiceText>Other Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Phone</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Routes the Add New path to the correct add-all screen based on account type. Person Account → Screen_Add_All_Person; Business Account → Screen_Add_All_Business.</description>
        <name>Decision_Account_Type_AddNew</name>
        <label>Person or Business Account? (Add New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Add_All_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account_AddNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen_Add_All_Person</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the add-all screen (via Assign_Set_Context_Add) when the user chose &quot;Add New&quot;, or to the type picker when they chose &quot;Manage Existing&quot;.</description>
        <name>Decision_Add_Or_Manage</name>
        <label>Add New or Manage Existing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Route_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manage Existing</defaultConnectorLabel>
        <rules>
            <name>Add_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AddOrManage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Context_Add</targetReference>
            </connector>
            <label>Add New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the blank-state add-all screen when no contact info exists. Person Account with all blank -&gt; Screen_Add_All_Person. Business Account with no addresses or phones -&gt; Screen_Add_All_Business. All other accounts (including blank-state accounts that have already passed through the add-all screen) route to Decision_Account_Type for the normal type picker.</description>
        <name>Decision_Blank_State</name>
        <label>Any Existing Contact Info?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Select_And_Manage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Contact Info</defaultConnectorLabel>
        <rules>
            <name>Person_All_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingAddressCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingEmailCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingPhoneCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Add_All_Person</targetReference>
            </connector>
            <label>Person Account All Blank</label>
        </rules>
        <rules>
            <name>Business_All_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingAddressCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingPhoneCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Add_All_Business</targetReference>
            </connector>
            <label>Business Account All Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>After Assign_Set_Add_Or_Manage captures the Person Account type picker, routes Business Accounts to Assign_Set_Type_Business_Picker to capture from the Business-only picker instead. Person Accounts skip directly to Decision_Add_Or_Manage.</description>
        <name>Decision_Capture_Type_By_Account</name>
        <label>Person or Business Account Type Capture?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Add_Or_Manage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person Account (already captured)</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Capture_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Type_Business_Picker</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>After saving Do_Not_Mail__c, checks whether the account is a Person Account. Person Accounts proceed to Update_CommPrefs_Main_Person to save the two person-only comm pref fields. Business Accounts skip directly to Assign_Set_Add_Or_Manage.</description>
        <name>Decision_CommPrefs_Person</name>
        <label>Person Account? (Comm Prefs)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Set_Add_Or_Manage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account_CommPrefs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CommPrefs_Main_Person</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Guard: skip this address row if Street, City, PostalCode, and Country are all blank (user left the default empty row).</description>
        <name>Decision_Guard_Address_AddAll</name>
        <label>Address Row Has Data?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Addresses_AddAll_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip (blank row)</defaultConnectorLabel>
        <rules>
            <name>Address_Has_Street</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Addresses_AddAll_New.field_Address_AddAll.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_New_Address_AddAll</targetReference>
            </connector>
            <label>Has Data</label>
        </rules>
    </decisions>
    <decisions>
        <description>Guard: skip this address row if Street, City, PostalCode, and Country are all blank (business blank-state screen).</description>
        <name>Decision_Guard_Address_AddAll_Bus</name>
        <label>Address Row Has Data? (Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Addresses_AddAll_New_Bus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip (blank row)</defaultConnectorLabel>
        <rules>
            <name>Address_Bus_Has_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Addresses_AddAll_New_Bus.field_Address_AddAll_Bus.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_New_Address_AddAll_Bus</targetReference>
            </connector>
            <label>Has Data</label>
        </rules>
    </decisions>
    <decisions>
        <description>Guard: skip this email row if the value is blank or empty string (user left the default empty row).</description>
        <name>Decision_Guard_Email_AddAll</name>
        <label>Email Row Has Data?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Emails_AddAll_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip (blank row)</defaultConnectorLabel>
        <rules>
            <name>Email_Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Emails_AddAll_New.field_EmailAddress_AddAll.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Emails_AddAll_New.field_EmailAddress_AddAll.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_New_Email_AddAll</targetReference>
            </connector>
            <label>Has Data</label>
        </rules>
    </decisions>
    <decisions>
        <description>Guard: skip this phone row if TelephoneNumber is blank or empty string — person blank-state screen.</description>
        <name>Decision_Guard_Phone_AddAll</name>
        <label>Phone Row Has Data?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Phones_AddAll_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip (blank row)</defaultConnectorLabel>
        <rules>
            <name>Phone_Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Phones_AddAll_New.field_TelephoneNumber_AddAll.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Phones_AddAll_New.field_TelephoneNumber_AddAll.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_New_Phone_AddAll</targetReference>
            </connector>
            <label>Has Data</label>
        </rules>
    </decisions>
    <decisions>
        <description>Guard: skip this phone row if TelephoneNumber is blank or empty string — business blank-state screen.</description>
        <name>Decision_Guard_Phone_AddAll_Bus</name>
        <label>Phone Row Has Data? (Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Phones_AddAll_New_Bus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip (blank row)</defaultConnectorLabel>
        <rules>
            <name>Phone_Bus_Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Phones_AddAll_New_Bus.field_TelephoneNumber_AddAll_Bus.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Split_Phones_AddAll_New_Bus.field_TelephoneNumber_AddAll_Bus.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_New_Phone_AddAll_Bus</targetReference>
            </connector>
            <label>Has Data</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any new addresses were added in the blank-state screen. Routes to create or skips.</description>
        <name>Decision_Has_New_Addresses_AddAll</name>
        <label>Any New Addresses (Add All)?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Emails_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Records</defaultConnectorLabel>
        <rules>
            <name>Has_New_Addresses_AddAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Addresses_AddAll</targetReference>
            </connector>
            <label>Has New Addresses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any new emails were added in the blank-state screen. Routes to create or skips.</description>
        <name>Decision_Has_New_Emails_AddAll</name>
        <label>Any New Emails (Add All)?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Phones_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Records</defaultConnectorLabel>
        <rules>
            <name>Has_New_Emails_AddAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Emails_AddAll</targetReference>
            </connector>
            <label>Has New Emails</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any new phones were added in the blank-state screen. Routes to create or success.</description>
        <name>Decision_Has_New_Phones_AddAll</name>
        <label>Any New Phones (Add All)?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Need_Primary_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Records</defaultConnectorLabel>
        <rules>
            <name>Has_New_Phones_AddAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewPhones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Phones_AddAll</targetReference>
            </connector>
            <label>Has New Phones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Need_Primary_AddAll</name>
        <label>Multiple of Any Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single or None</defaultConnectorLabel>
        <rules>
            <name>Need_Primary_Selection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CountNewEmails</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CountNewPhones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CountNewAddresses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Emails_For_Primary</targetReference>
            </connector>
            <label>Multiple Entries</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the appropriate GET query based on var_SelectedType. Email routes to Get_Emails; Phone routes to Get_Phones; Address (default) routes to Get_Addresses.</description>
        <name>Decision_Route_Type</name>
        <label>Route by Contact Info Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_Manage_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address</defaultConnectorLabel>
        <rules>
            <name>Route_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SelectedType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Manage_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Route_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SelectedType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Manage_Phone</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>After primary screen: only update address primary if multiple addresses were entered.</description>
        <name>Decision_Update_Primary_Address_AddAll</name>
        <label>Multiple Addresses? (Update Primary)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single or None</defaultConnectorLabel>
        <rules>
            <name>Has_Multiple_Addresses_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountNewAddresses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_All_Address_Primaries_AddAll</targetReference>
            </connector>
            <label>Multiple Addresses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any new addresses were added in the blank-state screen. Routes to create or skips.</description>
        <name>Decision_Update_Primary_Email_AddAll</name>
        <label>Multiple Emails? (Update Primary)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Primary_Phone_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single or None</defaultConnectorLabel>
        <rules>
            <name>Has_Multiple_Emails_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountNewEmails</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_All_Email_Primaries_AddAll</targetReference>
            </connector>
            <label>Multiple Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Primary_Phone_AddAll</name>
        <label>Multiple Phones? (Update Primary)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Primary_Address_AddAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single or None</defaultConnectorLabel>
        <rules>
            <name>Has_Multiple_Phones_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountNewPhones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_All_Phone_Primaries_AddAll</targetReference>
            </connector>
            <label>Multiple Phones</label>
        </rules>
    </decisions>
    <description>Screen flow launched from the Account record page to manage ContactPointAddress, ContactPointPhone, and ContactPointEmail records for Person and Business Accounts. Queries all contact point data upfront after Get_Account. Detects blank state (no contact info exists) and routes to a combined add-all screen. For existing records, first presents a choice to add new contact information or manage existing — Add New routes to the same add-all screen; Manage Existing shows the type picker. Person Accounts can manage Email, Phone, and Address; Business Accounts manage Phone and Address only. Each manage screen shows household sync status (address and phone ACRs), warns users before deletion, and routes removed rows through a confirmation screen before running delete DML. Supports add, edit, and delete with IsPrimary validation (max one primary per type). Communication preferences (Do Not Call, Do Not Mail, Email Opt Out) are editable on all entry screens. All DML and SOQL faults route to a shared Error_Screen. Sync flows handle downstream Account field updates.</description>
    <dynamicChoiceSets>
        <description>Populates the primary address radio buttons from var_NewAddressesForPrimary (re-queried after insert).</description>
        <name>ccs_PrimaryAddress</name>
        <collectionReference>var_NewAddressesForPrimary</collectionReference>
        <dataType>String</dataType>
        <displayField>Street</displayField>
        <object>ContactPointAddress</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populates the primary email radio buttons from var_NewEmailsForPrimary (re-queried after insert). Display label is email address; value is the record Id.</description>
        <name>ccs_PrimaryEmail</name>
        <collectionReference>var_NewEmailsForPrimary</collectionReference>
        <dataType>String</dataType>
        <displayField>EmailAddress</displayField>
        <object>ContactPointEmail</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populates the primary phone radio buttons from var_NewPhonesForPrimary (re-queried after insert).</description>
        <name>ccs_PrimaryPhone</name>
        <collectionReference>var_NewPhonesForPrimary</collectionReference>
        <dataType>String</dataType>
        <displayField>TelephoneNumber</displayField>
        <object>ContactPointPhone</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Header text for Screen_Add_All_Business. Shows blank-state message when var_AddAllContext is &quot;blank&quot;, otherwise shows the add-new message for existing accounts.</description>
        <name>formula_AddAllHeaderBusiness</name>
        <dataType>String</dataType>
        <expression>IF({!var_AddAllContext} = &quot;add&quot;, &quot;Add new contact information for this account below.&quot;, &quot;No contact information exists yet for this account.&quot;)</expression>
    </formulas>
    <formulas>
        <description>Header text for Screen_Add_All_Person. Shows blank-state message when var_AddAllContext is &quot;blank&quot;, otherwise shows the add-new message for existing accounts.</description>
        <name>formula_AddAllHeaderPerson</name>
        <dataType>String</dataType>
        <expression>IF({!var_AddAllContext} = &quot;add&quot;, &quot;Add new contact information for this person below.&quot;, &quot;No contact information exists yet for this person.&quot;)</expression>
    </formulas>
    <formulas>
        <description>Abbreviated month name for the CPA name stamp.</description>
        <name>formula_AddressMonthAbbrev</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Flow.CurrentDate}),
  1, &quot;Jan&quot;,
  2, &quot;Feb&quot;,
  3, &quot;Mar&quot;,
  4, &quot;Apr&quot;,
  5, &quot;May&quot;,
  6, &quot;Jun&quot;,
  7, &quot;Jul&quot;,
  8, &quot;Aug&quot;,
  9, &quot;Sep&quot;,
  10, &quot;Oct&quot;,
  11, &quot;Nov&quot;,
  &quot;Dec&quot;)</expression>
    </formulas>
    <formulas>
        <description>CPA Name convention: [Account Name] Mailing Address [Mon, YYYY]. Used when creating new ContactPointAddress records.</description>
        <name>formula_AddressName</name>
        <dataType>String</dataType>
        <expression>{!var_Account.Name} &amp; &quot; Mailing Address &quot; &amp; {!formula_AddressMonthAbbrev} &amp; &quot;, &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <description>Success screen message after add-all save. Shows &quot;has been added&quot; when at least one record was created; shows &quot;No contact information for NAME has been added&quot; when all sections were left empty.</description>
        <name>formula_SuccessAddAllMessage</name>
        <dataType>String</dataType>
        <expression>IF(({!var_CountNewAddresses} + {!var_CountNewEmails} + {!var_CountNewPhones}) &gt; 0, &quot;Contact information for &quot; &amp; {!var_Account.Name} &amp; &quot; has been added.&quot;, &quot;No contact information for &quot; &amp; {!var_Account.Name} &amp; &quot; has been added.&quot;)</expression>
    </formulas>
    <interviewLabel>SMQS Manage Contact Points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage Contact Points</label>
    <loops>
        <description>Iterates AddressesList_New.AddedItems from person blank-state screen. Builds var_NewAddresses. When done routes to Loop_Split_Emails_AddAll_New.</description>
        <name>Loop_Split_Addresses_AddAll_New</name>
        <label>Build New Addresses from Add All Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AddressesList_New.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Guard_Address_AddAll</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Split_Emails_AddAll_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates AddressesList_New_Bus.AddedItems from business blank-state screen. Builds var_NewAddresses. When done routes to Loop_Split_Phones_AddAll_New_Bus.</description>
        <name>Loop_Split_Addresses_AddAll_New_Bus</name>
        <label>Build New Addresses from Add All Screen (Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AddressesList_New_Bus.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Guard_Address_AddAll_Bus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Split_Phones_AddAll_New_Bus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates EmailsList_New.AddedItems from person blank-state screen. Builds var_NewEmails. When done routes to Loop_Split_Phones_AddAll_New.</description>
        <name>Loop_Split_Emails_AddAll_New</name>
        <label>Build New Emails from Add All Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EmailsList_New.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Guard_Email_AddAll</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Split_Phones_AddAll_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates PhonesList_New.AddedItems from person blank-state screen. Builds var_NewPhones. When done routes to Decision_Has_New_Addresses_AddAll.</description>
        <name>Loop_Split_Phones_AddAll_New</name>
        <label>Build New Phones from Add All Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PhonesList_New.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Guard_Phone_AddAll</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Has_New_Addresses_AddAll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates PhonesList_New_Bus.AddedItems from business blank-state screen. Builds var_NewPhones. When done routes to Decision_Has_New_Addresses_AddAll.</description>
        <name>Loop_Split_Phones_AddAll_New_Bus</name>
        <label>Build New Phones from Add All Screen (Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PhonesList_New_Bus.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Guard_Phone_AddAll_Bus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Has_New_Addresses_AddAll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates new address records from blank-state add-all screen. Fault routes to Error_Screen.</description>
        <name>Create_New_Addresses_AddAll</name>
        <label>Create New Address Records (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_New_Emails_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_NewAddresses</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates new email records from blank-state add-all screen. Fault routes to Error_Screen.</description>
        <name>Create_New_Emails_AddAll</name>
        <label>Create New Email Records (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_New_Phones_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_NewEmails</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone records from blank-state add-all screen. Fault routes to Error_Screen.</description>
        <name>Create_New_Phones_AddAll</name>
        <label>Create New Phone Records (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Need_Primary_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_NewPhones</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Re-queries ContactPointAddress records just created for this account to get real IDs for the primary selection screen.</description>
        <name>Get_New_Addresses_For_Primary</name>
        <label>Get New Addresses for Primary Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Primary_Selection_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress</object>
        <outputReference>var_NewAddressesForPrimary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <sortField>Street</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Re-queries ContactPointEmail records just created for this account to get real IDs for the primary selection screen. Only reached when multiple emails were entered.</description>
        <name>Get_New_Emails_For_Primary</name>
        <label>Get New Emails for Primary Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Phones_For_Primary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContactPointEmail</object>
        <outputReference>var_NewEmailsForPrimary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmailAddress</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <sortField>EmailAddress</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Re-queries ContactPointPhone records just created for this account to get real IDs for the primary selection screen.</description>
        <name>Get_New_Phones_For_Primary</name>
        <label>Get New Phones for Primary Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Addresses_For_Primary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContactPointPhone</object>
        <outputReference>var_NewPhonesForPrimary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TelephoneNumber</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <sortField>TelephoneNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Clears IsPrimary on all new CPAs for this account before setting the user-chosen one as primary. Prevents multiple addresses ending up primary when count &gt; 1.</description>
        <name>Clear_All_Address_Primaries_AddAll</name>
        <label>Clear All Address Primaries (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Primary_Address_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears IsPrimary on all new CPEs for this account before setting the user-chosen one as primary.</description>
        <name>Clear_All_Email_Primaries_AddAll</name>
        <label>Clear All Email Primaries (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Primary_Email_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears IsPrimary on all new CPPs for this account before setting the user-chosen one as primary.</description>
        <name>Clear_All_Phone_Primaries_AddAll</name>
        <label>Clear All Phone Primaries (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Primary_Phone_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordUpdates>
    <recordUpdates>
        <description>Saves communication preference changes made on Screen_Add_All_Business (reached via the Add New path from an existing account). Runs before the add-all processing loops.</description>
        <name>Update_CommPrefs_AddAll_Business</name>
        <label>Save Communication Preferences (Add All Business)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Split_Addresses_AddAll_New_Bus</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Mail__c</field>
            <value>
                <elementReference>chk_DoNotMail_AddAll_Business</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Saves communication preference changes made on Screen_Add_All_Person (reached via the Add New path from an existing account). Runs before the add-all processing loops.</description>
        <name>Update_CommPrefs_AddAll_Person</name>
        <label>Save Communication Preferences (Add All Person)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Split_Addresses_AddAll_New</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Mail__c</field>
            <value>
                <elementReference>chk_DoNotMail_AddAll_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonDoNotCall</field>
            <value>
                <elementReference>chk_DoNotCall_AddAll_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHasOptedOutOfEmail</field>
            <value>
                <elementReference>chk_EmailOptOut_AddAll_Person</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Saves Do_Not_Mail__c from Screen_Select_And_Manage. Safe for all account types. Routes to Decision_CommPrefs_Person to conditionally write person-only fields next.</description>
        <name>Update_CommPrefs_Main</name>
        <label>Save Communication Preferences (All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_CommPrefs_Person</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Mail__c</field>
            <value>
                <elementReference>chk_DoNotMail_Main</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Saves PersonDoNotCall and PersonHasOptedOutOfEmail from Screen_Select_And_Manage. Only reached for Person Accounts via Decision_CommPrefs_Person. Routes to Assign_Set_Add_Or_Manage.</description>
        <name>Update_CommPrefs_Main_Person</name>
        <label>Save Communication Preferences (Person Fields)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Set_Add_Or_Manage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonDoNotCall</field>
            <value>
                <elementReference>chk_DoNotCall_Main</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHasOptedOutOfEmail</field>
            <value>
                <elementReference>chk_EmailOptOut_Main</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets IsPrimary = true on the ContactPointAddress the user selected. Routes to Screen_Success_AddAll.</description>
        <name>Update_Primary_Address_AddAll</name>
        <label>Set Primary Address (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success_AddAll</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PrimaryAddressId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets IsPrimary = true on the ContactPointEmail the user selected. Uses Id filter matching Screen_Primary_Selection_AddAll.field_Primary_Email selection. Routes to Decision_Update_Primary_Phone_AddAll.</description>
        <name>Update_Primary_Email_AddAll</name>
        <label>Set Primary Email (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Update_Primary_Phone_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PrimaryEmailId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets IsPrimary = true on the ContactPointPhone the user selected. Routes to Decision_Update_Primary_Address_AddAll.</description>
        <name>Update_Primary_Phone_AddAll</name>
        <label>Set Primary Phone (Add All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Update_Primary_Address_AddAll</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PrimaryPhoneId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordUpdates>
    <screens>
        <description>Shared fault screen displayed when any DML or record lookup operation fails. Matches the Manage Household error screen pattern: surfaces the triggering record Id and name, the full fault message, and the current flow stage so an administrator can diagnose the failure. allowBack and allowFinish are both true so the user can retry or dismiss.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The screen flow &quot;Manage Contact Points&quot; has failed.&amp;nbsp;Please send this message to your administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Triggering record: {!recordId} - {!var_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Fault Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Current Stage: {!$Flow.CurrentStage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Entry screen for Business Accounts to add addresses and phones. Reached from the blank-state path (no existing contact info) or from the Add New path (existing account). Header copy adjusts based on var_AddAllContext. On Save, comm prefs are saved and added rows are created.</description>
        <name>Screen_Add_All_Business</name>
        <label>Add Contact Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CommPrefs_AddAll_Business</targetReference>
        </connector>
        <fields>
            <name>txt_AddAll_Header_Business</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!formula_AddAllHeaderBusiness}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Add addresses and phone numbers below. All sections are optional — leave any section empty to skip it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Add_All_Business_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Add_All_Business_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_AddAll_Address_Existing</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Existing Billing Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Address_DataTable_All</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContactPointAddress</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_AllAddresses</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_AllAddresses&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Address&quot;,&quot;guid&quot;:&quot;column-3338&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Address&quot;,&quot;type&quot;:&quot;customAddress&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Address&quot;],&quot;elementReference&quot;:&quot;var_AllAddresses&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ExistingAddressCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_AddAll_Address_New</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Billing Address&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; (optional)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddressesList_New_Bus</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>field_Address_AddAll_Bus</name>
                <extensionName>flowruntime:address</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>addressLabel</name>
                    <value>
                        <stringValue>Billing Address</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>showAddressLookup</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>addressLookupLabel</name>
                    <value>
                        <stringValue>Option: Search Google Maps</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_NewAddresses</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Add_All_Business_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Add_All_Business_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_AddAll_Phone_Existing</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Existing Phone Numbers&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone_DataTable_All</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContactPointPhone</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_AllPhones</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointPhone&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_AllPhones&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;TelephoneNumber&quot;,&quot;guid&quot;:&quot;column-5ce1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Telephone number&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;ExtensionNumber&quot;,&quot;guid&quot;:&quot;column-295c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Extension number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Map_To__c&quot;,&quot;guid&quot;:&quot;column-1bae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Map To&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointPhone&quot;,&quot;fieldReferences&quot;:[&quot;TelephoneNumber&quot;,&quot;ExtensionNumber&quot;,&quot;Map_To__c&quot;],&quot;elementReference&quot;:&quot;var_AllPhones&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ExistingPhoneCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_AddAll_Phone_New</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Phone Numbers&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; (optional)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhonesList_New_Bus</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>field_TelephoneNumber_AddAll_Bus</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Phone Number</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_ExtensionNumber_AddAll_Bus</name>
                <dataType>String</dataType>
                <fieldText>Extension</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_PhoneMapTo_AddAll_Bus</name>
                <choiceReferences>choice_PhoneMapTo_Mobile</choiceReferences>
                <choiceReferences>choice_PhoneMapTo_HomePhone</choiceReferences>
                <choiceReferences>choice_PhoneMapTo_OtherPhone</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Map To</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_NewPhones</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_CommPrefs_Header_AddAll_Bus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Communication Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chk_DoNotMail_AddAll_Business</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.Do_Not_Mail__c</elementReference>
            </defaultValue>
            <fieldText>Do Not Mail</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_CommPrefs_Disclaimer_AddAll_Bus</name>
            <fieldText>&lt;p&gt;&lt;em&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;These communication preferences provide a visual indicator on the account page. Talk with your system administrator to clarify how they may affect automated processes or data sharing.&lt;/span&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Entry screen for Person Accounts to add addresses, emails, and phones. Reached from the blank-state path (no existing contact info) or from the Add New path (existing account). Header copy adjusts based on var_AddAllContext. On Save, comm prefs are saved and added rows are created.</description>
        <name>Screen_Add_All_Person</name>
        <label>Add Contact Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CommPrefs_AddAll_Person</targetReference>
        </connector>
        <fields>
            <name>txt_AddAll_Header_Person</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!formula_AddAllHeaderPerson}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Add addresses, emails, and phone numbers below. All sections are optional — leave any section empty to skip it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Add_All_Person_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Add_All_Person_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_AddAll_Address_Existing_Indiv</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Existing Mailing Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Address_DataTable_All_Indiv</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContactPointAddress</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_AllAddresses</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_AllAddresses&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Address&quot;,&quot;guid&quot;:&quot;column-a4bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Address&quot;,&quot;type&quot;:&quot;customAddress&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Address&quot;],&quot;elementReference&quot;:&quot;var_AllAddresses&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ExistingAddressCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_AddAll_Address_New_Indiv</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Mailing Address&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; (optional)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddressesList_New</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>field_Address_AddAll</name>
                <extensionName>flowruntime:address</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>addressLabel</name>
                    <value>
                        <stringValue>Mailing Address</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>showAddressLookup</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>addressLookupLabel</name>
                    <value>
                        <stringValue>Option: Search Google Maps</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_NewAddresses</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Add_All_Person_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Add_All_Person_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_AddAll_Email_Existing_Indiv</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Existing Email Addresses&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email_DataTable_All_Indiv</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContactPointEmail</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_AllEmails</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointEmail&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_AllEmails&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;EmailAddress&quot;,&quot;guid&quot;:&quot;column-a4d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Email address&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointEmail&quot;,&quot;fieldReferences&quot;:[&quot;EmailAddress&quot;],&quot;elementReference&quot;:&quot;var_AllEmails&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ExistingEmailCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_AddAll_Email_Add_Indiv</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Email Addresses&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; (optional)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailsList_New</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>field_EmailAddress_AddAll</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Email Address</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_NewEmails</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Add_All_Person_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Add_All_Person_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_AddAll_Phone_Existing_Indiv</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Existing Phone Numbers&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone_DataTable_All_Indiv</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContactPointPhone</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_AllPhones</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointPhone&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_AllPhones&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;TelephoneNumber&quot;,&quot;guid&quot;:&quot;column-ce16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Telephone number&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointPhone&quot;,&quot;fieldReferences&quot;:[&quot;TelephoneNumber&quot;],&quot;elementReference&quot;:&quot;var_AllPhones&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ExistingPhoneCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_AddAll_Phone_Add_Indiv</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Phone Numbers&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; (optional)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhonesList_New</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>field_TelephoneNumber_AddAll</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Phone Number</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_PhoneMapTo_AddAll</name>
                <choiceReferences>choice_PhoneMapTo_Mobile</choiceReferences>
                <choiceReferences>choice_PhoneMapTo_HomePhone</choiceReferences>
                <choiceReferences>choice_PhoneMapTo_OtherPhone</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Map To</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_ExtensionNumber_AddAll</name>
                <dataType>String</dataType>
                <fieldText>Extension</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_NewPhones</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_CommPrefs_Header_AddAll_Person</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Communication Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chk_DoNotCall_AddAll_Person</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.PersonDoNotCall</elementReference>
            </defaultValue>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chk_DoNotMail_AddAll_Person</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.Do_Not_Mail__c</elementReference>
            </defaultValue>
            <fieldText>Do Not Mail</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chk_EmailOptOut_AddAll_Person</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.PersonHasOptedOutOfEmail</elementReference>
            </defaultValue>
            <fieldText>Email Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_CommPrefs_Disclaimer_AddAll_Person</name>
            <fieldText>&lt;p&gt;&lt;em&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;These communication preferences provide a visual indicator on the account page. Talk with your system administrator to clarify how they may affect automated processes or data sharing.&lt;/span&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shown after data entry when the user added more than one of any contact type. Presents a radio button per type (each section only visible when multiple records were entered) to designate the primary. All three sections appear on one screen.</description>
        <name>Screen_Primary_Selection_AddAll</name>
        <label>Select Primary Contact Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Assign_Store_Primary_Selections</targetReference>
        </connector>
        <fields>
            <name>txt_Primary_Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You entered more than one of a contact type. Select which record should be marked as primary for each type below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 13px;&quot;&gt;﻿The primary record is stored on the account record and appears most prominently in reports.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>field_Primary_Email</name>
            <choiceReferences>ccs_PrimaryEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which email would you like to mark as primary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_CountNewEmails</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>field_Primary_Phone</name>
            <choiceReferences>ccs_PrimaryPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which phone number would you like to mark as primary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_CountNewPhones</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>field_Primary_Address</name>
            <choiceReferences>ccs_PrimaryAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which mailing address would you like to mark as primary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_CountNewAddresses</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Merged entry screen for all existing-account flows. Shown when the account has existing contact info. Combines the Add-or-Manage choice, the contact type picker (with person/business visibility rules), and communication preferences into one screen. Default selection is &quot;Manage&quot; so existing-account users see the type picker immediately. The Add New / Manage Existing picker, type picker (Email only visible for Person Accounts), and Do Not Call / Email Opt Out (only visible for Person Accounts) use conditional visibility rules.</description>
        <name>Screen_Select_And_Manage</name>
        <label>Manage Contact Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CommPrefs_Main</targetReference>
        </connector>
        <fields>
            <name>field_AddOrManage</name>
            <choiceReferences>choice_AddNew</choiceReferences>
            <choiceReferences>choice_ManageExisting</choiceReferences>
            <defaultValue>
                <stringValue>Manage</stringValue>
            </defaultValue>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>field_ContactType_Main</name>
            <choiceReferences>choice_Address</choiceReferences>
            <choiceReferences>choice_Email</choiceReferences>
            <choiceReferences>choice_Phone</choiceReferences>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldText>What type of contact info would you like to manage?</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>field_AddOrManage.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Manage</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>field_ContactType_Business</name>
            <choiceReferences>choice_Address</choiceReferences>
            <choiceReferences>choice_Phone</choiceReferences>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldText>What type of contact info would you like to manage?</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>field_AddOrManage.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Manage</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_CommPrefs_Header_Main</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Communication Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chk_DoNotCall_Main</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.PersonDoNotCall</elementReference>
            </defaultValue>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chk_DoNotMail_Main</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.Do_Not_Mail__c</elementReference>
            </defaultValue>
            <fieldText>Do Not Mail</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chk_EmailOptOut_Main</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Account.PersonHasOptedOutOfEmail</elementReference>
            </defaultValue>
            <fieldText>Email Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_CommPrefs_Disclaimer_Main</name>
            <fieldText>&lt;p&gt;&lt;em&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;These communication preferences provide a visual indicator on the account page. Talk with your system administrator to clarify how they may affect automated processes or data sharing.&lt;/span&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Success screen after blank-state add-all save. Shows Account name.</description>
        <name>Screen_Success_AddAll</name>
        <label>Contact Information Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Success_AddAll</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!formula_SuccessAddAllMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subflow_Get_ContactInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls SMQS_Screen_Manage_ContactPoints_Address_Subflow with pre-queried data. No connector — subflow handles its own success/error screens and ends the interview.</description>
        <name>Call_Manage_Address</name>
        <label>Manage Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SMQS_Screen_Manage_ContactPoints_Address_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Account</name>
            <value>
                <elementReference>var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_AllAddresses</name>
            <value>
                <elementReference>var_AllAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SyncACRs</name>
            <value>
                <elementReference>var_SyncACRs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NoSyncACRs</name>
            <value>
                <elementReference>var_NoSyncACRs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SyncACRs_Count</name>
            <value>
                <elementReference>var_SyncACRs_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NoSyncACRs_Count</name>
            <value>
                <elementReference>var_NoSyncACRs_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_HouseholdName</name>
            <value>
                <elementReference>var_HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_PersonACR</name>
            <value>
                <elementReference>var_PersonACR</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Calls SMQS_Screen_Manage_ContactPoints_Email_Subflow with pre-queried data. No connector — subflow handles its own success/error screens and ends the interview.</description>
        <name>Call_Manage_Email</name>
        <label>Manage Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SMQS_Screen_Manage_ContactPoints_Email_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Account</name>
            <value>
                <elementReference>var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_AllEmails</name>
            <value>
                <elementReference>var_AllEmails</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Calls SMQS_Screen_Manage_ContactPoints_Phone_Subflow with pre-queried data. No connector — subflow handles its own success/error screens and ends the interview.</description>
        <name>Call_Manage_Phone</name>
        <label>Manage Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SMQS_Screen_Manage_ContactPoints_Phone_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Account</name>
            <value>
                <elementReference>var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_AllPhones</name>
            <value>
                <elementReference>var_AllPhones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SyncPhoneACRs</name>
            <value>
                <elementReference>var_SyncPhoneACRs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NoSyncPhoneACRs</name>
            <value>
                <elementReference>var_NoSyncPhoneACRs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SyncPhoneACRs_Count</name>
            <value>
                <elementReference>var_SyncPhoneACRs_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NoSyncPhoneACRs_Count</name>
            <value>
                <elementReference>var_NoSyncPhoneACRs_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_HouseholdName</name>
            <value>
                <elementReference>var_HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_PersonACR</name>
            <value>
                <elementReference>var_PersonACR</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Calls SMQS_Screen_Manage_ContactPoints_Subflow to run all 8 startup queries. Outputs wire to parent variables. Query faults propagate through the subflow and surface as a fault on this element — caught by Salesforce and shown to the user as an unhandled error.</description>
        <name>Subflow_Get_ContactInfo</name>
        <label>Get Contact Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Count_Point_Record_Counts</targetReference>
        </connector>
        <flowName>SMQS_Screen_Manage_ContactPoints_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_Account</assignToReference>
            <name>out_Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AllAddresses</assignToReference>
            <name>out_AllAddresses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AllEmails</assignToReference>
            <name>out_AllEmails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AllPhones</assignToReference>
            <name>out_AllPhones</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SyncACRs</assignToReference>
            <name>out_SyncACRs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NoSyncACRs</assignToReference>
            <name>out_NoSyncACRs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SyncPhoneACRs</assignToReference>
            <name>out_SyncPhoneACRs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NoSyncPhoneACRs</assignToReference>
            <name>out_NoSyncPhoneACRs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_HouseholdName</assignToReference>
            <name>out_HouseholdName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SyncACRs_Count</assignToReference>
            <name>out_SyncACRs_Count</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NoSyncACRs_Count</assignToReference>
            <name>out_NoSyncACRs_Count</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SyncPhoneACRs_Count</assignToReference>
            <name>out_SyncPhoneACRs_Count</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NoSyncPhoneACRs_Count</assignToReference>
            <name>out_NoSyncPhoneACRs_Count</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_PersonACR</assignToReference>
            <name>out_PersonACR</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The Id of the Account record page the flow is embedded on. Passed in automatically by the Lightning page. Used as the ParentId filter on all GET queries and stamped onto new records created via the repeaters.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Account record retrieved by Get_Account. Stores Id, Name, IsPersonAccount, PersonDoNotCall, Do_Not_Mail__c, and PersonHasOptedOutOfEmail. Name is referenced in Screen_Success and Error_Screen. IsPersonAccount drives Decision_Account_Type. Comm pref fields pre-populate the checkboxes on Screen_Select_Type_Person and Screen_Select_Type_Business.</description>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Controls header copy on Screen_Add_All_Person and Screen_Add_All_Business. Default is blank (blank-state path shows &quot;No contact information exists yet&quot;). Set to &quot;add&quot; by Assign_Set_Context_Add when the user arrives via the Add New path from an existing account.</description>
        <name>var_AddAllContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Captures the choice from Screen_Add_Or_Manage: &quot;Add&quot; routes to the add-all screen; &quot;Manage&quot; routes to the type picker. Evaluated by Decision_Add_Or_Manage.</description>
        <name>var_AddOrManage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All ContactPointAddress records for this Account. Pre-populated by Get_Addresses and bound to the AddressesList repeater. allItems output writes back after the screen.</description>
        <name>var_AllAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>All ContactPointEmail records for this Account. Pre-populated by Get_Emails (IsPrimary DESC) and bound as the collection input to the EmailsList repeater. After the user interacts with the repeater, the allItems output writes back to this variable — containing both edited existing records (with Id) and any newly added records (no Id).</description>
        <name>var_AllEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>All ContactPointPhone records for this Account. Pre-populated by Get_Phones and bound to the PhonesList repeater. allItems output writes back after the screen.</description>
        <name>var_AllPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Count of new address records built during the blank-state AddAll session.</description>
        <name>var_CountNewAddresses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count of new email records built during the blank-state AddAll session. Incremented by Assign_Build_New_Email_AddAll. Used to gate primary selection screen visibility.</description>
        <name>var_CountNewEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count of new phone records built during the blank-state AddAll session.</description>
        <name>var_CountNewPhones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ExistingAddressCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ExistingEmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ExistingPhoneCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The name of the household account. Set from out_HouseholdName after Subflow_Get_ContactInfo. Passed to Address and Phone subflows for display in sync table section headers.</description>
        <name>var_HouseholdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New ContactPointAddress records (Id is null) built by Loop_Split_Addresses. ParentId stamped. Passed to Create_New_Addresses.</description>
        <name>var_NewAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Re-queried ContactPointAddress records after blank-state insert. Used to back ccs_PrimaryAddress.</description>
        <name>var_NewAddressesForPrimary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>New ContactPointEmail records (Id is null) built by Loop_Split_Emails. Each record has ParentId stamped before being added here. Passed to Create_New_Emails for the insert DML.</description>
        <name>var_NewEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Re-queried ContactPointEmail records after blank-state insert. Used to back ccs_PrimaryEmail on Screen_Primary_Selection_AddAll.</description>
        <name>var_NewEmailsForPrimary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>New ContactPointPhone records (Id is null) built by Loop_Split_Phones. ParentId stamped. Passed to Create_New_Phones.</description>
        <name>var_NewPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Re-queried ContactPointPhone records after blank-state insert. Used to back ccs_PrimaryPhone.</description>
        <name>var_NewPhonesForPrimary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Active ACR records where Sync_Household_Address__c = false. Populated by Get_ACRs_Sync_No. Displayed in the &quot;Address will not sync to these people&quot; read-only table on Screen_Manage_Addresses.</description>
        <name>var_NoSyncACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Address__c = false. Set from out_NoSyncACRs_Count after Subflow_Get_ContactInfo. Passed to Address subflow to control sync table visibility.</description>
        <name>var_NoSyncACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Active ACR records where Sync_Household_Phone__c = false. Populated by Get_ACRs_Sync_Phone_No. Displayed in dt_SyncPhoneNo on Screen_Manage_Phones.</description>
        <name>var_NoSyncPhoneACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Phone__c = false. Set from out_NoSyncPhoneACRs_Count after Subflow_Get_ContactInfo. Passed to Phone subflow to control sync table visibility.</description>
        <name>var_NoSyncPhoneACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The Person Account&apos;s own ACR connecting them to their household. Null for Household/Business accounts. Set from out_PersonACR after Subflow_Get_ContactInfo. Passed to Address and Phone subflows to drive per-person sync visibility.</description>
        <name>var_PersonACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>The Id of the ContactPointAddress the user selected as primary on Screen_Primary_Selection_AddAll.</description>
        <name>var_PrimaryAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the ContactPointEmail the user selected as primary on Screen_Primary_Selection_AddAll.</description>
        <name>var_PrimaryEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the ContactPointPhone the user selected as primary on Screen_Primary_Selection_AddAll.</description>
        <name>var_PrimaryPhoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the contact info type selected by the user on the type picker screen (&quot;Email&quot;, &quot;Phone&quot;, or &quot;Address&quot;). Set by Assign_Set_Type_Person or Assign_Set_Type_Business. Evaluated by Decision_Route_Type.</description>
        <name>var_SelectedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Intermediate single-record variable used by Loop_Split_Addresses (update path) and Loop_Split_Addresses_New (new path) to stage field values before adding to var_UpdateAddresses or var_NewAddresses.</description>
        <name>var_SingleAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Intermediate single-record variable used by Loop_Split_Emails (update path) and Loop_Split_Emails_New (new path) to stage field values before adding to var_UpdateEmails or var_NewEmails.</description>
        <name>var_SingleEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Intermediate single-record variable used by Loop_Split_Phones (update path) and Loop_Split_Phones_New (new path) to stage field values before adding to var_UpdatePhones or var_NewPhones.</description>
        <name>var_SinglePhone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Active ACR records where Sync_Household_Address__c = true. Populated by Get_ACRs_Sync_Yes. Displayed in the &quot;Address will sync to these people&quot; read-only table on Screen_Manage_Addresses.</description>
        <name>var_SyncACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Address__c = true. Set from out_SyncACRs_Count after Subflow_Get_ContactInfo. Passed to Address subflow to control sync table visibility.</description>
        <name>var_SyncACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Active ACR records where Sync_Household_Phone__c = true. Populated by Get_ACRs_Sync_Phone_Yes. Displayed in dt_SyncPhoneYes on Screen_Manage_Phones.</description>
        <name>var_SyncPhoneACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Phone__c = true. Set from out_SyncPhoneACRs_Count after Subflow_Get_ContactInfo. Passed to Phone subflow to control sync table visibility.</description>
        <name>var_SyncPhoneACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
