force-app/main/default/flows/SMQS_Screen_Manage_ContactPoints_Phone_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Builds a delete-ready ContactPointPhone from the current Loop_Split_Phones (PrepopulatedItems) item. Stamps Id onto var_SinglePhone, adds to var_DeletePhones. Routes back to Loop_Split_Phones.</description>
        <name>Assign_Build_Delete_Phone</name>
        <label>Add Phone to Delete List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.TelephoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_TelephoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Map_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_MapTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasDeletePhones</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DeletePhones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SinglePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointPhone record from the current Loop_Split_Phones_New (AddedItems) iteration. Stamps screen field values and ParentId onto var_SinglePhone, then adds var_SinglePhone to var_NewPhones. Routes back to Loop_Split_Phones_New.</description>
        <name>Assign_Build_New_Phone</name>
        <label>Build New Phone Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.TelephoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_New.field_TelephoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ExtensionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_New.field_ExtensionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_New.field_Phone_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Map_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_New.field_Phone_MapTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_New.field_Phone_InvalidReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones_New.field_Phone_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewPhones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SinglePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Phones_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds an update-ready ContactPointPhone record from the current Loop_Split_Phones (PrepopulatedItems) iteration. Copies screen field values onto var_SinglePhone (preserving Id), then adds var_SinglePhone to var_UpdatePhones. Routes back to Loop_Split_Phones.</description>
        <name>Assign_Build_Update_Phone</name>
        <label>Build Update Phone Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.TelephoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_TelephoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ExtensionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_ExtensionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Map_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_MapTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_InvalidReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Phones.field_Phone_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdatePhones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SinglePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increments var_PrimaryCount by 1 when Loop_Count_Primary_Phones.field_Phone_IsPrimary is true. Routes back to Loop_Count_Primary_Phones.</description>
        <name>Assign_Count_Primary_Phone</name>
        <label>Increment Primary Phone Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increments var_PrimaryCount by 1 when a newly added phone row has the Primary checkbox checked. Routes back to Loop_Count_Primary_Phones_Added.</description>
        <name>Assign_Count_Primary_Phone_Added</name>
        <label>Increment Primary Phone Count (Added)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Phones_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_New_Phones</name>
        <label>Flag Has New Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_HasNewPhones</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Update_Phones</name>
        <label>Flag Has Update Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_HasUpdatePhones</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets var_PrimaryCount to 0 before the phone primary-validation loop. Routes to Loop_Count_Primary_Phones.</description>
        <name>Assign_Reset_Primary_Count_Phone</name>
        <label>Reset Primary Count for Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Phones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether var_DeletePhones contains any records. If yes, routes to Screen_Confirm_Delete_Phone. If no, routes to Decision_Has_New_Phones.</description>
        <name>Decision_Has_Delete_Phones</name>
        <label>Any Phones to Delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Phones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Deletes</defaultConnectorLabel>
        <rules>
            <name>Has_Delete_Phones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DeletePhones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Confirm_Delete_Phone</targetReference>
            </connector>
            <label>Has Phones to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_NewPhones contains any records. If not empty, routes to Create_New_Phones. If empty, skips to Decision_Has_Update_Phones.</description>
        <name>Decision_Has_New_Phones</name>
        <label>Any New Phones to Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_Update_Phones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Records</defaultConnectorLabel>
        <rules>
            <name>Has_New_Phones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewPhones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_New_Phones</targetReference>
            </connector>
            <label>Has New Phones</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_UpdatePhones contains any records. If not empty, routes to Update_Phones. If empty, routes to Screen_Success_Phone.</description>
        <name>Decision_Has_Update_Phones</name>
        <label>Any Phones to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Has_Update_Phones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_UpdatePhones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Update_Phones</targetReference>
            </connector>
            <label>Has Phones to Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>After deleting phones, routes to the field-clear loop only for Person Accounts. Business accounts don&apos;t have typed phone fields to clear.</description>
        <name>Decision_Is_Person_Account_Delete</name>
        <label>Is Person Account? (Post-Delete)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Phones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Clear_Account_Phone_Fields</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Loop_Count_Primary_Phones.field_Phone_IsPrimary is true. If true, increments var_PrimaryCount. If false, loops to next item.</description>
        <name>Decision_Is_Phone_Primary</name>
        <label>Is Phone Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Primary_Phones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Phone_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Primary_Phones.field_Phone_IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Primary_Phone</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks field_Phone_IsPrimary on current Loop_Count_Primary_Phones_Added item. If true, increments var_PrimaryCount. If false, continues to next item.</description>
        <name>Decision_Is_Phone_Primary_Added</name>
        <label>Is Added Phone Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Primary_Phones_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Phone_Added_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Primary_Phones_Added.field_Phone_IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Primary_Phone_Added</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Loop_Split_Phones.field_Phone_MarkedForDeletion. If true, routes to Assign_Build_Delete_Phone. If false, routes to Assign_Build_Update_Phone.</description>
        <name>Decision_Phone_Marked_Delete</name>
        <label>Phone Marked for Deletion?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Build_Update_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Marked</defaultConnectorLabel>
        <rules>
            <name>Phone_Is_Marked_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Phones.field_Phone_MarkedForDeletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_Delete_Phone</targetReference>
            </connector>
            <label>Marked for Deletion</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates var_PrimaryCount after Loop_Count_Primary_Phones and Loop_Count_Primary_Phones_Added. If greater than 1, routes to Screen_Error_Primary. If zero or one, proceeds to Loop_Split_Phones.</description>
        <name>Decision_Phone_Primary_Valid</name>
        <label>Phone Primary Count Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Phones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Phone_Too_Many_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PrimaryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error_Primary</targetReference>
            </connector>
            <label>More Than One Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the correct Account phone field clear based on the deleted CPP&apos;s Map_To__c value.</description>
        <name>Decision_Which_Phone_Field_To_Clear</name>
        <label>Which Account Phone Field?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Clear_Account_Phone_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mapped Field (skip)</defaultConnectorLabel>
        <rules>
            <name>Clear_Home_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Clear_Account_Phone_Fields.Map_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PersonHomePhone</targetReference>
            </connector>
            <label>Home Phone</label>
        </rules>
        <rules>
            <name>Clear_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Clear_Account_Phone_Fields.Map_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PersonMobilePhone</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Clear_Other_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Clear_Account_Phone_Fields.Map_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PersonOtherPhone</targetReference>
            </connector>
            <label>Other Phone</label>
        </rules>
    </decisions>
    <description>Screen subflow called by SMQS_Screen_Manage_ContactPoints to manage ContactPointPhone records for a given Account. Receives pre-queried phone records via var_AllPhones, the Account record via var_Account, and phone-sync ACR collections via var_SyncPhoneACRs and var_NoSyncPhoneACRs. Handles add, edit, and delete (with deletion confirmation) with primary validation (max one primary). All DML faults route to Error_Screen.</description>
    <dynamicChoiceSets>
        <description>Retrieves Invalid_Reason__c picklist values from ContactPointPhone for the Invalid Reason dropdown in Screen_Manage_Phones.</description>
        <name>dcs_InvalidReason_Phone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invalid_Reason__c</picklistField>
        <picklistObject>ContactPointPhone</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Retrieves Map_To__c picklist values from ContactPointPhone for the Map To dropdown in Screen_Manage_Phones.</description>
        <name>dcs_MapTo_Phone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Map_To__c</picklistField>
        <picklistObject>ContactPointPhone</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SMQS Manage ContactPoints Phone Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage ContactPoints Phone Subflow</label>
    <loops>
        <description>Iterates var_DeletePhones after deletion. For each deleted CPP, Decision_Which_Phone_Field routes to the appropriate Account field clear based on Map_To__c. Only runs for Person Accounts.</description>
        <name>Loop_Clear_Account_Phone_Fields</name>
        <label>Loop Over Deleted Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_DeletePhones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Which_Phone_Field_To_Clear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Has_New_Phones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates PhonesList.PrepopulatedItems to count how many have IsPrimary = true. Each item routes through Decision_Is_Phone_Primary. After all items, routes to Loop_Count_Primary_Phones_Added.</description>
        <name>Loop_Count_Primary_Phones</name>
        <label>Count Primary Phones (Existing)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PhonesList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Phone_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Count_Primary_Phones_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates PhonesList.AddedItems to count how many newly added phone rows have the Primary checkbox checked, continuing the tally from Loop_Count_Primary_Phones. After all added rows, Decision_Phone_Primary_Valid evaluates the total count.</description>
        <name>Loop_Count_Primary_Phones_Added</name>
        <label>Count Primary Phones (Added)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PhonesList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Phone_Primary_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Phone_Primary_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates PhonesList.PrepopulatedItems. Routes each item through Decision_Phone_Marked_Delete: if Marked_For_Deletion__c is true, adds to var_DeletePhones; otherwise builds update record.</description>
        <name>Loop_Split_Phones</name>
        <label>Build Update Phones from Existing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PhonesList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Phone_Marked_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Split_Phones_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates PhonesList.AddedItems after primary validation passes. For each added row, Assign_Build_New_Phone stamps screen field values and ParentId onto var_SinglePhone, then adds var_SinglePhone to var_NewPhones. Routes to Decision_Has_Delete_Phones when done.</description>
        <name>Loop_Split_Phones_New</name>
        <label>Build New Phones from Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PhonesList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Build_New_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Has_Delete_Phones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Performs a single DML insert for all records in var_NewPhones. On success, routes to Decision_Has_Update_Phones. On fault, routes to Error_Screen.</description>
        <name>Create_New_Phones</name>
        <label>Create New Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_Update_Phones</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_NewPhones</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Permanently deletes all records in var_DeletePhones. On success, routes to Decision_Is_Person_Account_Delete. On fault, routes to Error_Screen.</description>
        <name>Delete_Phones</name>
        <label>Delete Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_Person_Account_Delete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_DeletePhones</inputReference>
    </recordDeletes>
    <recordUpdates>
        <description>Clears PersonHomePhone on the Account when a deleted CPP had Map_To__c = Home Phone. Routes back to loop.</description>
        <name>Clear_PersonHomePhone</name>
        <label>Clear PersonHomePhone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Clear_Account_Phone_Fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonHomePhone</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears PersonMobilePhone on the Account when a deleted CPP had Map_To__c = Mobile. Routes back to loop.</description>
        <name>Clear_PersonMobilePhone</name>
        <label>Clear PersonMobilePhone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Clear_Account_Phone_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMobilePhone</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears PersonOtherPhone on the Account when a deleted CPP had Map_To__c = Other Phone. Routes back to loop.</description>
        <name>Clear_PersonOtherPhone</name>
        <label>Clear PersonOtherPhone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Clear_Account_Phone_Fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonOtherPhone</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Performs a single DML update for all records in var_UpdatePhones. On success, routes to Screen_Success_Phone. On fault, routes to Error_Screen.</description>
        <name>Update_Phones</name>
        <label>Update Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success_Phone</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_UpdatePhones</inputReference>
    </recordUpdates>
    <screens>
        <description>Shared fault screen displayed when any DML operation fails. Surfaces the triggering record Id and name, the full fault message, and the current flow stage so an administrator can diagnose the failure.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The screen flow &quot;Manage Contact Points&quot; has failed.&amp;nbsp;Please send this message to your administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Triggering record: {!recordId} - {!var_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Fault Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Current Stage: {!$Flow.CurrentStage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen shown when var_DeletePhones is not empty. Displays phones to be permanently deleted and phones to be kept. User clicks Confirm Delete to proceed or Go Back to uncheck.</description>
        <name>Screen_Confirm_Delete_Phone</name>
        <label>Confirm Phone Deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back and Review</backButtonLabel>
        <connector>
            <targetReference>Delete_Phones</targetReference>
        </connector>
        <fields>
            <name>txt_Confirm_Delete_Phone_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The following phone numbers will be permanently deleted. This cannot be undone. Click &quot;Go Back and Review&quot; to uncheck any that should be kept.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Delete_Phone_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Phone numbers to be deleted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 13px;&quot;&gt;Note: Based on the Map To field, a phone field on the account record (Home Phone, Mobile, Other Phone) will be cleared when records are deleted.﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasDeletePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Delete_Phones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phones to be deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_DeletePhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Map To&quot;,&quot;fieldName&quot;:&quot;Map_To__c&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasDeletePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Keep_Phone_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Phone numbers that will be kept&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdatePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Keep_Phones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phones that will be kept</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_UpdatePhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Map To&quot;,&quot;fieldName&quot;:&quot;Map_To__c&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdatePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displayed when the user marks more than one record as Primary in the repeater. allowBack is true so the user can return and correct. allowFinish is false so the flow cannot complete in this error state.</description>
        <name>Screen_Error_Primary</name>
        <label>Primary Validation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Error_Primary</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Only one record can be marked as Primary.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please go back and update your selections so that no more than one record has Primary checked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays all ContactPointPhone records for this Account in a repeater pre-populated from var_AllPhones (sorted primary first). Two read-only datatables above the repeater show which household members will (var_SyncPhoneACRs) and will not (var_NoSyncPhoneACRs) receive phone syncs. Users can edit or add rows. On Save, primary validation runs before DML.</description>
        <name>Screen_Manage_Phones</name>
        <label>Manage Phone Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reset_Primary_Count_Phone</targetReference>
        </connector>
        <fields>
            <name>Screen_Manage_Phones_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Manage_Phones_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_SyncPhoneYes_Header_Person</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A home phone will be shared with these household members:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_SyncPhoneACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_SyncPhoneYes_Header_Household</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The household&apos;s phone will be shared with these household members as their home phone:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_SyncPhoneACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_Account.Is_Household__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dt_SyncPhoneYes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone sync is on for these contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_SyncPhoneACRs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Contact_Name__c&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;AccountContactRelation&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_SyncPhoneACRs&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_SyncPhoneACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_SyncPhone_NoSync_Notice_Generic</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;These household members won&apos;t be affected by any changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_NoSyncPhoneACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dt_SyncPhoneNo</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone sync is off for these contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_NoSyncPhoneACRs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Contact_Name__c&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;AccountContactRelation&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_NoSyncPhoneACRs&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_NoSyncPhoneACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_PersonACR.Sync_Household_Phone__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_Account.Is_Household__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_SyncPhone_NoSync_Notice</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Replacing the primary phone will not affect the household — phone sync is off for this member.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_PersonACR.Sync_Household_Phone__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PhonesList</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>txt_Phone_Marked_Delete_Above</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;⚠ This phone number is marked for deletion.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>PhonesList.AllItems[$EachItem].field_Phone_MarkedForDeletion</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>field_TelephoneNumber</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Phone Number</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>var_AllPhones[$EachItem].TelephoneNumber</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_ExtensionNumber</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>var_AllPhones[$EachItem].ExtensionNumber</elementReference>
                </defaultValue>
                <fieldText>Extension</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Phone_MapTo</name>
                <choiceReferences>dcs_MapTo_Phone</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>PhonesList.AllItems[$EachItem].field_Phone_MapTo</elementReference>
                </defaultValue>
                <fieldText>Map To</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>field_Phone_IsActive</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllPhones[$EachItem].Active__c</elementReference>
                </defaultValue>
                <fieldText>Active</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Phone_IsPrimary</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllPhones[$EachItem].IsPrimary</elementReference>
                </defaultValue>
                <fieldText>Primary</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Phone_InvalidReason</name>
                <choiceReferences>dcs_InvalidReason_Phone</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>var_AllPhones[$EachItem].Invalid_Reason__c</elementReference>
                </defaultValue>
                <fieldText>Invalid Reason</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Phone_MarkedForDeletion</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllPhones[$EachItem].Marked_For_Deletion__c</elementReference>
                </defaultValue>
                <fieldText>Mark for Deletion</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>txt_Phone_Marked_Delete_Below</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;⚠ This phone number is marked for deletion.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>PhonesList.AllItems[$EachItem].field_Phone_MarkedForDeletion</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_AllPhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen displayed after phone DML completes successfully. Shows the Account name and tables of created and updated phone number records.</description>
        <name>Screen_Success_Phone</name>
        <label>Phone Numbers Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Success_Phone_None</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;No records have been updated or created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewPhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_HasUpdatePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Success_Phone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;These phone numbers for &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!var_Account.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; have been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewPhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Success_Phone_Created</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_NewPhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Extension&quot;,&quot;fieldName&quot;:&quot;ExtensionNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Map To&quot;,&quot;fieldName&quot;:&quot;Map_To__c&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointPhone&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_NewPhones&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewPhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Success_Phone_Update</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;These phone numbers for &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_Account.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; have been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdatePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Success_Phone_Updated</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Updated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_UpdatePhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Extension&quot;,&quot;fieldName&quot;:&quot;ExtensionNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Map To&quot;,&quot;fieldName&quot;:&quot;Map_To__c&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointPhone&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_UpdatePhones&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdatePhones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Manage_Phones</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account Id passed in from the parent flow. Used to stamp ParentId on new ContactPointPhone records.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account record passed in from the parent flow. Used in error screen display ({!var_Account.Name}).</description>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>All ContactPointPhone records for this Account, pre-queried by the parent flow via SMQS_Screen_Manage_ContactPoints_Subflow. Passed in sorted IsPrimary DESC. Used to pre-populate the PhonesList repeater.</description>
        <name>var_AllPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Accumulates delete-ready ContactPointPhone records (Id-only) built from PhonesList.PrepopulatedItems marked for deletion during Loop_Split_Phones. Passed to Delete_Phones for a single bulk delete.</description>
        <name>var_DeletePhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Set to true by Assign_Build_Delete_Phone when at least one phone is marked for deletion. Used by visibility rules on the delete table and its header on Screen_Confirm_Delete_Phone.</description>
        <name>var_HasDeletePhones</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Set to true by Assign_Flag_New_Phones when var_NewPhones is not empty. Used by Screen_Success_Phone to conditionally show the Created datatable.</description>
        <name>var_HasNewPhones</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Set to true by Assign_Flag_Update_Phones when var_UpdatePhones is not empty. Used by Screen_Success_Phone to conditionally show the Updated datatable.</description>
        <name>var_HasUpdatePhones</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The household account name, passed in from the parent. Used in the Household Phone Sync section header.</description>
        <name>var_HouseholdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Accumulates new ContactPointPhone records built from PhonesList.AddedItems during Loop_Split_Phones_New. Passed to Create_New_Phones for a single bulk insert.</description>
        <name>var_NewPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Active AccountContactRelation records where Sync_Household_Phone__c = false. Pre-queried by parent. Displayed in dt_SyncPhoneNo on Screen_Manage_Phones.</description>
        <name>var_NoSyncPhoneACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Phone__c = false. Passed in from parent. Used by visibility rules on phone sync section headers and dt_SyncPhoneNo.</description>
        <name>var_NoSyncPhoneACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The Person Account&apos;s own ACR connecting them to their household. Null for Household/Business accounts. Sync_Household_Phone__c drives visibility of the individual no-sync notice.</description>
        <name>var_PersonACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Counter used by Loop_Count_Primary_Phones and Loop_Count_Primary_Phones_Added to tally how many rows have IsPrimary = true. Reset to 0 by Assign_Reset_Primary_Count_Phone before counting. Evaluated by Decision_Phone_Primary_Valid.</description>
        <name>var_PrimaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Scratch variable used as a staging record during the build loops. Reused for new and update scenarios.</description>
        <name>var_SinglePhone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Active AccountContactRelation records where Sync_Household_Phone__c = true. Pre-queried by parent. Displayed in dt_SyncPhoneYes on Screen_Manage_Phones.</description>
        <name>var_SyncPhoneACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Phone__c = true. Passed in from parent. Used by visibility rules on phone sync section headers and dt_SyncPhoneYes.</description>
        <name>var_SyncPhoneACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Accumulates update-ready ContactPointPhone records built from PhonesList.PrepopulatedItems (not marked for deletion) during Loop_Split_Phones. Passed to Update_Phones for a single bulk update.</description>
        <name>var_UpdatePhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
</Flow>
