force-app/main/default/flows/SMQS_Screen_Manage_ContactPoints_Address_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Builds a delete-ready ContactPointAddress from the current Loop_Split_Addresses (PrepopulatedItems) item. Stamps Id onto var_SingleAddress, adds to var_DeleteAddresses. Routes back to Loop_Split_Addresses.</description>
        <name>Assign_Build_Delete_Address</name>
        <label>Add Address to Delete List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasDeletePrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DeleteAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointAddress record from the current Loop_Split_Addresses_New (AddedItems) iteration. Stamps screen field values and ParentId onto var_SingleAddress, then adds var_SingleAddress to var_NewAddresses. Routes back to Loop_Split_Addresses_New.</description>
        <name>Assign_Build_New_Address</name>
        <label>Build New Address Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AddressName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsUndeliverable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address_IsUndeliverable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses_New.field_Address_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Addresses_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds an update-ready ContactPointAddress record from the current Loop_Split_Addresses (PrepopulatedItems) iteration. Copies screen field values onto var_SingleAddress (preserving Id), then adds var_SingleAddress to var_UpdateAddresses. Routes back to Loop_Split_Addresses.</description>
        <name>Assign_Build_Update_Address</name>
        <label>Build Update Address Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.IsUndeliverable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address_IsUndeliverable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleAddress.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Addresses.field_Address_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increments var_PrimaryCount by 1 when Loop_Count_Primary_Addresses.field_Address_IsPrimary is true. Routes back to Loop_Count_Primary_Addresses.</description>
        <name>Assign_Count_Primary_Address</name>
        <label>Increment Primary Address Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increments var_PrimaryCount by 1 when a newly added address row has the Primary checkbox checked. Routes back to Loop_Count_Primary_Addresses_Added.</description>
        <name>Assign_Count_Primary_Address_Added</name>
        <label>Increment Primary Address Count (Added)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Addresses_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_New_Addresses</name>
        <label>Flag Has New Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_HasNewAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Update_Addresses</name>
        <label>Flag Has Update Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_HasUpdateAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets var_PrimaryCount to 0 before the address primary-validation loop. Routes to Loop_Count_Primary_Addresses.</description>
        <name>Assign_Reset_Primary_Count_Address</name>
        <label>Reset Primary Count for Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Addresses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks Loop_Split_Addresses.field_Address_MarkedForDeletion. If true, routes to Assign_Build_Delete_Address. If false, routes to Assign_Build_Update_Address.</description>
        <name>Decision_Address_Marked_Delete</name>
        <label>Address Marked for Deletion?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Build_Update_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Marked</defaultConnectorLabel>
        <rules>
            <name>Address_Is_Marked_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Addresses.field_Address_MarkedForDeletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_Delete_Address</targetReference>
            </connector>
            <label>Marked for Deletion</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates var_PrimaryCount after Loop_Count_Primary_Addresses and Loop_Count_Primary_Addresses_Added. If greater than 1, routes to Screen_Error_Primary. If zero or one, proceeds to Loop_Split_Addresses.</description>
        <name>Decision_Address_Primary_Valid</name>
        <label>Address Primary Count Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Address_Too_Many_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PrimaryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error_Primary</targetReference>
            </connector>
            <label>More Than One Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>After deleting addresses, routes to clear Account address fields only if a primary address was deleted. Skips if no deleted address was primary.</description>
        <name>Decision_Clear_Address_Account_Fields</name>
        <label>Primary Address Deleted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Deleted</defaultConnectorLabel>
        <rules>
            <name>Primary_Address_Was_Deleted_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HasDeletePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PersonMailing_Fields</targetReference>
            </connector>
            <label>Person Account Primary Deleted</label>
        </rules>
        <rules>
            <name>Primary_Address_Was_Deleted_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HasDeletePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Billing_Fields</targetReference>
            </connector>
            <label>Business Account Primary Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_DeleteAddresses contains any records. If yes, routes to Screen_Confirm_Delete_Address. If no, routes to Decision_Has_New_Addresses.</description>
        <name>Decision_Has_Delete_Addresses</name>
        <label>Any Addresses to Delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Deletes</defaultConnectorLabel>
        <rules>
            <name>Has_Delete_Addresses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DeleteAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Confirm_Delete_Address</targetReference>
            </connector>
            <label>Has Addresses to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_NewAddresses contains any records. If not empty, routes to Assign_Flag_New_Addresses then Create_New_Addresses. If empty, skips to Decision_Has_Update_Addresses.</description>
        <name>Decision_Has_New_Addresses</name>
        <label>Any New Addresses to Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_Update_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Records</defaultConnectorLabel>
        <rules>
            <name>Has_New_Addresses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_New_Addresses</targetReference>
            </connector>
            <label>Has New Addresses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_UpdateAddresses contains any records. If not empty, routes to Assign_Flag_Update_Addresses then Update_Addresses. If empty, routes to Screen_Success_Address.</description>
        <name>Decision_Has_Update_Addresses</name>
        <label>Any Addresses to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Has_Update_Addresses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_UpdateAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Update_Addresses</targetReference>
            </connector>
            <label>Has Addresses to Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Loop_Count_Primary_Addresses.field_Address_IsPrimary is true. If true, increments var_PrimaryCount. If false, loops to next item.</description>
        <name>Decision_Is_Address_Primary</name>
        <label>Is Address Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Primary_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Address_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Primary_Addresses.field_Address_IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Primary_Address</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks field_Address_IsPrimary on current Loop_Count_Primary_Addresses_Added item. If true, increments var_PrimaryCount. If false, continues to next item.</description>
        <name>Decision_Is_Address_Primary_Added</name>
        <label>Is Added Address Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Primary_Addresses_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Address_Added_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Primary_Addresses_Added.field_Address_IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Primary_Address_Added</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <description>Screen subflow called by SMQS_Screen_Manage_ContactPoints when the user selects Address. Manages ContactPointAddress records: edit, add, delete with confirmation. Receives pre-queried collections from the parent. Has its own Error_Screen and Screen_Error_Primary.</description>
    <environments>Default</environments>
    <formulas>
        <description>Abbreviated month name for the CPA name stamp.</description>
        <name>formula_AddressMonthAbbrev</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Flow.CurrentDate}),
  1, &quot;Jan&quot;,
  2, &quot;Feb&quot;,
  3, &quot;Mar&quot;,
  4, &quot;Apr&quot;,
  5, &quot;May&quot;,
  6, &quot;Jun&quot;,
  7, &quot;Jul&quot;,
  8, &quot;Aug&quot;,
  9, &quot;Sep&quot;,
  10, &quot;Oct&quot;,
  11, &quot;Nov&quot;,
  &quot;Dec&quot;)</expression>
    </formulas>
    <formulas>
        <description>CPA Name convention: [Account Name] Mailing Address [Mon, YYYY]. Used when creating new ContactPointAddress records.</description>
        <name>formula_AddressName</name>
        <dataType>String</dataType>
        <expression>{!var_Account.Name} &amp; &quot; Mailing Address &quot; &amp; {!formula_AddressMonthAbbrev} &amp; &quot;, &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <description>Returns &quot;Mailing&quot; for Person Accounts and &quot;Billing&quot; for Business Accounts. Used in address screen labels and success headers.</description>
        <name>formula_AddressTypeLabel</name>
        <dataType>String</dataType>
        <expression>IF({!var_Account.IsPersonAccount}, &quot;Mailing&quot;, &quot;Billing&quot;)</expression>
    </formulas>
    <interviewLabel>SMQS Manage ContactPoints Address Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage ContactPoints Address Subflow</label>
    <loops>
        <description>Iterates var_AllAddresses (updated by the AddressesList repeater allItems output) to count how many have IsPrimary = true. After all items, Loop_Count_Primary_Addresses_Added continues the tally.</description>
        <name>Loop_Count_Primary_Addresses</name>
        <label>Count Primary Addresses (Existing)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AddressesList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Address_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Count_Primary_Addresses_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates AddressesList.AddedItems to count how many newly added address rows have the Primary checkbox checked. After all added rows, Decision_Address_Primary_Valid evaluates the total count.</description>
        <name>Loop_Count_Primary_Addresses_Added</name>
        <label>Count Primary Addresses (Added)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AddressesList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Address_Primary_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Address_Primary_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates AddressesList.PrepopulatedItems. Routes each item through Decision_Address_Marked_Delete: if Marked_For_Deletion__c is true, adds to var_DeleteAddresses; otherwise builds update record. No DML inside the loop.</description>
        <name>Loop_Split_Addresses</name>
        <label>Build Update Addresses from Existing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AddressesList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Address_Marked_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Split_Addresses_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates AddressesList.AddedItems after primary validation passes. For each added row, Assign_Build_New_Address stamps screen field values and ParentId onto var_SingleAddress, then adds var_SingleAddress to var_NewAddresses. Routes to Decision_Has_Delete_Addresses when done.</description>
        <name>Loop_Split_Addresses_New</name>
        <label>Build New Addresses from Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AddressesList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Build_New_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Has_Delete_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Performs a single DML insert for all records in var_NewAddresses. On success, routes to Decision_Has_Update_Addresses. On fault, routes to Error_Screen.</description>
        <name>Create_New_Addresses</name>
        <label>Create New Address Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_Update_Addresses</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_NewAddresses</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Permanently deletes all records in var_DeleteAddresses. On success, routes to Decision_Clear_Address_Account_Fields. On fault, routes to Error_Screen.</description>
        <name>Delete_Addresses</name>
        <label>Delete Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Clear_Address_Account_Fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_DeleteAddresses</inputReference>
    </recordDeletes>
    <recordUpdates>
        <description>Clears Billing* fields on the Account when the deleted address was primary and the account is a Business Account.</description>
        <name>Clear_Billing_Fields</name>
        <label>Clear Billing Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_New_Addresses</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears PersonMailing* fields on the Account when the deleted address was primary and the account is a Person Account.</description>
        <name>Clear_PersonMailing_Fields</name>
        <label>Clear PersonMailing Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_New_Addresses</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMailingCity</field>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Performs a single DML update for all records in var_UpdateAddresses. On success, routes to Screen_Success_Address. On fault, routes to Error_Screen.</description>
        <name>Update_Addresses</name>
        <label>Update Address Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_UpdateAddresses</inputReference>
    </recordUpdates>
    <screens>
        <description>Fault screen displayed when any DML operation fails. Surfaces the triggering record Id and name, the full fault message, and the current flow stage.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The screen flow &quot;Manage Contact Points&quot; has failed.&amp;nbsp;Please send this message to your administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Triggering record: {!recordId} - {!var_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Fault Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Current Stage: {!$Flow.CurrentStage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen shown when var_DeleteAddresses is not empty. Displays records to be permanently deleted and records to be kept. User clicks Confirm Delete to proceed, or Go Back to uncheck marks.</description>
        <name>Screen_Confirm_Delete_Address</name>
        <label>Confirm Address Deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back and Review</backButtonLabel>
        <connector>
            <targetReference>Delete_Addresses</targetReference>
        </connector>
        <fields>
            <name>txt_Confirm_Delete_Address_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The following addresses will be permanently deleted. This cannot be undone. Click &quot;Go Back and Review&quot; to uncheck any that should be kept.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Delete_Address_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Addresses to be deleted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_Delete_Addresses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointAddress</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Addresses to be deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_DeleteAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Street&quot;,&quot;fieldName&quot;:&quot;Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;City&quot;,&quot;fieldName&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;State&quot;,&quot;fieldName&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Keep_Address_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Addresses that will be kept&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_Keep_Addresses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointAddress</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Addresses that will be kept</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_UpdateAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Street&quot;,&quot;fieldName&quot;:&quot;Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;City&quot;,&quot;fieldName&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;State&quot;,&quot;fieldName&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_UpdateAddresses&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displayed when the user marks more than one record as Primary in the repeater. allowBack is true so the user can return and correct. allowFinish is false so the flow cannot complete in this error state.</description>
        <name>Screen_Error_Primary</name>
        <label>Primary Validation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Error_Primary</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Only one record can be marked as Primary.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please go back and update your selections so that no more than one record has Primary checked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays all ContactPointAddress records for this Account in a repeater pre-populated from var_AllAddresses (sorted primary first). Two read-only datatables above show which household members will (var_SyncACRs) and will not (var_NoSyncACRs) receive address syncs. Users can edit or add address rows. On Save, primary validation runs before DML.</description>
        <name>Screen_Manage_Addresses</name>
        <label>Manage Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reset_Primary_Count_Address</targetReference>
        </connector>
        <fields>
            <name>Screen_Manage_Addresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Manage_Addresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_SyncYes_Header_Person</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The primary address will be shared with these household members:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_SyncACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_SyncYes_Header_Household</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The household&apos;s address will be shared with these household members as their primary address:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_SyncACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_Account.Is_Household__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dt_SyncYes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Address will sync to these people</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_SyncACRs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Contact Name&quot;,&quot;fieldName&quot;:&quot;Contact_Name__c&quot;,&quot;type&quot;:&quot;customRichText&quot;,&quot;order&quot;:0,&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;AccountContactRelation&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_SyncACRs&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;AccountContactRelation&quot;,&quot;fieldReferences&quot;:[&quot;Contact_Name__c&quot;],&quot;elementReference&quot;:&quot;var_SyncACRs&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_SyncACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_SyncAddress_NoSync_Notice_Generic</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;These household members won&apos;t be affected by any changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_NoSyncACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dt_SyncNo</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Address sync is off for these contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>var_NoSyncACRs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Contact Name&quot;,&quot;fieldName&quot;:&quot;Contact_Name__c&quot;,&quot;type&quot;:&quot;customRichText&quot;,&quot;order&quot;:0,&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_NoSyncACRs_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_PersonACR.Sync_Household_Address__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_Account.Is_Household__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_SyncAddress_NoSync_Notice</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Replacing the primary address will not affect the household — address sync is off for this member.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_PersonACR.Sync_Household_Address__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressesList</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>txt_Address_Marked_Delete_Above</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;⚠ This address is marked for deletion.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>AddressesList.AllItems[$EachItem].field_Address_MarkedForDeletion</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>field_Address</name>
                <extensionName>flowruntime:address</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>addressLabel</name>
                    <value>
                        <elementReference>formula_AddressTypeLabel</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>street</name>
                    <value>
                        <elementReference>var_AllAddresses[$EachItem].Street</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>city</name>
                    <value>
                        <elementReference>var_AllAddresses[$EachItem].City</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>province</name>
                    <value>
                        <elementReference>var_AllAddresses[$EachItem].State</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>postalCode</name>
                    <value>
                        <elementReference>var_AllAddresses[$EachItem].PostalCode</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>country</name>
                    <value>
                        <elementReference>var_AllAddresses[$EachItem].Country</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>showAddressLookup</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>addressLookupLabel</name>
                    <value>
                        <stringValue>Option: Search Google Maps</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Address_IsPrimary</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllAddresses[$EachItem].IsPrimary</elementReference>
                </defaultValue>
                <fieldText>Primary</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Address_IsUndeliverable</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllAddresses[$EachItem].IsUndeliverable</elementReference>
                </defaultValue>
                <fieldText>Undeliverable</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Address_IsActive</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllAddresses[$EachItem].Active__c</elementReference>
                </defaultValue>
                <fieldText>Active</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Address_MarkedForDeletion</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllAddresses[$EachItem].Marked_For_Deletion__c</elementReference>
                </defaultValue>
                <fieldText>Mark for Deletion</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>txt_Address_Marked_Delete_Below</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;⚠ This address is marked for deletion.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>AddressesList.AllItems[$EachItem].field_Address_MarkedForDeletion</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_AllAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Manage_Addresses_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Manage_Addresses_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen displayed after address DML completes successfully. Shows the Account name and tables of created and updated mailing address records.</description>
        <name>Screen_Success_Address</name>
        <label>Addresses Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Success_Address_None</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No addresses have been created or updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdateAddresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_HasNewAddresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Success_Address_Created</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!formula_AddressTypeLabel} addresses for &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!var_Account.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; have been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewAddresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Success_Address_Created</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointAddress</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_NewAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Street&quot;,&quot;fieldName&quot;:&quot;Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;City&quot;,&quot;fieldName&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;State&quot;,&quot;fieldName&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Postal Code&quot;,&quot;fieldName&quot;:&quot;PostalCode&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_NewAddresses&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewAddresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Success_Address_Update</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!formula_AddressTypeLabel} addresses for &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!var_Account.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;have been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdateAddresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Success_Address_Updated</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointAddress</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Updated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_UpdateAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Street&quot;,&quot;fieldName&quot;:&quot;Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;City&quot;,&quot;fieldName&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;State&quot;,&quot;fieldName&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Postal Code&quot;,&quot;fieldName&quot;:&quot;PostalCode&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointAddress&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_UpdateAddresses&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdateAddresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Manage_Addresses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account Id passed in from the parent flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pre-queried Account record. Used for name display in success/error screens.</description>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>All ContactPointAddress records for this Account. Pre-queried by parent and passed in. Bound to the AddressesList repeater.</description>
        <name>var_AllAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>ContactPointAddress records marked for deletion by the user in the repeater. Built by Assign_Build_Delete_Address during Loop_Split_Addresses. Passed to Delete_Addresses.</description>
        <name>var_DeleteAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Set to true when a deleted address had IsPrimary = true. Used to decide whether to clear Account address fields after deletion.</description>
        <name>var_HasDeletePrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HasNewAddresses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_HasUpdateAddresses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The household account name, passed in from the parent. Used in the Household Address Sync section header.</description>
        <name>var_HouseholdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New ContactPointAddress records (Id is null) built by Loop_Split_Addresses_New. ParentId stamped. Passed to Create_New_Addresses.</description>
        <name>var_NewAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Active ACRs where Sync_Household_Address__c = false. Pre-queried by parent. Displayed in dt_SyncNo.</description>
        <name>var_NoSyncACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Address__c = false. Passed in from parent. Used by visibility rules on sync section headers and dt_SyncNo.</description>
        <name>var_NoSyncACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The Person Account&apos;s own ACR connecting them to their household. Null for Household/Business accounts. Sync_Household_Address__c drives visibility of the individual no-sync notice.</description>
        <name>var_PersonACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Counter incremented by primary-counting loops. Reset to 0 by Assign_Reset_Primary_Count_Address before the loop runs. Evaluated by Decision_Address_Primary_Valid — if greater than 1, routes to Screen_Error_Primary.</description>
        <name>var_PrimaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Intermediate single-record variable used by Loop_Split_Addresses and Loop_Split_Addresses_New to stage field values before adding to var_UpdateAddresses or var_NewAddresses.</description>
        <name>var_SingleAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Active ACRs where Sync_Household_Address__c = true. Pre-queried by parent. Displayed in dt_SyncYes.</description>
        <name>var_SyncACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Count of active ACRs where Sync_Household_Address__c = true. Passed in from parent. Used by visibility rules on sync section headers and dt_SyncYes.</description>
        <name>var_SyncACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Existing ContactPointAddress records (Id is not null) built by Loop_Split_Addresses. Passed to Update_Addresses.</description>
        <name>var_UpdateAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
</Flow>
