force-app/main/default/flows/SMQS_Phone_ContactPointPhone_Helper_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Captures the runtime fault message when a DML operation fails, ending the flow gracefully rather than rolling back the triggering transaction.</description>
        <name>Assign_Fault_Message</name>
        <label>Capture Fault and End</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Decides whether the new value already has an active ContactPointPhone (update) or not (create). Routes both create and update paths through the UsageType branch.</description>
        <name>Active_CPP_for_New_Value_Found</name>
        <label>Active CPP for New Value Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_New_Active_CPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_CPP_for_New_Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_MapTo_To_Stamp</targetReference>
            </connector>
            <label>Yes - Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the Map_To__c-aware update path when the caller passes a non-blank Map_To__c value, or to the simple update path otherwise. This prevents an AccountPhone-field sync (which passes no Map_To__c) from clobbering a user-set value on an existing CPP.</description>
        <name>Has_MapTo_To_Stamp</name>
        <label>Has Map To to Stamp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Active_CPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Update Without Map To</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_MapTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MapTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_MapTo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Active_CPP_With_MapTo</targetReference>
            </connector>
            <label>Yes - Update With Map To</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes processing based on whether the Account phone field has a new (non-blank) value, an old (released) value, or both.</description>
        <name>New_Value_Provided</name>
        <label>New Value Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Old_Value_Released</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NewValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_CPP_for_New_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Guards the Demote path when the released number is still in another field. If this is a non-AccountPhone-field call and the released number IS the current AccountPhone (var_OtherValue1), the AccountPhone sync already set IsPrimary correctly for that CPP — skip the demote to avoid overwriting it.</description>
        <name>Old_Value_Is_AccountPhone</name>
        <label>Old Value Is AccountPhone?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Active_CPP_for_Old_Value_to_Demote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Demote</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip_Demote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsAccountPhoneField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_OtherValue1</elementReference>
                </rightValue>
            </conditions>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to invalidation only when the old value was actually released (non-blank and changed).</description>
        <name>Old_Value_Released</name>
        <label>Old Value Released?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Old_Value_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_NewValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Value_Still_in_Another_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the released old value is still present in another phone field on the same Account.</description>
        <name>Old_Value_Still_in_Another_Field</name>
        <label>Old Value Still in Another Field?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Active_CPP_for_Old_Value_to_Invalidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Invalidate</defaultConnectorLabel>
        <rules>
            <name>Yes_Still_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_OtherValue1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_OtherValue2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_OtherValue3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_OtherValue4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Value_Is_AccountPhone</targetReference>
            </connector>
            <label>Yes - Demote Only</label>
        </rules>
    </decisions>
    <description>Helper subflow for SMQS_Sync_Account_to_ContactPointPhone. For one Account phone field at a time, upserts the active ContactPointPhone for the new value and invalidates or demotes the active ContactPointPhone for the old value.</description>
    <environments>Default</environments>
    <formulas>
        <description>True when this call is for the AccountPhone field, or when the new value equals the current AccountPhone (var_OtherValue1 for non-AccountPhone calls). Ensures a CPP whose TelephoneNumber matches Account.Phone always carries IsPrimary = true regardless of which phone field triggered the sync.</description>
        <name>var_ShouldBePrimary</name>
        <dataType>Boolean</dataType>
        <expression>{!var_IsAccountPhoneField} || ({!var_NewValue} = {!var_OtherValue1})</expression>
    </formulas>
    <interviewLabel>SMQS Phone ContactPointPhone Helper Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Phone ContactPointPhone Helper Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new active ContactPointPhone. Stamps Map_To__c when a value is passed; leaves it blank for AccountPhone-field syncs. Historical CPPs with Invalid_Reason__c set are intentionally not touched.</description>
        <name>Create_New_Active_CPP</name>
        <label>Create New Active CPP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Old_Value_Released</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>var_ShouldBePrimary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Map_To__c</field>
            <value>
                <elementReference>var_MapTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>var_NewValue</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordCreates>
    <recordLookups>
        <description>Look up any existing ContactPointPhone for the new value regardless of Invalid_Reason__c. If found (active or previously invalidated), it will be reactivated rather than creating a duplicate record.</description>
        <name>Get_Active_CPP_for_New_Value</name>
        <label>Get Active CPP for New Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_CPP_for_New_Value_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TelephoneNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look up the active ContactPointPhone for the released old value when the same number remains in another phone field. Used to demote IsPrimary without invalidating.</description>
        <name>Get_Active_CPP_for_Old_Value_to_Demote</name>
        <label>Get Active CPP for Old Value (Demote)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demote_Old_CPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TelephoneNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look up the active ContactPointPhone for the released old value to invalidate it.</description>
        <name>Get_Active_CPP_for_Old_Value_to_Invalidate</name>
        <label>Get Active CPP for Old Value (Invalidate)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invalidate_Old_CPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TelephoneNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>The released number is still held in another phone field on the same Account. Keep the CPP active but ensure IsPrimary = false so only the new AccountPhone CPP is primary.</description>
        <name>Demote_Old_CPP</name>
        <label>Demote Old CPP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPP_for_Old_Value_to_Demote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordUpdates>
    <recordUpdates>
        <description>Marks the released number&apos;s active CPP as historical: sets Invalid_Reason__c = Wrong Number and IsPrimary = false.</description>
        <name>Invalidate_Old_CPP</name>
        <label>Invalidate Old CPP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPP_for_Old_Value_to_Invalidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invalid_Reason__c</field>
            <value>
                <stringValue>Wrong Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordUpdates>
    <recordUpdates>
        <description>Reactivates or updates the existing ContactPointPhone for the new value when no Map_To__c is being passed (e.g. AccountPhone-field sync). Clears Invalid_Reason__c, sets Active__c = true, and preserves the existing Map_To__c value on the record.</description>
        <name>Update_Existing_Active_CPP</name>
        <label>Update Existing Active CPP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Old_Value_Released</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPP_for_New_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invalid_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>var_ShouldBePrimary</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordUpdates>
    <recordUpdates>
        <description>Reactivates or updates the existing ContactPointPhone for the new value when a Map_To__c value is being passed. Clears Invalid_Reason__c, sets Active__c = true, stamps the new Map_To__c, and sets IsPrimary based on whether this is the AccountPhone field.</description>
        <name>Update_Existing_Active_CPP_With_MapTo</name>
        <label>Update Existing Active CPP (With Map To)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Old_Value_Released</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPP_for_New_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invalid_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>var_ShouldBePrimary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Map_To__c</field>
            <value>
                <elementReference>var_MapTo</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Value_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Account record Id whose phone field is being synced.</description>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Populated when any DML step faults. Exposed as output so the calling flow can log or surface the error rather than rolling back the entire transaction.</description>
        <name>var_FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>True only when this call is for the AccountPhone field, so the matched CPP becomes the primary.</description>
        <name>var_IsAccountPhoneField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Map_To__c picklist value to stamp on the CPP (Home Phone, Mobile, or Other Phone). Blank when called from an AccountPhone-field sync — in that case the existing Map_To__c on the record is preserved rather than overwritten.</description>
        <name>var_MapTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The new value of the Account phone field after the save. Blank means the field was cleared.</description>
        <name>var_NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The prior value of the Account phone field before the save. Blank means the field had no prior value.</description>
        <name>var_OldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current value of the first of the other four phone fields on the Account. Used to decide whether a released number is still held in another slot.</description>
        <name>var_OtherValue1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current value of the second of the other four phone fields on the Account.</description>
        <name>var_OtherValue2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current value of the third of the other four phone fields on the Account.</description>
        <name>var_OtherValue3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current value of the fourth of the other four phone fields on the Account.</description>
        <name>var_OtherValue4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
