force-app/main/default/flows/SMQS_Screen_Manage_Household.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Used in the next decision to determine if we need to prompt for contact relationship review.</description>
        <name>ACR_Count</name>
        <label>ACR Count</label>
        <locationX>1232</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>CountACRs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ACRsToCreateUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACR_Count_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Work_On_From_Existing_ACR</name>
        <label>Assign Account to Work On From Existing ACR</label>
        <locationX>411</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ACRtoWorkOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingHouseholdACRs.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToWorkOn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingHouseholdACRs.firstSelectedRow.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToWorkOn.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingHouseholdACRs.firstSelectedRow.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ACRs_for_Selected_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Work_On_From_Existing_Household</name>
        <label>Assign Account to Work On From Existing Household</label>
        <locationX>2522</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>AccountToWorkOn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingHouseholds.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToWorkOn.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingHouseholds.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_ACRs_for_Selected_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Work_On_From_Is_Household</name>
        <label>Assign Account to Work On From Is Household</label>
        <locationX>1108</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AccountToWorkOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_ACRs_for_Selected_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Work_On_From_New_Household</name>
        <label>Assign Account to Work On From New Household</label>
        <locationX>2786</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>AccountToWorkOn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Household_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToWorkOn.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHouseholdDefaultName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Has_Original_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Combined_ACR_to_New_ACR_List</name>
        <label>Assign Combined ACR to New ACR List</label>
        <locationX>509</locationX>
        <locationY>4178</locationY>
        <assignmentItems>
            <assignToReference>ACRsToCreateUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_to_ACRs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Create_ACR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the NewSingleACR variable from the loop to a Distinct ACR list to denote which ones will need a Person Contact Id.</description>
        <name>Assign_for_new_Person_Creation</name>
        <label>Assign for new Person Creation</label>
        <locationX>1159</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPersonPhoneFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.NewPersonEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.JoinId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFullNameinLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApexDefinedVar_HouseholdMemberSingle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePersonToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPAsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SinglePersonToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Added_Household_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Flags_for_Active_Prepopulated</name>
        <label>Assign Group Flags for Active Prepopulated</label>
        <locationX>499</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsIncludedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsPrimaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACRstoCheckForDuplicates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.FindExistingPerson.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveACRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Primary_Prepopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Flags_for_Existing_Active_Added</name>
        <label>Assign Group Flags for Existing Active Added</label>
        <locationX>499</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsIncludedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsPrimaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACRstoCheckForDuplicates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.FindExistingPerson.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveACRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Primary_Existing_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Flags_for_Existing_Not_Active_Added</name>
        <label>Assign Group Flags for Existing Not Active Added</label>
        <locationX>763</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsIncludedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsPrimaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_Exisiting_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Flags_for_New_Active_Added</name>
        <label>Assign Group Flags for New Active Added</label>
        <locationX>1027</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.includedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.primaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveACRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Primary_New_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Flags_for_New_Not_Active_Added</name>
        <label>Assign Group Flags for New Not Active Added</label>
        <locationX>1291</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.includedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.primaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_New_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Flags_for_Not_Active_Prepopulated</name>
        <label>Assign Group Flags for Not Active Prepopulated</label>
        <locationX>763</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsIncludedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsPrimaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_Prepopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the NewSingleACR variable to the ACRsToCreateUpdate list.</description>
        <name>Assign_Other_ACR_Values_for_Added</name>
        <label>Assign Single ACR to Collection</label>
        <locationX>631</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>ACRsToCreateUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSingleACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Contact_ID_from_NewACRSingle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_ACR_Values_for_Exisiting_Added</name>
        <label>Assign Other ACR Values for Exisiting Added</label>
        <locationX>631</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.ActiveScreenBox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsPrimaryMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.Is_Primary_Member_of_Household</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Sync_Household_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.SyncHouseholdAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Sync_Household_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.SyncHouseholdPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Household Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.FindExistingPerson.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_ACR_Values_for_New_Added</name>
        <label>Assign Other ACR Values for New Added</label>
        <locationX>1159</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.active</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.ActiveScreenBox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.primaryMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.Is_Primary_Member_of_Household</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.syncHouseholdAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.SyncHouseholdAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.syncHouseholdPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Household_Members.SyncHouseholdPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Household Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexDefinedVar_HouseholdMemberSingle.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_for_new_Person_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_ACR_Values_for_Prepopulated</name>
        <label>Assign Other ACR Values for Prepopulated</label>
        <locationX>631</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.ActiveScreenBox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.IsPrimaryMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.Is_Primary_Member_of_Household</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Sync_Household_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.SyncHouseholdAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Sync_Household_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.SyncHouseholdPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Household Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.FindExistingPerson.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepopulated_Household_Members.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACRsToCreateUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSingleACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Single_ACR_for_Prepopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Separate from the next assignment set as we only want to set this ACR as primary by default if we are creating a new account</description>
        <name>Assign_Person_as_Primary_for_ACR_Variable</name>
        <label>Assign Person as Primary for ACR Variable</label>
        <locationX>2786</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.IsPrimaryMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Person_Other_ACR_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Need to assign the person to the variable to ensure they are part of the new household.</description>
        <name>Assign_Person_Other_ACR_Variables</name>
        <label>Assign Person Other ACR Variables</label>
        <locationX>279</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Household Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.Sync_Household_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.Sync_Household_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.IsIncludedInGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ACRs_for_Selected_Household</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleACRForOriginalPerson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Household_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Standalone (utility bar) launches have no source Person Account, so Decision_Has_Original_Person skips the primary assignment. Default IsPrimaryMember to true so the first card on Screen 2 renders with Primary pre-checked and users don&apos;t hit the &quot;exactly one primary&quot; validation wall.</description>
        <name>Assign_Primary_Default_for_Standalone</name>
        <label>Assign Primary Default for Standalone Launch</label>
        <locationX>2926</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SingleACRForOriginalPerson.IsPrimaryMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Household_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Single_ACR_for_Prepopulated</name>
        <label>Clear Single ACR for Prepopulated</label>
        <locationX>631</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSingleACR.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepopulated_Household_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Primary_Count_Existing_Added</name>
        <label>Increment Primary Count - Existing Added</label>
        <locationX>499</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMemberCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_Exisiting_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Primary_Count_New_Added</name>
        <label>Increment Primary Count - New Added</label>
        <locationX>1027</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMemberCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_New_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Primary_Count_Prepopulated</name>
        <label>Increment Primary Count - Prepopulated</label>
        <locationX>499</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMemberCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ACR_Values_for_Prepopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>So that if the next item in the loop is a new person the value won&apos;t be set.</description>
        <name>Remove_Contact_ID_from_NewACRSingle</name>
        <label>Remove Contact ID from NewACRSingle</label>
        <locationX>631</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>NewSingleACR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Added_Household_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Primary_Count</name>
        <label>Reset Primary Count</label>
        <locationX>411</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMemberCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepopulated_Household_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Household_Delete_Succeeded</name>
        <label>Set Household Delete Succeeded</label>
        <locationX>773</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>HouseholdDeleteSucceeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_New_Household</name>
        <label>Set Is New Household</label>
        <locationX>2786</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>IsNewHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_to_Work_On_From_New_Household</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Setting custom choices for ACR to simplify the Roles List.</description>
        <name>ACRRoleHouseholdMember</name>
        <choiceText>Household Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Household Member</stringValue>
        </value>
    </choices>
    <choices>
        <description>Setting custom choices for ACR to simplify the Roles List.</description>
        <name>ACRRoleOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>ACR_Count_Decision</name>
        <label>ACR Count Decision</label>
        <locationX>1232</locationX>
        <locationY>4694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GreaterThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountACRs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRR_Choices</targetReference>
            </connector>
            <label>&gt;1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_New_Person_Accounts_Required</name>
        <label>Are New Person Accounts Required</label>
        <locationX>773</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>Update_Create_ACR_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_PAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewPAsToCreate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Person_Accounts</targetReference>
            </connector>
            <label>Create New Person Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the member is active and set with role = household member, then we want to ensure the standard checkbox fields related to Party Relationship Groups are properly set (at this point we do this for future-proofing).</description>
        <name>Check_Added_Items_for_Existing_Active_Members</name>
        <label>Check Added Items for Existing Active Members</label>
        <locationX>631</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Assign_Group_Flags_for_Existing_Not_Active_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active Member Prepopulated</defaultConnectorLabel>
        <rules>
            <name>ExistingPerson_Active_Household_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Added_Household_Members.ActiveScreenBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Flags_for_Existing_Active_Added</targetReference>
            </connector>
            <label>Active Household Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the member is active and set with role = household member, then we want to ensure the standard checkbox fields related to Party Relationship Groups are properly set (at this point we do this for future-proofing).</description>
        <name>Check_Added_Items_for_New_Active_Members</name>
        <label>Check Added Items for New Active Members</label>
        <locationX>1159</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Assign_Group_Flags_for_New_Not_Active_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active Member Prepopulated</defaultConnectorLabel>
        <rules>
            <name>NewPerson_Active_Household_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Added_Household_Members.ActiveScreenBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Flags_for_New_Active_Added</targetReference>
            </connector>
            <label>Active Household Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Added_New_or_Existing_Members</name>
        <label>Check Added New or Existing Members</label>
        <locationX>895</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Person</defaultConnectorLabel>
        <rules>
            <name>Existing_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Added_Household_Members.FindExistingPerson.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Added_Items_for_Existing_Active_Members</targetReference>
            </connector>
            <label>Existing Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_ACR_records</name>
        <label>Check for ACR records</label>
        <locationX>773</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>ACR_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_ACR_Records_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ACRsToCreateUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveACRCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveACRCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveACRCount</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Household_Members_Exist</targetReference>
            </connector>
            <label>No Active ACR Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>To avoid duplicating the Get ACRs and the Assign Person Variables components.  We only need to assign the person we are working with to the Get ACR variable if they are not already in the household.</description>
        <name>Check_for_New_ACR</name>
        <label>Check for New ACR</label>
        <locationX>411</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Manage_Household_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_ACR_for_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingHouseholdACRs.firstSelectedRow.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_Other_ACR_Variables</targetReference>
            </connector>
            <label>New ACR for Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_other_ACRs_for_Contacts_Decision</name>
        <label>Check for other ACRs for Contacts Decision</label>
        <locationX>411</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Validate_Primary_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contacts_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_other_ACRs_for_Contacts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Manage_Household_Members</targetReference>
            </connector>
            <label>Contacts returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_New_Household_For_Rollback</name>
        <label>New Household? (Rollback Check)</label>
        <locationX>773</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New - Go to Error</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Empty_Household</targetReference>
            </connector>
            <label>Yes - New Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Primary_Existing_Added</name>
        <label>Is Primary? (Existing Added)</label>
        <locationX>499</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_ACR_Values_for_Exisiting_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Existing_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Added_Household_Members.Is_Primary_Member_of_Household</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Primary_Count_Existing_Added</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Primary_New_Added</name>
        <label>Is Primary? (New Added)</label>
        <locationX>1027</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_ACR_Values_for_New_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_New_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Added_Household_Members.Is_Primary_Member_of_Household</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Primary_Count_New_Added</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Primary_Prepopulated</name>
        <label>Is Primary? (Prepopulated)</label>
        <locationX>499</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_ACR_Values_for_Prepopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Prepopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Prepopulated_Household_Members.Is_Primary_Member_of_Household</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Primary_Count_Prepopulated</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the member is active and set with role = household member, then we want to ensure the standard checkbox fields related to Party Relationship Groups are properly set (at this point we do this for future-proofing).</description>
        <name>Check_Prepopulated_Items_for_Active_Household_Members</name>
        <label>Check Prepopulated Items for Active Household Members</label>
        <locationX>631</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Assign_Group_Flags_for_Not_Active_Prepopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active Member Prepopulated</defaultConnectorLabel>
        <rules>
            <name>Active_Household_Member_Prepopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Prepopulated_Household_Members.ActiveScreenBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Flags_for_Active_Prepopulated</targetReference>
            </connector>
            <label>Active Household Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the flow was launched from a Person Account. If PersonContactId is populated the original person should be added to the new household. If not (standalone launch), skip directly to Manage Household Members.</description>
        <name>Decision_Has_Original_Person</name>
        <label>Launched From Person Account?</label>
        <locationX>2786</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Primary_Default_for_Standalone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Standalone Launch</defaultConnectorLabel>
        <rules>
            <name>Has_Original_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_as_Primary_for_ACR_Variable</targetReference>
            </connector>
            <label>Yes — From Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Person_Have_Household</name>
        <label>Does Person Have Household</label>
        <locationX>1532</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_New_Or_Existing_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (No Household)</defaultConnectorLabel>
        <rules>
            <name>IsPerson_With_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_ACRs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_In_Household</targetReference>
            </connector>
            <label>IsPerson With Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Household_Or_Null</name>
        <label>Person, Household, Or Null</label>
        <locationX>1532</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_Not_a_Person_or_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsHousehold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Is_Household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_Work_On_From_Is_Household</targetReference>
            </connector>
            <label>IsHousehold</label>
        </rules>
        <rules>
            <name>IsPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_ACRs</targetReference>
            </connector>
            <label>IsPerson</label>
        </rules>
        <rules>
            <name>Is_Starting_From_No_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Person_Have_Household</targetReference>
            </connector>
            <label>Is Starting From No Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the next step, or completes the flow.</description>
        <name>Return_to_Add_New_Member</name>
        <label>Return to Add New Member?</label>
        <locationX>782</locationX>
        <locationY>5450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddNewCCRRadioChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Contact_Relationship</targetReference>
            </connector>
            <label>NEW Return to Add New Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Existing_Household</name>
        <label>Selected Existing Household</label>
        <locationX>2654</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_Household_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (New HH)</defaultConnectorLabel>
        <rules>
            <name>Household_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchExistingHouseholds.recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_Work_On_From_Existing_Household</targetReference>
            </connector>
            <label>Household Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Primary_Count</name>
        <label>Valid Primary Count?</label>
        <locationX>411</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Error_Primary_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid - 0 or 2+ primaries</defaultConnectorLabel>
        <rules>
            <name>Exactly_One_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryMemberCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_New_Person_Accounts_Required</targetReference>
            </connector>
            <label>Exactly One Primary</label>
        </rules>
    </decisions>
    <description>Screen flow launched from the Account record page to manage household membership. Allows users to add or remove household members (AccountContactRelation records), set the primary contact, configure address and phone sync preferences, and create or delete the household account when needed.</description>
    <dynamicChoiceSets>
        <name>ContactChoiceforCCR</name>
        <collectionReference>Get_ACRs_For_Contact_Choice</collectionReference>
        <dataType>String</dataType>
        <displayField>Contact_Name__c</displayField>
        <object>AccountContactRelation</object>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_PartyRoleRelationships</name>
        <dataType>String</dataType>
        <displayField>RelatedRoleName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelationshipObjectName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </filters>
        <object>PartyRoleRelation</object>
        <outputAssignments>
            <assignToReference>Role_DefaultHierarchyType</assignToReference>
            <field>Default_Hierarchy_Type__c</field>
        </outputAssignments>
        <sortField>Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactFullNameinLoop</name>
        <dataType>String</dataType>
        <expression>{!SinglePersonToCreate.FirstName} &amp; &quot; &quot; &amp; {!SinglePersonToCreate.LastName}</expression>
    </formulas>
    <formulas>
        <description>Used when a new household is initially created. BLANKVALUE guards against standalone (utility-bar) launches where Get_Account is null — those produce an empty FirstName/LastName, which would create a Household named &quot;&apos;s Household&quot;. The household is renamed by SMQS_Household_Setup_Name_Sync_AccountContactRelationship_to_Account once the first primary ACR is committed; the CPA name is then corrected by SMQS_Household_Setup_Name_Sync_Account_to_CPA.</description>
        <name>NewHouseholdDefaultName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account.FirstName}) &amp;&amp; ISBLANK({!Get_Account.LastName}), &quot;New Household&quot;, TRIM(BLANKVALUE({!Get_Account.FirstName}, &quot;&quot;) &amp; &quot; &quot; &amp; BLANKVALUE({!Get_Account.LastName}, &quot;&quot;)) &amp; &quot;&apos;s Household&quot;)</expression>
    </formulas>
    <formulas>
        <description>For use within the new person loop.</description>
        <name>NewPersonPhoneFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Added_Household_Members.NewPersonPhone.value}),{!AccountToWorkOn.Phone},{!Loop_Added_Household_Members.NewPersonPhone.value})</expression>
    </formulas>
    <interviewLabel>SMQS Screen Manage Household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage Household</label>
    <loops>
        <description>Loops through added items from Manage Household Members recurring element.  Will include both newly created contacts and existing contacts from the database.</description>
        <name>Loop_Added_Household_Members</name>
        <label>Loop Added Household Members</label>
        <locationX>411</locationX>
        <locationY>2306</locationY>
        <collectionReference>MembersList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Added_New_or_Existing_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_other_ACRs_for_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the prepopulated items.  May include a new ACR (no ACR Id)  if household is new, or if the original person was not yet a member of the selected household.</description>
        <name>Loop_Prepopulated_Household_Members</name>
        <label>Loop Prepopulated Household Members</label>
        <locationX>411</locationX>
        <locationY>1598</locationY>
        <collectionReference>MembersList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prepopulated_Items_for_Active_Household_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Added_Household_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Contact_Relationship</name>
        <label>Create Contact Contact Relationship</label>
        <locationX>578</locationX>
        <locationY>5558</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Existing_CCRs_between_Household_Members</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCR_Contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCR_Related_Contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PartyRoleRelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCCR_Select_Role</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CCR_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>NewCCR_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HierarchyType</field>
            <value>
                <elementReference>Role_DefaultHierarchyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>NewCCR_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyRoleRelationId</field>
            <value>
                <elementReference>NewCCR_Select_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedContactId</field>
            <value>
                <elementReference>CCR_Related_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>NewCCR_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ContactContactRelation</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Party Relationship Group will be created by a separate record-triggered flow.</description>
        <name>Create_New_Household_Account</name>
        <label>Create New Household Account</label>
        <locationX>2786</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Set_Is_New_Household</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>NewHouseholdAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>NewHouseholdAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>NewHouseholdAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>NewHouseholdAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>NewHouseholdAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Household__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewHouseholdDefaultName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>NewHouseholdHomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Household_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Create_ACR_Records</name>
        <label>Update Create ACR Records</label>
        <locationX>773</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Check_for_ACR_records</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Is_New_Household_For_Rollback</targetReference>
        </faultConnector>
        <inputReference>ACRsToCreateUpdate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Empty_Household</name>
        <label>Delete Empty Household</label>
        <locationX>773</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Set_Household_Delete_Succeeded</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Household_Account</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <description>Contacts can only be an Active household Member of one household.  Here we search for other household memberships for our contact list.</description>
        <name>Check_for_other_ACRs_for_Contacts</name>
        <label>Check for other ACRs for Contacts</label>
        <locationX>411</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_other_ACRs_for_Contacts_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Household_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>ACRstoCheckForDuplicates</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Assumes the recordId variable is populated at the start of the flow with either an Account ID or a Contact ID.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1532</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Household_Or_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Need to capture account parameters to use for Person creation in the following loop.  Will also need the details later on for Household Naming screen.</description>
        <name>Get_Account_To_Work_On_Details</name>
        <label>Get Account To Work On Details</label>
        <locationX>411</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Primary_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountToWorkOn</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Cannot use the Update Create ACRs list as it only contains ACR Ids</description>
        <name>Get_ACRs_For_Contact_Choice</name>
        <label>Get ACRs For Contact Choice</label>
        <locationX>782</locationX>
        <locationY>5018</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Contact_Ids_to_Text</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_ACR_Ids_into_Text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>IsPrimaryMember</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACRs_for_Selected_Household</name>
        <label>Get ACRs for Selected Household</label>
        <locationX>411</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_New_ACR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountToWorkOn.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>IsPrimaryMember</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the ACRs if the original account is a person account.</description>
        <name>Get_Existing_ACRs</name>
        <label>Get Existing ACRs</label>
        <locationX>1372</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Person_Have_Household</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.PersonContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Household_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>IsActive</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_CCRs_between_Household_Members</name>
        <label>Get Existing CCRs between Household Members</label>
        <locationX>782</locationX>
        <locationY>5234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_New_Member_CCR_Relationships</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_Contact_Ids_to_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_Contact_Ids_to_Text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactContactRelation</object>
        <sortField>ContactId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To be used for creating a new Household</description>
        <name>Get_Household_Record_Type_ID</name>
        <label>Get Household Record Type ID</label>
        <locationX>2786</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Household_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Person_Accounts</name>
        <label>Get New Person Accounts</label>
        <locationX>509</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Join_New_Person_Accounts_and_ACRs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>New_Person_Account_IDs_to_List</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>1159</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Added_Items_for_New_Active_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRR_Choices</name>
        <label>Get PRR Choices</label>
        <locationX>782</locationX>
        <locationY>4802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_ACR_Ids_into_Text</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelationshipObjectName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <sortField>RoleName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Displays existing CCRs, new CCRs and an option to add more CCRs.  We create all the CCRs once the user is done.</description>
        <name>Add_New_Member_CCR_Relationships</name>
        <label>Add New Member Relationships</label>
        <locationX>782</locationX>
        <locationY>5342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_to_Add_New_Member</targetReference>
        </connector>
        <fields>
            <name>ExistingCCRsInHousehold</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Relationships Within Household</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Existing_CCRs_between_Household_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-517c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Related_Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-40f6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Related Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Relationship_Role__c&quot;,&quot;guid&quot;:&quot;column-a2ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Relationship Role&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddNewCCRRadioChoice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you like to add a new relationship between contacts?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_New_Member_CCR_Relationships_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Member_CCR_Relationships_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CCR_Contact</name>
                    <choiceReferences>ContactChoiceforCCR</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>First individual</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Member_CCR_Relationships_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CCR_Related_Contact</name>
                    <choiceReferences>ContactChoiceforCCR</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Second individual</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddNewCCRRadioChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Member_CCR_Relationships_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Member_CCR_Relationships_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCCR_DisplayText_RoleQuestion</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;What is {!CCR_Contact}&apos;s relationship to {!CCR_Related_Contact}?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NewCCR_Select_Role</name>
                    <choiceReferences>rcs_PartyRoleRelationships</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select role:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CCR_RelationshipExplainer</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!CCR_Contact} is {!CCR_Related_Contact}&apos;s  &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!NewCCR_Select_Role}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCCR_Select_Role</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NewCCR_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Active relationship</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddNewCCRRadioChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CCR_Related_Contact</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CCR_Contact</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Member_CCR_Relationships_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Member_CCR_Relationships_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCCR_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Member_CCR_Relationships_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCCR_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddNewCCRRadioChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Household_Member_Relationships</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Flags that this person is already in a household.  Prompts them to manage the existing household.  We are enforcing through this flow that someone can only have an active membership to one household.</description>
        <name>Already_In_Household</name>
        <label>Already In Household</label>
        <locationX>411</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Account_to_Work_On_From_Existing_ACR</targetReference>
        </connector>
        <fields>
            <name>AlreadyInHouseholdDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Account.Name} is already active in a household.  Continue to update the &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!ExistingHouseholdACRs.firstSelectedRow.Account_Name__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; members.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you need to add &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.Name} to a different Household, please first deactivate them from the current household on the following screens.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingHouseholdACRs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Households</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Existing_ACRs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-c54d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Roles&quot;,&quot;guid&quot;:&quot;column-effa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Roles&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;IsPrimaryGroup&quot;,&quot;guid&quot;:&quot;column-9de6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Primary Household&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Primary Group&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;IsPrimaryMember&quot;,&quot;guid&quot;:&quot;column-738c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Head of Household&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Member&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;IsActive&quot;,&quot;guid&quot;:&quot;column-2a67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Existing_ACRs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Choose_Household</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Prompts the user to create a new household or link to an existing one.</description>
        <name>Create_New_Or_Existing_Household</name>
        <label>Create New Or Existing Household</label>
        <locationX>2654</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Existing_Household</targetReference>
        </connector>
        <fields>
            <name>SearchExistingHouseholds</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search for existing households</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>New_Household_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Household</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_New_Household</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Starting_From_No_Record</elementReference>
            </defaultValue>
            <fieldText>Create new household</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_New_Household_Header</name>
            <fieldText>New Household Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Household_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewHouseholdHomePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Home Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Account.PersonHomePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NewHouseholdAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Home Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Account.PersonMailingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Account.PersonMailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Account.PersonMailingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Account.PersonMailingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Account.PersonMailingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Option: Search Google Maps</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Household</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(251, 246, 246);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Household</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SearchExistingHouseholds.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Choose_Household</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Error_Manage_Household_Members</name>
        <label>Error on Manage Household Members</label>
        <locationX>50</locationX>
        <locationY>3530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HouseholdMemberErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 15, 15); font-size: 16px;&quot;&gt;Warning: you have selected to add or activate people who are already an active member of another household.  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To proceed, click &apos;Previous&apos; and for the individuals in the table below, unselect the checkbox that marks them as active members of the household.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HouseholdMemberErrorTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Check_for_other_ACRs_for_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-ab01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-40bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Roles&quot;,&quot;guid&quot;:&quot;column-eb90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Roles&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;IsActive&quot;,&quot;guid&quot;:&quot;column-79aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-c2d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Manage_Household_Members_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Error_Primary_Count</name>
        <label>Error - Primary Member Count</label>
        <locationX>50</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrimaryCountErrorText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 15, 15); font-size: 16px;&quot;&gt;Warning: exactly one member must be marked as the primary member of the household.  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To proceed, click &apos;Previous&apos; and ensure exactly one member has the &apos;Primary member of the household&apos; checkbox selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Manage_Household_Members_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3338</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The screen flow &quot;Manage Household&quot; has failed.&amp;nbsp;Please send this message to your administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Triggering record: {!recordId} - {!Get_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Household: {!AccountToWorkOn.Id} - {!AccountToWorkOn.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Fault Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Current Stage: {!$Flow.CurrentStage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RollbackSuccessNote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Note: The empty household account ({!AccountToWorkOn.Name}) was automatically removed from the system.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HouseholdDeleteSucceeded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RollbackFailedNote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Note: A new household account ({!AccountToWorkOn.Name} - {!AccountToWorkOn.Id}) was created but could not be automatically removed. Please ask your administrator to delete it manually.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsNewHousehold</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HouseholdDeleteSucceeded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Manage_Household_Members_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>References existing ACRs and allows creation of new.  User should use the Active checkbox instead of the &quot;Remove existing&quot; feature (which should be deactivated) in the recurring element.  There will therefore be no &quot;Removed&quot; loop following this screen.</description>
        <name>Manage_Household_Members</name>
        <label>Manage Household Members</label>
        <locationX>411</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_To_Work_On_Details</targetReference>
        </connector>
        <fields>
            <name>ManageMembersDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Manage the household members for &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!AccountToWorkOn.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountToWorkOn.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MembersList</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>FindExistingPerson</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>AccountContactRelation</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>ContactId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Find an individual</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>recordId</name>
                    <value>
                        <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Contact.Id</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Create_New_Person</name>
                <dataType>Boolean</dataType>
                <fieldText>Create a new individual</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>MembersList.AllItems[$EachItem].FindExistingPerson.recordId</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>FirstName</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Contact.FirstName</elementReference>
                </defaultValue>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>MembersList.AllItems[$EachItem].Create_New_Person</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>LastName</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Contact.LastName</elementReference>
                </defaultValue>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>MembersList.AllItems[$EachItem].Create_New_Person</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Salutation</name>
                <choiceReferences>SalutationChoices</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Contact.Salutation</elementReference>
                </defaultValue>
                <fieldText>Salutation</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>MembersList.AllItems[$EachItem].Create_New_Person</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>NewPersonPhone</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Contact.Phone</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>MembersList.AllItems[$EachItem].Create_New_Person</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>NewPersonEmail</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Contact.Email</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>MembersList.AllItems[$EachItem].Create_New_Person</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>ActiveScreenBox</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].IsActive</elementReference>
                </defaultValue>
                <fieldText>Active member of the household</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Is_Primary_Member_of_Household</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].IsPrimaryMember</elementReference>
                </defaultValue>
                <fieldText>Primary member of the household (only one member can be selected as primary)</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>SyncHouseholdAddress</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Sync_Household_Address__c</elementReference>
                </defaultValue>
                <fieldText>Person&apos;s mailing address should match the household&apos;s address</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>SyncHouseholdPhone</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_ACRs_for_Selected_Household[$EachItem].Sync_Household_Phone__c</elementReference>
                </defaultValue>
                <fieldText>Person&apos;s home phone should match the household&apos;s phone</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_ACRs_for_Selected_Household</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Manage_Household_Members_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>No_Household_Members_Exist</name>
        <label>No Household Members Exist</label>
        <locationX>314</locationX>
        <locationY>4586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoMembersDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There are currently no active members in this household to continue with household management.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click &apos;Finish&apos; to complete the flow or &apos;Previous&apos; to add active household members.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Manage_Household_Members_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Screen_Not_a_Person_or_Household</name>
        <label>Screen Not a Person or Household</label>
        <locationX>1956</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayNotAPersonOrHousehold</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You may only use the manage household flow from a person or household record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Review the &apos;Record Type&apos; field or the &apos;Is Household?&apos; field to make sure that the record is correct. If it is correct, contact your admin and report the issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Choose_Household</name>
        <isActive>true</isActive>
        <label>Select or Create Household</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Household_Member_Relationships</name>
        <isActive>true</isActive>
        <label>Household Member Relationships</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Manage_Household_Members_Stage</name>
        <isActive>true</isActive>
        <label>Manage Household Members</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>1406</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Person_Accounts</name>
        <label>Create Person Accounts</label>
        <locationX>509</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>New_Person_Account_IDs_to_List</targetReference>
        </connector>
        <flowName>SMQS_Screen_Manage_Household_Subflow_Create_Person_Accounts</flowName>
        <inputAssignments>
            <name>PAsToCreate</name>
            <value>
                <elementReference>NewPAsToCreate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PersonAccountsFromSubFlow</assignToReference>
            <name>PAsToCreate</name>
        </outputAssignments>
    </subflows>
    <transforms>
        <name>Join_New_Person_Accounts_and_ACRs</name>
        <label>Join New Person Accounts and ACRs</label>
        <locationX>509</locationX>
        <locationY>3962</locationY>
        <apexClass>SMQS_Member</apexClass>
        <connector>
            <targetReference>Transform_to_ACRs</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>Table</name>
                    <value>
                        <complexValue>{&quot;leftElementReference&quot;:&quot;Get_New_Person_Accounts&quot;,&quot;leftJoinKeys&quot;:[&quot;Name&quot;],&quot;leftSelectedFields&quot;:[&quot;PersonContactId&quot;],&quot;rightElementReference&quot;:&quot;ApexDefinedVar_HouseholdMembers&quot;,&quot;rightJoinKeys&quot;:[&quot;JoinId&quot;],&quot;rightSelectedFields&quot;:[&quot;accountId&quot;,&quot;active&quot;,&quot;firstName&quot;,&quot;includedInGroup&quot;,&quot;JoinId&quot;,&quot;lastName&quot;,&quot;primaryGroup&quot;,&quot;primaryMember&quot;,&quot;roles&quot;,&quot;syncHouseholdAddress&quot;,&quot;syncHouseholdPhone&quot;]}</complexValue>
                        <complexValueType>JoinDefinition</complexValueType>
                    </value>
                </inputParameters>
                <transformType>InnerJoin</transformType>
            </transformValueActions>
            <transformValueName>Join1</transformValueName>
        </transformValues>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>contactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].LeftTable.PersonContactId</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>accountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.accountId</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>active</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.active</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>includedInGroup</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.includedInGroup</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>primaryGroup</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.primaryGroup</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>primaryMember</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.primaryMember</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>roles</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.roles</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>syncHouseholdAddress</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.syncHouseholdAddress</transformValueReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>syncHouseholdPhone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <transformValueReference>Join1[$EachItem].RightTable.syncHouseholdPhone</transformValueReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>New_Person_Account_IDs_to_List</name>
        <label>New Person Account IDs to List</label>
        <locationX>509</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Get_New_Person_Accounts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>PersonAccountsFromSubFlow[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>Cannot reference a record collection variable in the next &quot;In&quot; query.</description>
        <name>Transform_ACR_Ids_into_Text</name>
        <label>Transform ACR Ids into Text</label>
        <locationX>782</locationX>
        <locationY>4910</locationY>
        <connector>
            <targetReference>Get_ACRs_For_Contact_Choice</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ACRsToCreateUpdate[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>To use for the Get Existing CCRs &quot;in&quot; query.</description>
        <name>Transform_Contact_Ids_to_Text</name>
        <label>Transform Contact Ids to Text</label>
        <locationX>782</locationX>
        <locationY>5126</locationY>
        <connector>
            <targetReference>Get_Existing_CCRs_between_Household_Members</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_ACRs_For_Contact_Choice[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>For some reason we can&apos;t map to the lookup fields on the ACR in the previous Join, so we have to use this Transform to create the ACRs.</description>
        <name>Transform_to_ACRs</name>
        <label>Transform to ACRs</label>
        <locationX>509</locationX>
        <locationY>4070</locationY>
        <connector>
            <targetReference>Assign_Combined_ACR_to_New_ACR_List</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>AccountContactRelation</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].accountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].contactId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Roles</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].roles</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsActive</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].active</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsPrimaryMember</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].primaryMember</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsIncludedInGroup</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].includedInGroup</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsPrimaryGroup</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].primaryGroup</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sync_Household_Address__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].syncHouseholdAddress</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sync_Household_Phone__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Join_New_Person_Accounts_and_ACRs[$EachItem].syncHouseholdPhone</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountToWorkOn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ACRstoCheckForDuplicates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Populated in loops after the Manage Household Member screen.  Used to create/update ACRs</description>
        <name>ACRsToCreateUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>ACRtoWorkOn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>ActiveACRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AddNewRelationships</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApexDefinedVar_HouseholdMembers</name>
        <apexClass>SMQS_Member</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApexDefinedVar_HouseholdMemberSingle</name>
        <apexClass>SMQS_Member</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used in determining if we need to ask about relationships</description>
        <name>CountACRs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HouseholdDeleteSucceeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsNewHousehold</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>New_Household_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>NewACRsNeedNewPersonContactId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>NewPAsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>For loop to add to NewACRs</description>
        <name>NewSingleACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>PersonAccountsFromSubFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PrimaryMemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Role_DefaultHierarchyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Captures the ACR parameters so they can be included in the Manage Household Members Screen</description>
        <name>SingleACRForOriginalPerson</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>SinglePersonToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
