force-app/main/default/flows/SMQS_Screen_Manage_ContactPoints_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Gets_to_Variables</name>
        <label>Assign Gets to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>out_SyncPhoneACRs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACRs_Sync_Phone_Yes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_NoSyncPhoneACRs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACRs_Sync_Phone_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_NoSyncACRs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACRs_Sync_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_SyncACRs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACRs_Sync_Yes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AllAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Addresses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AllEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Emails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AllPhones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Phones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_SyncPhoneACRs_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ACRs_Sync_Phone_Yes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_NoSyncPhoneACRs_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ACRs_Sync_Phone_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_NoSyncACRs_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ACRs_Sync_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_SyncACRs_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ACRs_Sync_Yes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Household_AccountId</name>
        <label>Set ACR AccountId to Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ACR_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_AccountId_From_Person.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_PersonACR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_AccountId_From_Person</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Household_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Household_Name_From_Query</name>
        <label>Set Household Name from Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>out_HouseholdName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ACRs_Sync_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Household/Business path. Sets var_ACR_AccountId to recordId so the 4 shared ACR queries filter by the account the flow was launched from.</description>
        <name>Assign_RecordId_As_AccountId</name>
        <label>Set ACR AccountId to RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ACR_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_HouseholdName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>out_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ACRs_Sync_Yes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Routes Person Accounts to look up the household AccountId first. Routes Household/Business accounts to set var_ACR_AccountId = recordId directly.</description>
        <name>Decision_ACR_Query_Path</name>
        <label>Person Account or Household?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_RecordId_As_AccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household / Business</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>out_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household_AccountId_From_Person</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <description>Autolaunched subflow called by SMQS_Screen_Manage_ContactPoints at the start of every session. Outputs ACR counts for all four sync groups. Queries the Account, then routes ACR queries by account type: Person Accounts query ACRs by ContactId = PersonContactId; Household and Business accounts query ACRs by AccountId = recordId. Both paths query ContactPointAddress, Email, and Phone records and return all results as output variables to the parent.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Manage ContactPoints Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage ContactPoints Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the Account record for recordId, querying Id, Name, and IsPersonAccount. IsPersonAccount is returned to the parent to drive Decision_Account_Type. Fault propagates to parent.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ACR_Query_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>out_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
        <queriedFields>Is_Household__c</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>PersonDoNotCall</queriedFields>
        <queriedFields>Do_Not_Mail__c</queriedFields>
        <queriedFields>PersonHasOptedOutOfEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves active AccountContactRelation records for this Account where Sync_Household_Address__c = false. Output stored in out_NoSyncACRs. Fault propagates to parent.</description>
        <name>Get_ACRs_Sync_No</name>
        <label>Get ACRs — Address Sync Off</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACRs_Sync_Phone_Yes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ACR_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves active AccountContactRelation records for this Account where Sync_Household_Phone__c = false. Output stored in out_NoSyncPhoneACRs. Fault propagates to parent.</description>
        <name>Get_ACRs_Sync_Phone_No</name>
        <label>Get ACRs — Phone Sync Off</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ACR_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves active AccountContactRelation records for this Account where Sync_Household_Phone__c = true. Output stored in out_SyncPhoneACRs. Fault propagates to parent.</description>
        <name>Get_ACRs_Sync_Phone_Yes</name>
        <label>Get ACRs — Phone Sync On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACRs_Sync_Phone_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ACR_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves active AccountContactRelation records for this Account where Sync_Household_Address__c = true. Output stored in out_SyncACRs. Fault propagates to parent.</description>
        <name>Get_ACRs_Sync_Yes</name>
        <label>Get ACRs — Address Sync On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACRs_Sync_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ACR_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all ContactPointAddress records for this Account, sorted IsPrimary DESC. Output stored in out_AllAddresses. Fault propagates to parent.</description>
        <name>Get_Addresses</name>
        <label>Get Address Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all ContactPointEmail records for this Account, sorted IsPrimary DESC. Output stored in out_AllEmails. Fault propagates to parent.</description>
        <name>Get_Emails</name>
        <label>Get Email Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Person Account path only. Finds the first active ACR for this person&apos;s underlying Contact to get the household AccountId. Used to set var_ACR_AccountId so the shared ACR queries can filter by the household. Fault propagates to parent.</description>
        <name>Get_Household_AccountId_From_Person</name>
        <label>Get Household AccountId From Person</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Household_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>out_Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Person Account path only. Queries the household Account Name using var_ACR_AccountId so it can be passed to the parent as out_HouseholdName for display in sync table headers.</description>
        <name>Get_Household_Name</name>
        <label>Get Household Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Household_Name_From_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ACR_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all ContactPointPhone records for this Account, sorted IsPrimary DESC. Output stored in out_AllPhones. Fault propagates to parent.</description>
        <name>Get_Phones</name>
        <label>Get Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Gets_to_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Output: Account record queried by recordId. Returned to parent as var_Account.</description>
        <name>out_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Output: All ContactPointAddress records for this Account, sorted IsPrimary DESC.</description>
        <name>out_AllAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Output: All ContactPointEmail records for this Account, sorted IsPrimary DESC.</description>
        <name>out_AllEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Output: All ContactPointPhone records for this Account, sorted IsPrimary DESC.</description>
        <name>out_AllPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Output: The name of the household account. For Household/Business accounts equals out_Account.Name. For Person Accounts equals the name of the household found via the person&apos;s ACR. Used in sync table headers.</description>
        <name>out_HouseholdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Output: Active ACRs where Sync_Household_Address__c = false.</description>
        <name>out_NoSyncACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>out_NoSyncACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Output: Active ACRs where Sync_Household_Phone__c = false.</description>
        <name>out_NoSyncPhoneACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>out_NoSyncPhoneACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Output: The individual Person Account&apos;s own ACR connecting them to their household. Person Account path only — null for Household/Business accounts. Carries Sync_Household_Phone__c and Sync_Household_Address__c to drive per-person sync visibility in the manage screens.</description>
        <name>out_PersonACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Output: Active ACRs where Sync_Household_Address__c = true.</description>
        <name>out_SyncACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>out_SyncACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Output: Active ACRs where Sync_Household_Phone__c = true.</description>
        <name>out_SyncPhoneACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>out_SyncPhoneACRs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Account Id passed in from the parent flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Account ID used to filter ACR queries. Set to recordId for Household/Business accounts. Set to the household AccountId (from the person&apos;s ACR) for Person Accounts.</description>
        <name>var_ACR_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
