force-app/main/default/flows/SMQS_Screen_Manage_ContactPoints_Email_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Builds a delete-ready ContactPointEmail from the current Loop_Split_Emails (PrepopulatedItems) item. Stamps Id onto var_SingleEmail, adds to var_DeleteEmails. Routes back to Loop_Split_Emails.</description>
        <name>Assign_Build_Delete_Email</name>
        <label>Add Email to Delete List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_Email_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasDeletePrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_Email_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DeleteEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds a new ContactPointEmail record from the current Loop_Split_Emails_New (AddedItems) iteration. Copies screen field values and stamps ParentId onto var_SingleEmail, then adds var_SingleEmail to var_NewEmails. Routes back to Loop_Split_Emails_New to continue iterating.</description>
        <name>Assign_Build_New_Email</name>
        <label>Build New Email Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleEmail.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails_New.field_EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails_New.field_Email_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails_New.field_Email_InvalidReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails_New.field_Email_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Emails_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds an update-ready ContactPointEmail record from the current Loop_Split_Emails (PrepopulatedItems) iteration. Copies screen field values onto var_SingleEmail (preserving the original Id), then adds var_SingleEmail to var_UpdateEmails. Routes back to Loop_Split_Emails to continue iterating.</description>
        <name>Assign_Build_Update_Email</name>
        <label>Build Update Email Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_Email_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_Email_InvalidReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleEmail.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Split_Emails.field_Email_IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Split_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increments var_PrimaryCount by 1 when Loop_Count_Primary_Emails.field_Email_IsPrimary is true. Routes back to Loop_Count_Primary_Emails.</description>
        <name>Assign_Count_Primary_Email</name>
        <label>Increment Primary Email Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increments var_PrimaryCount by 1 when a newly added email row (from EmailsList.AddedItems) has the Primary checkbox checked. Routes back to Loop_Count_Primary_Emails_Added to continue iterating.</description>
        <name>Assign_Count_Primary_Email_Added</name>
        <label>Increment Primary Email Count (Added)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Emails_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_New_Emails</name>
        <label>Flag Has New Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_HasNewEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Update_Emails</name>
        <label>Flag Has Update Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_HasUpdateEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets var_PrimaryCount to 0 before the email primary-validation loop. Routes to Loop_Count_Primary_Emails.</description>
        <name>Assign_Reset_Primary_Count_Email</name>
        <label>Reset Primary Count for Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Primary_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>After deleting emails, routes to clear Account PersonEmail only if the deleted email was primary and this is a Person Account.</description>
        <name>Decision_Clear_Email_Account_Field</name>
        <label>Primary Email Deleted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Deleted</defaultConnectorLabel>
        <rules>
            <name>Primary_Email_Was_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HasDeletePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PersonEmail_Field</targetReference>
            </connector>
            <label>Primary Email Deleted on Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Loop_Split_Emails.field_Email_MarkedForDeletion. If true, routes to Assign_Build_Delete_Email. If false, routes to Assign_Build_Update_Email.</description>
        <name>Decision_Email_Marked_Delete</name>
        <label>Email Marked for Deletion?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Build_Update_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Marked</defaultConnectorLabel>
        <rules>
            <name>Email_Is_Marked_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Split_Emails.field_Email_MarkedForDeletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_Delete_Email</targetReference>
            </connector>
            <label>Marked for Deletion</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates var_PrimaryCount after Loop_Count_Primary_Emails and Loop_Count_Primary_Emails_Added. If greater than 1, routes to Screen_Error_Primary. If zero or one, proceeds to Loop_Split_Emails.</description>
        <name>Decision_Email_Primary_Valid</name>
        <label>Email Primary Count Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Split_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Email_Too_Many_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PrimaryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error_Primary</targetReference>
            </connector>
            <label>More Than One Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_DeleteEmails contains any records. If yes, routes to Screen_Confirm_Delete_Email. If no, routes to Decision_Has_New_Emails.</description>
        <name>Decision_Has_Delete_Emails</name>
        <label>Any Emails to Delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_New_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Deletes</defaultConnectorLabel>
        <rules>
            <name>Has_Delete_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DeleteEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Confirm_Delete_Email</targetReference>
            </connector>
            <label>Has Emails to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_NewEmails contains any records after Loop_Split_Emails runs. If not empty, routes to Create_New_Emails. If empty, skips to Decision_Has_Update_Emails.</description>
        <name>Decision_Has_New_Emails</name>
        <label>Any New Emails to Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_Update_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Records</defaultConnectorLabel>
        <rules>
            <name>Has_New_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_New_Emails</targetReference>
            </connector>
            <label>Has New Emails</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether var_UpdateEmails contains any records. If not empty, routes to Update_Emails. If empty, routes to Screen_Success_Email.</description>
        <name>Decision_Has_Update_Emails</name>
        <label>Any Emails to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Has_Update_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_UpdateEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Update_Emails</targetReference>
            </connector>
            <label>Has Emails to Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Loop_Count_Primary_Emails.field_Email_IsPrimary is true. If true, increments var_PrimaryCount via Assign_Count_Primary_Email. If false, loops to next item.</description>
        <name>Decision_Is_Email_Primary</name>
        <label>Is Email Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Primary_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Email_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Primary_Emails.field_Email_IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Primary_Email</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks field_Email_IsPrimary on current Loop_Count_Primary_Emails_Added item. If true, increments var_PrimaryCount. If false, continues to next item.</description>
        <name>Decision_Is_Email_Primary_Added</name>
        <label>Is Added Email Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Primary_Emails_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Email_Added_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Primary_Emails_Added.field_Email_IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Primary_Email_Added</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <description>Screen subflow called by SMQS_Screen_Manage_ContactPoints to manage ContactPointEmail records for a given Account. Receives pre-queried email records via var_AllEmails and the Account record via var_Account. Handles add, edit, and delete (with deletion confirmation) with primary validation (max one primary). All DML faults route to Error_Screen.</description>
    <dynamicChoiceSets>
        <description>Retrieves Invalid_Reason__c picklist values from ContactPointEmail for the Invalid Reason dropdown in Screen_Manage_Emails.</description>
        <name>dcs_InvalidReason_Email</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invalid_Reason__c</picklistField>
        <picklistObject>ContactPointEmail</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Retrieves UsageType picklist values from ContactPointEmail for the Usage Type dropdown in Screen_Manage_Emails.</description>
        <name>dcs_UsageType_Email</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UsageType</picklistField>
        <picklistObject>ContactPointEmail</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SMQS Manage ContactPoints Email Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage ContactPoints Email Subflow</label>
    <loops>
        <description>Iterates EmailsList.PrepopulatedItems to count how many have IsPrimary = true. Each item routes through Decision_Is_Email_Primary. After all items, routes to Loop_Count_Primary_Emails_Added.</description>
        <name>Loop_Count_Primary_Emails</name>
        <label>Count Primary Emails (Existing)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EmailsList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Email_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Count_Primary_Emails_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates EmailsList.AddedItems to count how many newly added email rows have the Primary checkbox checked, continuing the tally from Loop_Count_Primary_Emails. Each item routes through Decision_Is_Email_Primary_Added. After all added rows, Decision_Email_Primary_Valid evaluates the total count.</description>
        <name>Loop_Count_Primary_Emails_Added</name>
        <label>Count Primary Emails (Added)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EmailsList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Email_Primary_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Email_Primary_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates EmailsList.PrepopulatedItems. Routes each item through Decision_Email_Marked_Delete: if Marked_For_Deletion__c is true, adds to var_DeleteEmails; otherwise builds update record.</description>
        <name>Loop_Split_Emails</name>
        <label>Build Update Emails from Existing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EmailsList.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Email_Marked_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Split_Emails_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates EmailsList.AddedItems after primary validation passes. For each added row, Assign_Build_New_Email stamps the screen field values and ParentId onto var_SingleEmail, then adds var_SingleEmail to var_NewEmails. Routes to Decision_Has_Delete_Emails when done.</description>
        <name>Loop_Split_Emails_New</name>
        <label>Build New Emails from Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EmailsList.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Build_New_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Has_Delete_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Performs a single DML insert for all records in var_NewEmails. Each record had ParentId stamped in Assign_Build_New_Email. On success, routes to Decision_Has_Update_Emails. On fault, routes to Error_Screen.</description>
        <name>Create_New_Emails</name>
        <label>Create New Email Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_Update_Emails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_NewEmails</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Permanently deletes all records in var_DeleteEmails. On success, routes to Decision_Clear_Email_Account_Field. On fault, routes to Error_Screen.</description>
        <name>Delete_Emails</name>
        <label>Delete Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Clear_Email_Account_Field</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_DeleteEmails</inputReference>
    </recordDeletes>
    <recordUpdates>
        <description>Clears PersonEmail on the Account when the deleted email was primary (Person Accounts only).</description>
        <name>Clear_PersonEmail_Field</name>
        <label>Clear PersonEmail Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_New_Emails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Performs a single DML update for all records in var_UpdateEmails. On success, routes to Screen_Success_Email. On fault, routes to Error_Screen.</description>
        <name>Update_Emails</name>
        <label>Update Email Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_UpdateEmails</inputReference>
    </recordUpdates>
    <screens>
        <description>Shared fault screen displayed when any DML operation fails. Surfaces the triggering record Id and name, the full fault message, and the current flow stage so an administrator can diagnose the failure.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The screen flow &quot;Manage Contact Points&quot; has failed.&amp;nbsp;Please send this message to your administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Triggering record: {!recordId} - {!var_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Fault Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Current Stage: {!$Flow.CurrentStage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen shown when var_DeleteEmails is not empty. Displays emails to be permanently deleted and emails to be kept. User clicks Confirm Delete to proceed or Go Back to uncheck.</description>
        <name>Screen_Confirm_Delete_Email</name>
        <label>Confirm Email Deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back and Review</backButtonLabel>
        <connector>
            <targetReference>Delete_Emails</targetReference>
        </connector>
        <fields>
            <name>txt_Confirm_Delete_Email_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The following emails will be permanently deleted. This cannot be undone. Click &quot;Go Back and Review&quot; to uncheck any that should be kept.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Delete_Email_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Email Addresses to be deleted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_Delete_Emails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointEmail</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Emails to be deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_DeleteEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Address&quot;,&quot;fieldName&quot;:&quot;EmailAddress&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Keep_Email_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Email Addresses that will be kept&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_Keep_Emails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointEmail</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Emails that will be kept</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_UpdateEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Address&quot;,&quot;fieldName&quot;:&quot;EmailAddress&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displayed when the user marks more than one record as Primary in the repeater. allowBack is true so the user can return and correct. allowFinish is false so the flow cannot complete in this error state.</description>
        <name>Screen_Error_Primary</name>
        <label>Primary Validation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Error_Primary</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Only one record can be marked as Primary.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please go back and update your selections so that no more than one record has Primary checked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays all ContactPointEmail records for this Account in a repeater pre-populated from var_AllEmails (sorted primary first). Users can edit existing rows or add new ones. canRemoveItem is false — deletion is handled via the Mark for Deletion checkbox. The repeater writes back via PrepopulatedItems and AddedItems. On Save, primary validation runs before DML.</description>
        <name>Screen_Manage_Emails</name>
        <label>Manage Email Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reset_Primary_Count_Email</targetReference>
        </connector>
        <fields>
            <name>EmailsList</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>txt_Email_Marked_Delete_Above</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;⚠ This email is marked for deletion.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>EmailsList.AllItems[$EachItem].field_Email_MarkedForDeletion</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>field_EmailAddress</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Email Address</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>var_AllEmails[$EachItem].EmailAddress</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Email_IsPrimary</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllEmails[$EachItem].IsPrimary</elementReference>
                </defaultValue>
                <fieldText>Primary</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Email_IsActive</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllEmails[$EachItem].Active__c</elementReference>
                </defaultValue>
                <fieldText>Active</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Email_InvalidReason</name>
                <choiceReferences>dcs_InvalidReason_Email</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>var_AllEmails[$EachItem].Invalid_Reason__c</elementReference>
                </defaultValue>
                <fieldText>Invalid Reason</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>field_Email_MarkedForDeletion</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>var_AllEmails[$EachItem].Marked_For_Deletion__c</elementReference>
                </defaultValue>
                <fieldText>Mark for Deletion</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>txt_Email_Marked_Delete_Below</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;⚠ This email is marked for deletion.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>EmailsList.AllItems[$EachItem].field_Email_MarkedForDeletion</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>var_AllEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen displayed after email DML completes successfully. Shows the Account name and tables of created and updated email address records.</description>
        <name>Screen_Success_Email</name>
        <label>Email Addresses Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Success_Email_None</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No records have been updated or crated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewEmails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_HasUpdateEmails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Success_Email_Created</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Email addresses for &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!var_Account.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; have been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewEmails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Success_Email_Created</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointEmail</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_NewEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Address&quot;,&quot;fieldName&quot;:&quot;EmailAddress&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointEmail&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_NewEmails&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasNewEmails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Success_Email_Update</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Email addresses for &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_Account.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; have been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdateEmails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Success_Email_Updated</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointEmail</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Updated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_UpdateEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Address&quot;,&quot;fieldName&quot;:&quot;EmailAddress&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContactPointEmail&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;var_UpdateEmails&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_HasUpdateEmails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Manage_Emails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account Id passed in from the parent flow. Used to stamp ParentId on new ContactPointEmail records.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account record passed in from the parent flow. Used in error screen display ({!var_Account.Name}) and for context.</description>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>All ContactPointEmail records for this Account, pre-queried by the parent flow via SMQS_Screen_Manage_ContactPoints_Subflow. Passed in sorted IsPrimary DESC. Used to pre-populate the EmailsList repeater.</description>
        <name>var_AllEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Accumulates delete-ready ContactPointEmail records (Id-only) built from EmailsList.PrepopulatedItems marked for deletion during Loop_Split_Emails. Passed to Delete_Emails for a single bulk delete.</description>
        <name>var_DeleteEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Set to true when a deleted email had IsPrimary = true. Used to decide whether to clear Account.PersonEmail after deletion.</description>
        <name>var_HasDeletePrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set to true by Assign_Flag_New_Emails when var_NewEmails is not empty. Used by Screen_Success_Email to conditionally show the Created datatable.</description>
        <name>var_HasNewEmails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Set to true by Assign_Flag_Update_Emails when var_UpdateEmails is not empty. Used by Screen_Success_Email to conditionally show the Updated datatable.</description>
        <name>var_HasUpdateEmails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Accumulates new ContactPointEmail records built from EmailsList.AddedItems during Loop_Split_Emails_New. Passed to Create_New_Emails for a single bulk insert.</description>
        <name>var_NewEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Counter used by Loop_Count_Primary_Emails and Loop_Count_Primary_Emails_Added to tally how many rows have IsPrimary = true. Reset to 0 by Assign_Reset_Primary_Count_Email before counting. Evaluated by Decision_Email_Primary_Valid.</description>
        <name>var_PrimaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Scratch variable used as a staging record during the build loops. Reused for new and update scenarios — fields are stamped and then the record is added to var_NewEmails or var_UpdateEmails.</description>
        <name>var_SingleEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Accumulates update-ready ContactPointEmail records built from EmailsList.PrepopulatedItems (not marked for deletion) during Loop_Split_Emails. Passed to Update_Emails for a single bulk update.</description>
        <name>var_UpdateEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
</Flow>
