force-app/main/default/flows/SMQS_Screen_RelatedList_ContactPointEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Screen flow on the Account record page to view ContactPointEmail records. Because ContactPointEmail is not enabled for dynamic related list single, this flow surfaces email records in two read-only tables: active/valid emails (no Invalid Reason) and inactive/invalid emails (with an Invalid Reason). New or primary email info can be entered from the Account page; use Manage Contact Info to update existing records or add secondary email addresses.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS RelatedList ContactPointEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen RelatedList ContactPointEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieves ContactPointEmail records with no Invalid Reason for this Account (active/valid). Results stored in var_ActiveEmails.</description>
        <name>Get_Active_Emails</name>
        <label>Get Active Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inactive_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ContactPointEmail</object>
        <outputReference>var_ActiveEmails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmailAddress</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves ContactPointEmail records with an Invalid Reason for this Account (inactive/invalid). Results stored in var_InactiveEmails.</description>
        <name>Get_Inactive_Emails</name>
        <label>Get Inactive Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_View</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ContactPointEmail</object>
        <outputReference>var_InactiveEmails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmailAddress</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Invalid_Reason__c</queriedFields>
    </recordLookups>
    <screens>
        <description>Displays ContactPointEmail records in two read-only tables. The first shows active/valid emails (no Invalid Reason). The second shows inactive/invalid emails (with an Invalid Reason).</description>
        <name>Screen_View</name>
        <label>View Email Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Active_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Active Email Addresses&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;You can enter new or overwrite primary contact info from the Account page. Use Manage Contact Info to update the info below and add secondary contact points.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_ActiveEmails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointEmail</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Active Email Addresses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_ActiveEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Address&quot;,&quot;fieldName&quot;:&quot;EmailAddress&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;label&quot;:&quot;Active&quot;,&quot;fieldName&quot;:&quot;Active__c&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedActiveEmails</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Inactive_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Inactive / Invalid Email Addresses&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_InactiveEmails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointEmail</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inactive / Invalid Email Addresses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_InactiveEmails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Address&quot;,&quot;fieldName&quot;:&quot;EmailAddress&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Invalid Reason&quot;,&quot;fieldName&quot;:&quot;Invalid_Reason__c&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedInactiveEmails</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Emails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Id of the Account record page the flow is embedded on.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All active/valid ContactPointEmail records for this Account (no Invalid Reason). Populated by Get_Active_Emails and displayed in dt_ActiveEmails.</description>
        <name>var_ActiveEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>All inactive/invalid ContactPointEmail records for this Account (with an Invalid Reason). Populated by Get_Inactive_Emails and displayed in dt_InactiveEmails.</description>
        <name>var_InactiveEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Captures any rows selected in the active emails table. Required by the datatable component but unused — the screen has no Next action.</description>
        <name>var_SelectedActiveEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <description>Captures any rows selected in the inactive emails table. Required by the datatable component but unused — the screen has no Next action.</description>
        <name>var_SelectedInactiveEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
</Flow>
