force-app/main/default/flows/SMQS_Address_Sync_Person_Account_to_ContactPointAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Builds the sparse Household Account SObject for the push-up update. Sets BillingStreet/City/State/PostalCode/Country to match the person&apos;s new PersonMailing values.</description>
        <name>Assign_Update_Household</name>
        <label>Assign Update Household</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_HouseholdToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Synced_ACR.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HouseholdToUpdate.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HouseholdToUpdate.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HouseholdToUpdate.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HouseholdToUpdate.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HouseholdToUpdate.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Household_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets var_EffectiveAccountName to &quot;[First Last]&apos;s Household&quot; built from the person&apos;s own name (f_PersonHouseholdName). Using the person&apos;s name avoids a race condition where the household Account.Name is still the empty default (&quot;&apos;s Household&quot;) when the CPA is created via the ACR-triggered address sync — which occurs before SMQS_Household_Setup_Name_Sync_AccountContactRelationship_to_Account can rename the household to the correct value. SMQS_Household_Setup_Name_Sync_Account_to_CPA will keep member CPA names in sync if the household is later renamed.</description>
        <name>Set_EffectiveName_Household</name>
        <label>Set Effective Name - Household</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_EffectiveAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PersonHouseholdName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Upsert_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets var_EffectiveAccountName to the Person Account&apos;s own name when the person has no active synced ACR with a Household Member role. Uses f_PersonFullName because $Record.Name is empty in the AfterSave context for Person Accounts (it is computed downstream from FirstName/LastName).</description>
        <name>Set_EffectiveName_Person</name>
        <label>Set Effective Name - Person</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_EffectiveAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PersonFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Upsert_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the first synced ACR lookup returned a record. If yes, the effective account name for the CPA comes from the Household; if no, it comes from the Person Account itself.</description>
        <name>Has_Synced_Household</name>
        <label>Has Synced Household?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_EffectiveName_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Use Person Name</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Synced_ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_First_Synced_ACR.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Effective_Household_Account</targetReference>
            </connector>
            <label>Yes - Use Household Name</label>
        </rules>
    </decisions>
    <decisions>
        <description>After the CPA upsert, checks whether this person has a synced Household ACR so the push-up update can run. Reuses the result of Get_First_Synced_ACR — no additional query needed.</description>
        <name>Has_Synced_Household_For_Push</name>
        <label>Has Synced Household For Push?</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>No - Done</defaultConnectorLabel>
        <rules>
            <name>Yes_Push_To_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Synced_ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_First_Synced_ACR.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household_For_Push</targetReference>
            </connector>
            <label>Yes - Push Up</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether any of the Household Account&apos;s Billing fields differ from the person&apos;s new PersonMailing fields. Only fires the push-up update when there is a real difference — guard that terminates the cascade when values converge.</description>
        <name>Household_Billing_Differs</name>
        <label>Household Billing Differs?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Differs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household_For_Push.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonMailingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Household_For_Push.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonMailingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Household_For_Push.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonMailingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Household_For_Push.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonMailingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Household_For_Push.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonMailingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Update_Household</targetReference>
            </connector>
            <label>Yes - Update Household</label>
        </rules>
    </decisions>
    <description>Account AfterSave flow gated to IsPersonAccount=true. Calls SMQS_Upsert_ContactPointAddress for the PersonMailing address, then pushes the address up to the first synced Household Account (IsActive=true, Sync_Household_Address__c=true, Roles contains Household Member) when the Billing values differ. SMQS_Sync_Business_Account_to_Contact_Point_Address handles the cascade to other household members. Recursion terminates through comparison guards. Runs after an Account (Person Account) is created or updated, then starts address sync to ContactPointAddress.</description>
    <environments>Default</environments>
    <formulas>
        <description>Concatenates the Person Account&apos;s FirstName and LastName for the CPA Name formula. $Record.Name is empty in the AfterSave context for Person Accounts (computed downstream from FirstName/LastName). BLANKVALUE and TRIM defend against either name being null.</description>
        <name>f_PersonFullName</name>
        <dataType>String</dataType>
        <expression>TRIM(BLANKVALUE({!$Record.FirstName}, &apos;&apos;) &amp; &apos; &apos; &amp; BLANKVALUE({!$Record.LastName}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <description>Builds the possessive household name from the person&apos;s own FirstName and LastName (&quot;[First Last]&apos;s Household&quot;). Used instead of Get_Effective_Household_Account.Name to avoid a race condition where the household Account name is still the empty default (&quot;&apos;s Household&quot;) at CPA creation time when the household was created from the home page before a primary member was assigned.</description>
        <name>f_PersonHouseholdName</name>
        <dataType>String</dataType>
        <expression>TRIM(BLANKVALUE({!$Record.FirstName}, &apos;&apos;) &amp; &apos; &apos; &amp; BLANKVALUE({!$Record.LastName}, &apos;&apos;)) &amp; &quot;&apos;s Household&quot;</expression>
    </formulas>
    <interviewLabel>SMQS Address Sync Person Account to ContactPointAddress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Address Sync Person Account to ContactPointAddress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Loads the Household Account (Id and Name) using the first synced ACR&apos;s AccountId. The Name is used to resolve var_EffectiveAccountName for the CPA Name formula.</description>
        <name>Get_Effective_Household_Account</name>
        <label>Get Effective Household Account</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_EffectiveName_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Synced_ACR.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the first active synced ACR (IsActive=true, Sync_Household_Address__c=true) for this Person Account&apos;s underlying Contact. The Household Member role check is done in Has_Synced_Household and Has_Synced_Household_For_Push using a decision-level Contains condition rather than a SOQL filter. Used both to determine if the effective CPA name comes from a Household and to identify the Household for the push-up update.</description>
        <name>Get_First_Synced_ACR</name>
        <label>Get First Synced ACR</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Synced_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Loads the Household Account&apos;s current Billing fields for the comparison in Household_Billing_Differs.</description>
        <name>Get_Household_For_Push</name>
        <label>Get Household For Push</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Household_Billing_Differs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Synced_ACR.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Household Account&apos;s Billing fields with the person&apos;s new PersonMailing values. This fires SMQS_Sync_Business_Account_to_Contact_Point_Address, which cascades to all other synced members. The Household_Billing_Differs guard ensures this only runs when there is a real difference.</description>
        <name>Update_Household_Account</name>
        <label>Update Household Account</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <inputReference>var_HouseholdToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_Synced_ACR</targetReference>
        </connector>
        <filterFormula>{!$Record.IsPersonAccount} &amp;&amp; (ISNEW() || ISCHANGED({!$Record.PersonMailingStreet}) || ISCHANGED({!$Record.PersonMailingCity}) || ISCHANGED({!$Record.PersonMailingState}) || ISCHANGED({!$Record.PersonMailingPostalCode}) || ISCHANGED({!$Record.PersonMailingCountry}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls SMQS_Upsert_ContactPointAddress with the person&apos;s PersonMailing fields (new and prior values). AddressType=Mailing. EffectiveAccountName is the Household name when the person has a synced ACR, otherwise the person&apos;s own name.</description>
        <name>Call_Upsert_Subflow</name>
        <label>Call Upsert Subflow</label>
        <locationX>380</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Has_Synced_Household_For_Push</targetReference>
        </connector>
        <flowName>SMQS_Address_Sync_Upsert_ContactPointAddress</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewStreet</name>
            <value>
                <elementReference>$Record.PersonMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewCity</name>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewState</name>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewPostalCode</name>
            <value>
                <elementReference>$Record.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewCountry</name>
            <value>
                <elementReference>$Record.PersonMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldStreet</name>
            <value>
                <elementReference>$Record__Prior.PersonMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldCity</name>
            <value>
                <elementReference>$Record__Prior.PersonMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldState</name>
            <value>
                <elementReference>$Record__Prior.PersonMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldPostalCode</name>
            <value>
                <elementReference>$Record__Prior.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldCountry</name>
            <value>
                <elementReference>$Record__Prior.PersonMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_AddressType</name>
            <value>
                <stringValue>Mailing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_EffectiveAccountName</name>
            <value>
                <elementReference>var_EffectiveAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_IsPersonAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Caller-resolved effective account name for the CPA Name formula. Set to Household.Name when the person has a synced ACR, otherwise set to Person Account&apos;s own Name.</description>
        <name>var_EffectiveAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sparse Account SObject for updating the Household Account&apos;s Billing fields during the push-up step.</description>
        <name>var_HouseholdToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
