force-app/main/default/flows/SMQS_Screen_Create_Party_Role_Relationship_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Existing_Role_Name</name>
        <label>Add Existing Role Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingRoleNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Collect_Existing_Names.RoleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collect_Existing_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Role_to_Create_Collection</name>
        <label>Add Role to Create Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_RolesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CurrentRoleTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Map_Roles_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Suggested_Role_to_Filtered</name>
        <label>Add Suggested Role to Filtered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FilteredSuggestedRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filter_Suggested_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter_Suggested_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Counters</name>
        <label>Add to Counters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfRolesWithInverse</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Paired_Created_Roles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumberOfRolesCreated</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Party_Relationship_Records_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ViewMode_Create</name>
        <label>Assign View Mode Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ViewMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Relationships_and_Group_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ViewMode_None</name>
        <label>Assign View Mode None</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ViewMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>none</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Relationships_and_Group_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ViewMode_Review</name>
        <label>Assign View Mode Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ViewMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Relationships_and_Group_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_the_Number_of_Rows_Selected</name>
        <label>Increase the Number of Rows Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfRolesSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Selected_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Role_Fields</name>
        <label>Map Role Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentRoleTemplate.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Map_Roles_to_Create.Role_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentRoleTemplate.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Map_Roles_to_Create.Related_Role_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentRoleTemplate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Map_Roles_to_Create.Role_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentRoleTemplate.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Map_Roles_to_Create.Create_Inverse_Role_Automatically__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentRoleTemplate.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RelationshipObjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentRoleTemplate.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Map_Roles_to_Create.Default_Hierarchy_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Role_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_CreateRoles</name>
        <choiceText>Create New Roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ReviewRoles</name>
        <choiceText>Review Existing Roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>review</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Paired_Created_Roles</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Paired Created Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Paired_Created_Roles</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_RolesToCreate</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Paired_Created_Roles.ShouldCreaInversRoleAuto</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Counters</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_After_Screen</name>
        <label>Decision After Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Count_Selected_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Roles</defaultConnectorLabel>
        <rules>
            <name>Is_Review_Mode</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ViewMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewModeRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>review</stringValue>
                </rightValue>
            </conditions>
            <label>Is Review Mode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Role_Already_Created</name>
        <label>Is Role Already Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Suggested_Role_to_Filtered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Created Yet</defaultConnectorLabel>
        <rules>
            <name>Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ExistingRoleNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Filter_Suggested_Roles.Role_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Filter_Suggested_Roles</targetReference>
            </connector>
            <label>Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Set_View_Mode</name>
        <label>Decision Set View Mode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Relationships_and_Group_Affiliations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both Available</defaultConnectorLabel>
        <rules>
            <name>No_Roles_At_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FilteredSuggestedRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Party_Role_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ViewMode_None</targetReference>
            </connector>
            <label>No Roles At All</label>
        </rules>
        <rules>
            <name>Create_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Party_Role_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ViewMode_Create</targetReference>
            </connector>
            <label>Create Only</label>
        </rules>
        <rules>
            <name>Review_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FilteredSuggestedRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ViewMode_Review</targetReference>
            </connector>
            <label>Review Only</label>
        </rules>
    </decisions>
    <description>Provides a selection of possible party role relationship options for an end user to select and then create in the system.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>f_NumberOfRolesWithOutInverse</name>
        <dataType>Number</dataType>
        <expression>{!var_NumberOfRolesCreated}-({!var_NumberOfRolesWithInverse}*2)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SMQS Screen Create Party Role Relationship Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Create Party Role Relationship Setup</label>
    <loops>
        <name>Count_Selected_Roles</name>
        <label>Count Selected Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PartyRelationshipRoles2.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_the_Number_of_Rows_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Map_Roles_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collect_Existing_Names</name>
        <label>Loop Collect Existing Names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Party_Role_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Existing_Role_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Filter_Suggested_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filter_Suggested_Roles</name>
        <label>Loop Filter Suggested Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Suggested_Party_Role_Options</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Role_Already_Created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Set_View_Mode</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Map_Roles_to_Create</name>
        <label>Loop Map Roles to Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PartyRelationshipRoles2.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Role_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Selected_Party_Relationship_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Selected_Party_Relationship_Groups</name>
        <label>Create Selected Party Relationship Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transform_Selected_PRGs_in_Text_String_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Results</targetReference>
        </faultConnector>
        <inputReference>var_RolesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Party_Role_Relationships</name>
        <label>Get Existing Party Role Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collect_Existing_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelationshipObjectName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelationshipObjectName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <sortField>RoleName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Relationship_Records_Created</name>
        <label>Get Party Relationship Records Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Paired_Created_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_now</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Transform_Selected_PRGs_in_Text_String_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <sortField>RoleName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Suggested_Party_Role_Options</name>
        <label>Get Suggested Party Role Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Party_Role_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relationship_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelationshipObjectName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SMQS_Party_Relationship_Role__mdt</object>
        <sortField>Role_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_Selected_Roles</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Selected Roles&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;These roles were created based on your selections.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreatedRolesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PartyRoleRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_RolesToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RoleName&quot;,&quot;guid&quot;:&quot;column-a11a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RelatedRoleName&quot;,&quot;guid&quot;:&quot;column-b22b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Related Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-c33c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayText_Paired_Roles</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Additional Roles Created&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;These roles were automatically created as inverse counterparts of your selections.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberOfRolesWithInverse</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PairedRolesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PartyRoleRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Additional Roles Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Party_Relationship_Records_Created</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RoleName&quot;,&quot;guid&quot;:&quot;column-d44d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RelatedRoleName&quot;,&quot;guid&quot;:&quot;column-e55e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Related Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-f66f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberOfRolesWithInverse</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Relationships_and_Group_Affiliations</name>
        <label>Select Relationships and Group Affiliations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_After_Screen</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Relationship and Group Affiliation Roles&lt;/strong&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayText_Nothing_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;All suggested roles have been created and no existing roles were found for this relationship type. There is nothing to create or review at this time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ViewMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>none</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewModeRadio</name>
            <choiceReferences>choice_CreateRoles</choiceReferences>
            <choiceReferences>choice_ReviewRoles</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_CreateRoles</defaultSelectedChoiceReference>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ViewMode</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Suggested_Roles</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Suggested Roles&lt;/strong&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_ViewMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>create</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ViewModeRadio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>create</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartyRelationshipRoles2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SMQS_Party_Relationship_Role__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Suggested Roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_FilteredSuggestedRoles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Role_Name__c&quot;,&quot;guid&quot;:&quot;column-e33c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Related_Role_Name__c&quot;,&quot;guid&quot;:&quot;column-c22b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Related Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role_Type__c&quot;,&quot;guid&quot;:&quot;column-b5eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_ViewMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>create</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ViewModeRadio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>create</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Existing_Roles</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Existing Roles&lt;/strong&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_ViewMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>review</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ViewModeRadio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>review</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ExistingRolesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PartyRoleRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Existing_Party_Role_Relationships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RoleName&quot;,&quot;guid&quot;:&quot;column-g77g&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RelatedRoleName&quot;,&quot;guid&quot;:&quot;column-h88h&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Related Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-i99i&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_ViewMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>review</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ViewModeRadio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>review</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Suggested_Party_Role_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Selected_PRGs_in_Text_String_Collection</name>
        <label>Transform Selected PRGs in Text String Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Party_Relationship_Records_Created</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_RolesToCreate[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Paired_Created_Roles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentRoleTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>var_ExistingRoleNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FilteredSuggestedRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMQS_Party_Relationship_Role__mdt</objectType>
    </variables>
    <variables>
        <name>var_NumberOfRolesCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NumberOfRolesSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumberOfRolesWithInverse</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RelationshipObjectName</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RolesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>var_ViewMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
