force-app/main/default/flows/SMQS_Screen_RelatedList_ContactPointPhone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Screen flow on the Account record page to view ContactPointPhone records. Because ContactPointPhone is not enabled for dynamic related list single, this flow surfaces phone records in two read-only tables: active/valid phones (no Invalid Reason) and inactive/invalid phones (with an Invalid Reason). New or primary phone info can be entered from the Account page; use Manage Contact Info to update existing records or add secondary contact points.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS RelatedList ContactPointPhone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen RelatedList ContactPointPhone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieves ContactPointPhone records with no Invalid Reason for this Account (active/valid). Results stored in var_ActivePhones.</description>
        <name>Get_Active_Phones</name>
        <label>Get Active Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inactive_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ContactPointPhone</object>
        <outputReference>var_ActivePhones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TelephoneNumber</queriedFields>
        <queriedFields>ExtensionNumber</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Map_To__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves ContactPointPhone records with an Invalid Reason for this Account (inactive/invalid). Results stored in var_InactivePhones.</description>
        <name>Get_Inactive_Phones</name>
        <label>Get Inactive Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_View</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ContactPointPhone</object>
        <outputReference>var_InactivePhones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TelephoneNumber</queriedFields>
        <queriedFields>ExtensionNumber</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Map_To__c</queriedFields>
        <queriedFields>Invalid_Reason__c</queriedFields>
    </recordLookups>
    <screens>
        <description>Displays ContactPointPhone records in two read-only tables. The first shows active/valid phones (no Invalid Reason). The second shows inactive/invalid phones (with an Invalid Reason).</description>
        <name>Screen_View</name>
        <label>View Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Active_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Active Phone Numbers&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;You can enter new or overwrite primary contact info from the Account page. Use Manage Contact Info to update the info below and add secondary contact points.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_ActivePhones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Active Phone Numbers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_ActivePhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;label&quot;:&quot;Extension&quot;,&quot;fieldName&quot;:&quot;ExtensionNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Map To&quot;,&quot;fieldName&quot;:&quot;Map_To__c&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedActivePhones</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_Inactive_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Inactive / Invalid Phone Numbers&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_InactivePhones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inactive / Invalid Phone Numbers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_InactivePhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;label&quot;:&quot;Extension&quot;,&quot;fieldName&quot;:&quot;ExtensionNumber&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Map To&quot;,&quot;fieldName&quot;:&quot;Map_To__c&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Invalid Reason&quot;,&quot;fieldName&quot;:&quot;Invalid_Reason__c&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedInactivePhones</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Phones</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Id of the Account record page the flow is embedded on.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All active/valid ContactPointPhone records for this Account (no Invalid Reason). Populated by Get_Active_Phones and displayed in dt_ActivePhones.</description>
        <name>var_ActivePhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>All inactive/invalid ContactPointPhone records for this Account (with an Invalid Reason). Populated by Get_Inactive_Phones and displayed in dt_InactivePhones.</description>
        <name>var_InactivePhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Captures any rows selected in the active phones table. Required by the datatable component but unused — the screen has no Next action.</description>
        <name>var_SelectedActivePhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Captures any rows selected in the inactive phones table. Required by the datatable component but unused — the screen has no Next action.</description>
        <name>var_SelectedInactivePhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
</Flow>
