force-app/main/default/flows/SMQS_Address_Sync_Upsert_ContactPointAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Builds a demote-item SObject (IsPrimary=false) and appends it to the rcv_ToDemote collection for bulk update after the loop.</description>
        <name>Add_To_Demote_Collection</name>
        <label>Add To Demote Collection</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rv_DemoteItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Demote_Others.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DemoteItem.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcv_ToDemote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_DemoteItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Demote_Others</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores the Id of the newly-created CPA so Get_Other_Primaries can exclude it.</description>
        <name>Set_UpsertedCPAId_Create</name>
        <label>Set UpsertedCPAId - Create</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_UpsertedCPAId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Active_CPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Other_Primaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores the Id of the reactivated CPA so Get_Other_Primaries can exclude it.</description>
        <name>Set_UpsertedCPAId_Reactivate</name>
        <label>Set UpsertedCPAId - Reactivate</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_UpsertedCPAId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Any_CPA_for_New_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Other_Primaries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Null-guards the Invalidate_Old_CPA step. Only fires when an active CPA was actually found for the released old address.</description>
        <name>Active_Old_CPA_Found</name>
        <label>Active Old CPA Found?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Old_CPA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_CPA_for_Old_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalidate_Old_CPA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides whether to reactivate an existing CPA (any status) or create a new one. The uniqueness key is ParentId + all 5 address parts — UsageType and IsUndeliverable are intentionally NOT filtered so historical rows are reactivated in place.</description>
        <name>CPA_Found</name>
        <label>CPA Found?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_New_Active_CPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create</defaultConnectorLabel>
        <rules>
            <name>Yes_CPA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Any_CPA_for_New_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivate_Existing_CPA</targetReference>
            </connector>
            <label>Yes - Reactivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Branches on whether the new address tuple is non-blank. No branch proceeds to the old-address-release check only.</description>
        <name>New_Address_Provided</name>
        <label>New Address Provided?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Old_Address_Released</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip to Old</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_NewAddressIsBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Any_CPA_for_New_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the old address was non-blank and different from the new address. Both conditions must be true to proceed to invalidation — recursion guard prevents re-invalidation of an already-inactive CPA.</description>
        <name>Old_Address_Released</name>
        <label>Old Address Released?</label>
        <locationX>380</locationX>
        <locationY>1358</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Old_Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_OldAddressIsBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_OldEqualsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_CPA_for_Old_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Shared autolaunched subflow for ContactPointAddress upsert. Given one Account and one address slot (new + old), it: (1) finds or creates an active CPA for the new address, (2) demotes all other primaries on the Account, (3) invalidates the active CPA for the old address if the address changed. Enforces the (ParentId, Address) uniqueness rule by reactivating historical rows in place rather than duplicating them. Autolaunched subflow entry point for upserting ContactPointAddress records when called by parent sync flows.</description>
    <environments>Default</environments>
    <formulas>
        <description>3-letter month abbreviation derived from TODAY() for use in CPA Name.</description>
        <name>f_MonthName</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()), 1, &apos;Jan&apos;, 2, &apos;Feb&apos;, 3, &apos;Mar&apos;, 4, &apos;Apr&apos;, 5, &apos;May&apos;, 6, &apos;Jun&apos;, 7, &apos;Jul&apos;, 8, &apos;Aug&apos;, 9, &apos;Sep&apos;, 10, &apos;Oct&apos;, 11, &apos;Nov&apos;, 12, &apos;Dec&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>True when all meaningful new address parts are blank — Country alone does not constitute an address. Used to gate the upsert path.</description>
        <name>f_NewAddressIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!var_NewStreet}) &amp;&amp; ISBLANK({!var_NewCity}) &amp;&amp; ISBLANK({!var_NewState}) &amp;&amp; ISBLANK({!var_NewPostalCode})</expression>
    </formulas>
    <formulas>
        <description>Name to stamp on a newly-created CPA. Evaluated at create time only — never refreshed on update.</description>
        <name>f_NewCpaName</name>
        <dataType>String</dataType>
        <expression>{!var_EffectiveAccountName} &amp; &apos; &apos; &amp; {!var_AddressType} &amp; &apos; Address &apos; &amp; {!f_MonthName} &amp; &apos;, &apos; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <description>True when all five old address parts are blank — used to gate the old-address invalidation path.</description>
        <name>f_OldAddressIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!var_OldStreet}) &amp;&amp; ISBLANK({!var_OldCity}) &amp;&amp; ISBLANK({!var_OldState}) &amp;&amp; ISBLANK({!var_OldPostalCode}) &amp;&amp; ISBLANK({!var_OldCountry})</expression>
    </formulas>
    <formulas>
        <description>True when the old address tuple equals the new address tuple (all 5 parts). When true, no invalidation is needed because the address did not actually change.</description>
        <name>f_OldEqualsNew</name>
        <dataType>Boolean</dataType>
        <expression>{!var_OldStreet} = {!var_NewStreet} &amp;&amp; {!var_OldCity} = {!var_NewCity} &amp;&amp; {!var_OldState} = {!var_NewState} &amp;&amp; {!var_OldPostalCode} = {!var_NewPostalCode} &amp;&amp; {!var_OldCountry} = {!var_NewCountry}</expression>
    </formulas>
    <interviewLabel>SMQS Address Sync Upsert ContactPointAddress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Address Sync Upsert ContactPointAddress</label>
    <loops>
        <description>Iterates over all other-primary CPAs on the Account. For each, builds a demote-item SObject (IsPrimary=false) for the bulk update after the loop.</description>
        <name>Loop_Demote_Others</name>
        <label>Loop Demote Others</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Other_Primaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Demote_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Demote_Other_Primaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a brand-new active CPA when no existing row (active or historical) matches the (ParentId, Address) key.</description>
        <name>Create_New_Active_CPA</name>
        <label>Create New Active CPA</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_UpsertedCPAId_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>ActiveFromDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressType</field>
            <value>
                <elementReference>var_AddressType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>var_NewCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>var_NewCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUndeliverable</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_NewCpaName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>var_NewPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>var_NewState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>var_NewStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Finds the active CPA (UsageType != Inactive, IsUndeliverable=false) matching the released old address. Used to invalidate it after the account address changes to something different.</description>
        <name>Get_Active_CPA_for_Old_Address</name>
        <label>Get Active CPA for Old Address</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Old_CPA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldState</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OldCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsUndeliverable</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds any existing CPA matching the (ParentId, 5-part Address) key — regardless of UsageType or IsUndeliverable. This is the dedupe-key lookup per to prevent duplicates. A historical address record is reactivated in place rather than duplicated.</description>
        <name>Get_Any_CPA_for_New_Address</name>
        <label>Get Any CPA for New Address</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewState</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all CPAs on the Account that are currently IsPrimary=true, excluding the CPA we just upserted. Used to build the demote collection.</description>
        <name>Get_Other_Primaries</name>
        <label>Get Other Primaries</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Demote_Others</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_UpsertedCPAId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Bulk-demotes all other-primary CPAs on the Account by setting IsPrimary=false. Uses the rcv_ToDemote collection built during Loop_Demote_Others. Safe no-op when the collection is empty.</description>
        <name>Demote_Other_Primaries</name>
        <label>Demote Other Primaries</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Old_Address_Released</targetReference>
        </connector>
        <inputReference>rcv_ToDemote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Invalidates the active CPA for the released old address: UsageType=Inactive, IsPrimary=false, ActiveToDate=TODAY(). History is preserved in ContactPointAddressHistory (Field History Tracking).</description>
        <name>Invalidate_Old_CPA</name>
        <label>Invalidate Old CPA</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPA_for_Old_Address.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActiveToDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
    </recordUpdates>
    <recordUpdates>
        <description>Reactivates an existing CPA that matches the (ParentId, Address) key. Sets IsPrimary=true, UsageType=Active, IsUndeliverable=false, ActiveFromDate=TODAY(), ActiveToDate=null. Name is NOT refreshed (set only on first create).</description>
        <name>Reactivate_Existing_CPA</name>
        <label>Reactivate Existing CPA</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_UpsertedCPAId_Reactivate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Any_CPA_for_New_Address.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActiveFromDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActiveToDate</field>
            <value>
                <elementReference>var_NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUndeliverable</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Address_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of ContactPointAddress records to demote (IsPrimary=false). Built during Loop_Demote_Others; bulk-updated by Demote_Other_Primaries.</description>
        <name>rcv_ToDemote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>Single-record staging variable for each loop iteration. Built in Add_To_Demote_Collection; added to rcv_ToDemote for bulk update.</description>
        <name>rv_DemoteItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <description>The Id of the Account whose address slot is being synced.</description>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Address type to stamp on newly-created CPAs: Mailing for Person Accounts, Billing for Business Accounts. Not updated on existing CPAs.</description>
        <name>var_AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Caller-resolved account name for the CPA Name formula. Person Account callers use the Household name when the person has a synced ACR; Business callers always use their own name.</description>
        <name>var_EffectiveAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reserved for future use. True when the caller is a Person Account flow.</description>
        <name>var_IsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New value of the City address part after the Account save.</description>
        <name>var_NewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New value of the Country address part after the Account save.</description>
        <name>var_NewCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New value of the PostalCode address part after the Account save.</description>
        <name>var_NewPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New value of the State address part after the Account save.</description>
        <name>var_NewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New value of the Street address part after the Account save.</description>
        <name>var_NewStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Null Date variable used to clear ActiveToDate when reactivating a historical CPA. Uninitialized Date variables default to null in Salesforce Flow.</description>
        <name>var_NullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the City address part before the Account save.</description>
        <name>var_OldCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the Country address part before the Account save.</description>
        <name>var_OldCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the PostalCode address part before the Account save.</description>
        <name>var_OldPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the State address part before the Account save.</description>
        <name>var_OldState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the Street address part before the Account save. Blank when this is a new record.</description>
        <name>var_OldStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Internal: stores the Id of the CPA that was just created or reactivated, so the demote query can exclude it.</description>
        <name>var_UpsertedCPAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
