force-app/main/default/flows/SMQS_Email_Sync_Account_to_ContactPointEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decides whether the new PersonEmail value already has an active ContactPointEmail (update) or not (create).</description>
        <name>Active_CPE_for_New_Value_Found</name>
        <label>Active CPE for New Value Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_New_Active_CPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_CPE_for_New_Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Active_CPE</targetReference>
            </connector>
            <label>Yes - Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes processing based on whether the Account.PersonEmail field has a new (non-blank) value.</description>
        <name>New_Value_Provided</name>
        <label>New Value Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Old_Value_Released</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_CPE_for_New_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to invalidation only when the prior PersonEmail was actually released (non-blank and changed).</description>
        <name>Old_Value_Released</name>
        <label>Old Value Released?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Old_Value_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_CPE_for_Old_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Syncs Account.PersonEmail changes to ContactPointEmail records on Person Accounts. Each PersonEmail value maps to an active ContactPointEmail matched by ParentId and EmailAddress (excluding records where Invalid_Reason__c is set). Released emails are marked Wrong Email / Inactive (preserving history). PersonEmail only exists on Person Accounts, so the entry formula filters on IsPersonAccount. Runs after Account create/update and starts email sync from Account to ContactPointEmail.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Email Sync Account to ContactPointEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Email Sync Account to ContactPointEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new active ContactPointEmail when no active CPE exists for the new PersonEmail value. Historical CPEs with Invalid_Reason__c set are intentionally not touched, so a recurring email yields a brand-new active row and preserves history.</description>
        <name>Create_New_Active_CPE</name>
        <label>Create New Active CPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Old_Value_Released</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailAddress</field>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Look up any existing ContactPointEmail for the new PersonEmail value regardless of Invalid_Reason__c. If found (active or previously invalidated), it will be reactivated rather than creating a duplicate record.</description>
        <name>Get_Active_CPE_for_New_Value</name>
        <label>Get Active CPE for New Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_CPE_for_New_Value_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look up the active ContactPointEmail for the released old PersonEmail value to invalidate it.</description>
        <name>Get_Active_CPE_for_Old_Value</name>
        <label>Get Active CPE for Old Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_Old_CPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Marks the released PersonEmail value&apos;s active CPE as historical: UsageType = Inactive, IsPrimary = false.</description>
        <name>Deactivate_Old_CPE</name>
        <label>Deactivate Old CPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPE_for_Old_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
    </recordUpdates>
    <recordUpdates>
        <description>Reactivates or updates the existing ContactPointEmail for the new PersonEmail value. Clears Invalid_Reason__c and resets UsageType so a previously invalidated record is fully restored. IsPrimary is always true since there is only one email slot on a Person Account.</description>
        <name>Update_Existing_Active_CPE</name>
        <label>Update Existing Active CPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Old_Value_Released</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_CPE_for_New_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invalid_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
        </inputAssignments>
        <object>ContactPointEmail</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Value_Provided</targetReference>
        </connector>
        <filterFormula>{!$Record.IsPersonAccount} &amp;&amp; (ISNEW() || ISCHANGED({!$Record.PersonEmail}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
