force-app/main/default/flows/SMQS_Screen_Manage_ContactPointPhone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Stamps the shared IsPrimary and Invalid Reason values from Screen_Edit_Multi onto the current loop record (Loop_Apply_Multi), then adds it to var_PhonesToUpdate. Runs once per selected record. After all iterations, Update_Phones performs the DML save.</description>
        <name>Assign_Apply_Multi</name>
        <label>Stamp Values on Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Apply_Multi.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Multi_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Apply_Multi.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Multi_Invalid_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PhonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Apply_Multi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Apply_Multi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stamps the edited field values from Screen_Edit_Single onto var_SinglePhone, adds it to the var_PhonesToUpdate collection, then proceeds to Update_Phones for the DML save.</description>
        <name>Assign_Apply_Single</name>
        <label>Apply Single Record Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone.TelephoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_TelephoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.ExtensionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_ExtensionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_UsageType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SinglePhone.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Invalid_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PhonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SinglePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Captures the single selected record into var_SinglePhone so Screen_Edit_Single can pre-populate all fields. Loop_Capture_Single iterates var_SelectedPhones once; this assignment fires on that one iteration and stores the record, then routes to Screen_Edit_Single.</description>
        <name>Assign_Capture_Single</name>
        <label>Capture Single Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SinglePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Capture_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Edit_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the records the user selected in the data table and stores the result in var_Count. var_Count is evaluated by Decision_Route_by_Count to route to the single-record or multi-record edit screen.</description>
        <name>Count_Selected_Phones</name>
        <label>Count Selected Phones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_SelectedPhones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Route_by_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Routes based on var_Count. If exactly 1 record was selected, routes to Loop_Capture_Single which populates var_SinglePhone before showing Screen_Edit_Single with all fields pre-populated. If more than 1, routes to Screen_Edit_Multi where only IsPrimary and Invalid Reason are editable and applied uniformly to all selected records.</description>
        <name>Decision_Route_by_Count</name>
        <label>Single or Multiple Records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Edit_Multi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Records</defaultConnectorLabel>
        <rules>
            <name>Is_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Capture_Single</targetReference>
            </connector>
            <label>Single Record</label>
        </rules>
    </decisions>
    <description>Screen flow on the Account record page to manage ContactPointPhone records. Select one or more records to edit. Sync flows handle downstream Account field updates.</description>
    <dynamicChoiceSets>
        <name>dcs_Invalid_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invalid_Reason__c</picklistField>
        <picklistObject>ContactPointPhone</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcs_UsageType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UsageType</picklistField>
        <picklistObject>ContactPointPhone</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SMQS Manage ContactPointPhone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Screen Manage ContactPointPhone</label>
    <loops>
        <description>Iterates over each record in var_SelectedPhones. For each iteration, Assign_Apply_Multi stamps the shared IsPrimary and Invalid Reason values from Screen_Edit_Multi and adds the record to var_PhonesToUpdate. After all iterations, Update_Phones performs the DML save.</description>
        <name>Loop_Apply_Multi</name>
        <label>Apply to Each Selected Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_SelectedPhones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Apply_Multi</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Phones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates var_SelectedPhones exactly once (only reached when var_Count = 1). The single iteration fires Assign_Capture_Single to store the record in var_SinglePhone, which then routes to Screen_Edit_Single with all fields pre-populated.</description>
        <name>Loop_Capture_Single</name>
        <label>Capture Single Selected Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_SelectedPhones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Capture_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Edit_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieves all ContactPointPhone records for this Account (filtered by ParentId = recordId). Results are stored in var_AllPhones and bound to the data table on Screen_Select so the user can select records to edit.</description>
        <name>Get_Phone_Records</name>
        <label>Get Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContactPointPhone</object>
        <outputReference>var_AllPhones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TelephoneNumber</queriedFields>
        <queriedFields>ExtensionNumber</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>UsageType</queriedFields>
        <queriedFields>Invalid_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Performs a single DML update on all records in var_PhonesToUpdate (either one record from the single path or multiple from the multi path). On success, routes to Screen_Success. On fault, routes to Screen_Error where the system fault message is displayed.</description>
        <name>Update_Phones</name>
        <label>Update Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>var_PhonesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Edit screen shown when multiple records were selected. Only IsPrimary and Invalid Reason are editable — these values are applied uniformly to all selected records by Loop_Apply_Multi. On Next, Loop_Apply_Multi iterates and stamps values, then Update_Phones saves.</description>
        <name>Screen_Edit_Multi</name>
        <label>Edit Selected Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Apply_Multi</targetReference>
        </connector>
        <fields>
            <name>Screen_Edit_Multi_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Edit_Multi_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextSpacer2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>field_Multi_IsPrimary</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Primary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Edit_Multi_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_Multi_Invalid_Reason</name>
                    <choiceReferences>dcs_Invalid_Reason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Invalid Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Edit screen shown when exactly one record was selected. All fields are pre-populated from var_SinglePhone. TelephoneNumber is read-only (shown for context). On Next, Assign_Apply_Single stamps all values onto var_SinglePhone and adds it to var_PhonesToUpdate.</description>
        <name>Screen_Edit_Single</name>
        <label>Edit Phone Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Apply_Single</targetReference>
        </connector>
        <fields>
            <name>Screen_Edit_Single_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Edit_Single_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_TelephoneNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_SinglePhone.TelephoneNumber</elementReference>
                    </defaultValue>
                    <fieldText>Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>field_ExtensionNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_SinglePhone.ExtensionNumber</elementReference>
                    </defaultValue>
                    <fieldText>Extension</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>field_UsageType</name>
                    <choiceReferences>dcs_UsageType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_SinglePhone.UsageType</elementReference>
                    </defaultValue>
                    <fieldText>Usage Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Edit_Single_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextSpacer</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>field_IsPrimary</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_SinglePhone.IsPrimary</elementReference>
                    </defaultValue>
                    <fieldText>Primary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>field_Invalid_Reason</name>
                    <choiceReferences>dcs_Invalid_Reason</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_SinglePhone.Invalid_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>Invalid Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a fault message if Update_Phones encounters a DML error. The user can dismiss the flow from this screen.</description>
        <name>Screen_Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An error occurred while saving.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays all ContactPointPhone records for this Account in a multi-select data table. The user selects one or more records to edit and clicks Edit Selected. Selected rows are stored in var_SelectedPhones, which feeds Count_Selected_Phones and then either the single-record or multi-record edit screen.</description>
        <name>Screen_Select</name>
        <label>Select Phone Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Phones</targetReference>
        </connector>
        <fields>
            <name>dt_Phones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContactPointPhone</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_AllPhones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Phone Number&quot;,&quot;fieldName&quot;:&quot;TelephoneNumber&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;label&quot;:&quot;Primary&quot;,&quot;fieldName&quot;:&quot;IsPrimary&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;label&quot;:&quot;Usage Type&quot;,&quot;fieldName&quot;:&quot;UsageType&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;label&quot;:&quot;Invalid Reason&quot;,&quot;fieldName&quot;:&quot;Invalid_Reason__c&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedPhones</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Edit Selected</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen displayed after Update_Phones successfully saves all records. The user can close the flow from here.</description>
        <name>Screen_Success</name>
        <label>Phone Records Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Success</name>
            <fieldText>&lt;p&gt;The selected phone record(s) have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Phone_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Id of the Account record page the flow is embedded on.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All ContactPointPhone records for this Account. Populated by Get_Phone_Records and bound to the data table on Screen_Select.</description>
        <name>var_AllPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Number of rows selected in the data table. Populated by Count_Selected_Phones using AssignCount. Evaluated by Decision_Route_by_Count to route to single-record or multi-record edit screen.</description>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Records staged for the DML update. Populated by either Assign_Apply_Single (single path) or Loop_Apply_Multi + Assign_Apply_Multi (multi path). Passed to Update_Phones as the input collection.</description>
        <name>var_PhonesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>Records selected in the data table. Output from dt_Phones on Screen_Select. Used by Count_Selected_Phones (to count) and Loop_Capture_Single (single path) or Loop_Apply_Multi (multi path) for downstream processing.</description>
        <name>var_SelectedPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
    <variables>
        <description>The single selected record. Populated from var_SelectedPhones by Assign_Capture_Single (via Loop_Capture_Single) when the single-record path is taken. Used to pre-populate fields on Screen_Edit_Single and as the target for Assign_Apply_Single before being added to var_PhonesToUpdate.</description>
        <name>var_SinglePhone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointPhone</objectType>
    </variables>
</Flow>
