force-app/main/default/flows/SMQS_Address_Sync_AccountContactRelation_Household.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Builds the sparse Person Account SObject with PersonMailing* fields set to the Household&apos;s Billing* values for the update.</description>
        <name>Assign_PersonMailing_From_Household</name>
        <label>Assign PersonMailing From Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PersonAccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member_Person_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccountToUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccountToUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccountToUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccountToUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccountToUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Member_Person_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Proceeds only when the parent Account of the ACR is a Household (Is_Household__c=true). Non-household accounts (organizations) do not participate in the member address cascade.</description>
        <name>Is_Household</name>
        <label>Is Household?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household_Account.Is_Household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether any of the Person Account&apos;s PersonMailing* fields differ from the Household&apos;s Billing* fields. Only proceeds to update when there is a real difference — idempotent guard that prevents unnecessary writes and recursion.</description>
        <name>Mailing_Differs</name>
        <label>Mailing Differs?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Already Synced</defaultConnectorLabel>
        <rules>
            <name>Yes_Mailing_Differs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Household_Account.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Household_Account.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Household_Account.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Household_Account.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Household_Account.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PersonMailing_From_Household</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>AccountContactRelation AfterSave flow. Fires when IsActive, Sync_Household_Address__c, or Roles changes and all three sync conditions are met (Roles INCLUDES Household Member, IsActive=true, Sync_Household_Address__c=true). Copies the Household Account&apos;s Billing* to the linked Person Account&apos;s PersonMailing* when they differ. This triggers SMQS_Sync_Person_Account_to_Contact_Point_Address, which upserts the person&apos;s CPA and pushes back to the household (idempotent — values will already match).</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Address Sync AccountContactRelation Household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Address Sync AccountContactRelation Household</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Loads the parent Account (Household) to check Is_Household__c and Billing* fields.</description>
        <name>Get_Household_Account</name>
        <label>Get Household Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Loads the Person Account linked to the ACR&apos;s Contact via PersonContactId. Returns Id, IsPersonAccount, and all PersonMailing* fields for the idempotency comparison.</description>
        <name>Get_Member_Person_Account</name>
        <label>Get Member Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mailing_Differs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Person Account&apos;s PersonMailing* fields to match the Household&apos;s Billing* fields. Fires SMQS_Sync_Person_Account_to_Contact_Point_Address, which upserts the CPA and then pushes back to the Household (idempotent no-op because values now match).</description>
        <name>Update_Member_Person_Account</name>
        <label>Update Member Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_PersonAccountToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Household_Account</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.IsActive}) || ISCHANGED({!$Record.Sync_Household_Address__c}) || ISCHANGED({!$Record.Roles})) &amp;&amp; {!$Record.IsActive} &amp;&amp; {!$Record.Sync_Household_Address__c} &amp;&amp; INCLUDES({!$Record.Roles}, &apos;Household Member&apos;)</filterFormula>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Sparse Person Account SObject for the update. Id and all five PersonMailing* fields are set in Assign_PersonMailing_From_Household before the update.</description>
        <name>var_PersonAccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
