force-app/main/default/flows/SMQS_Phone_Sync_Household_Account_To_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Builds the sparse Person Account SObject with PersonHomePhone set to the Household&apos;s current Phone value, then adds it to the rcv_MembersToUpdate_Phone collection for the single bulk update after the loop exits.</description>
        <name>Assign_Update_Member_Phone</name>
        <label>Assign Update Member Phone</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member_Person_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcv_MembersToUpdate_Phone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MemberToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cascade_To_Members_Phone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Per-iteration guard inside Loop_Cascade_To_Members_Phone. Confirms the current ACR has &apos;Household Member&apos; in its Roles multi-select picklist before cascading the phone to the linked Person Account. The check is decision-level only — SOQL Contains on a multi-select picklist generates invalid SOQL at runtime.</description>
        <name>ACR_Has_Household_Member_Role</name>
        <label>ACR Has Household Member Role?</label>
        <locationX>424</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Cascade_To_Members_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip ACR</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cascade_To_Members_Phone.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member_Person_Account</targetReference>
            </connector>
            <label>Yes - Process ACR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Is_Household__c on the triggering Account. Only Household Accounts cascade their Phone to synced member Person Accounts. Organization accounts (non-household Business Accounts) skip the cascade.</description>
        <name>Is_Household</name>
        <label>Is Household?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No - Skip Cascade</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Synced_Member_ACRs_Phone</targetReference>
            </connector>
            <label>Yes - Cascade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the member Person Account&apos;s PersonHomePhone differs from the Household&apos;s new Phone value. Only proceeds to update when there is a real difference — idempotent guard that terminates cascades when the originating member&apos;s phone already matches.</description>
        <name>Member_Phone_Differs</name>
        <label>Member Phone Differs?</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Cascade_To_Members_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_Differs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonHomePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Update_Member_Phone</targetReference>
            </connector>
            <label>Yes - Update Member</label>
        </rules>
    </decisions>
    <description>Account AfterSave flow gated to NOT(IsPersonAccount). When Is_Household__c=true and Phone changes, cascades the new Phone value to all synced member Person Accounts (IsActive=true, Sync_Household_Phone__c=true, Roles contains Household Member) in a single bulk update after the loop. Recursion terminates through comparison guards. No CPP upsert here — the existing SMQS Phone trio handles ContactPointPhone reconciliation downstream when each member&apos;s PersonHomePhone changes.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Phone Sync Household Account To Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Phone Sync Household Account To Person Account</label>
    <loops>
        <description>Iterates over all active synced member ACRs on the Household. For each, checks the Household Member role, loads the member Person Account, compares PersonHomePhone to Household Phone, and when different adds the member to rcv_MembersToUpdate_Phone. After the loop exits, Update_Member_Person_Accounts_Phone does a single bulk update.</description>
        <name>Loop_Cascade_To_Members_Phone</name>
        <label>Loop Cascade To Members (Phone)</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Active_Synced_Member_ACRs_Phone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ACR_Has_Household_Member_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Member_Person_Accounts_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all active synced member ACRs on this Household Account. Filtered to IsActive=true, Sync_Household_Phone__c=true. The Household Member role check is done per-iteration in ACR_Has_Household_Member_Role using a decision-level Contains condition — SOQL Contains on a multi-select picklist generates invalid SOQL at runtime.</description>
        <name>Get_Active_Synced_Member_ACRs_Phone</name>
        <label>Get Active Synced Member ACRs (Phone)</label>
        <locationX>50</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cascade_To_Members_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Loads the Person Account for the current loop ACR&apos;s Contact. Filters by PersonContactId=ACR.ContactId to resolve Contact to Person Account. Returns Id and PersonHomePhone for comparison.</description>
        <name>Get_Member_Person_Account</name>
        <label>Get Member Person Account</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Phone_Differs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Cascade_To_Members_Phone.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Bulk update — sets PersonHomePhone on all members collected during the loop in one DML call. Each updated Person Account triggers SMQS_Sync_Person_Account_to_Household_Phone, which attempts a push-up to the Household (comparison guard makes it a no-op since Phone already matches). The existing SMQS Phone trio reconciles each member&apos;s CPP records as a downstream side effect.</description>
        <name>Update_Member_Person_Accounts_Phone</name>
        <label>Update Member Person Accounts (Phone)</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <inputReference>rcv_MembersToUpdate_Phone</inputReference>
    </recordUpdates>
    <start>
        <locationX>156</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Household</targetReference>
        </connector>
        <filterFormula>NOT({!$Record.IsPersonAccount}) &amp;&amp; (ISNEW() || ISCHANGED({!$Record.Phone}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of sparse Person Account SObjects built during Loop_Cascade_To_Members_Phone. Each element has Id and PersonHomePhone set. Updated in a single bulk DML after the loop exits in Update_Member_Person_Accounts_Phone.</description>
        <name>rcv_MembersToUpdate_Phone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Sparse Person Account SObject reused each loop iteration in Assign_Update_Member_Phone to build the update payload before adding it to rcv_MembersToUpdate_Phone.</description>
        <name>var_MemberToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
