force-app/main/default/flows/SMQS_Account_Account_Relationship_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <description>Checks if inverse AccountAccountRelation still exists. Outcome is used later to decide delete/update actions.</description>
        <name>Has_Inverse_Record_Already_Been_Deleted</name>
        <label>Has Inverse Record Already Been Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clear_Inverse_Record_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inverse_Record_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedInverseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Handles inverse cleanup for AccountAccountRelation deletes. Cleanup results are used later to prevent orphaned inverse references.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Account Account - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Account Account Relationship - Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Removes inverse record or clears linkage fields. This ensures later operations do not reference invalid inverse ids.</description>
        <name>Delete_Inverse_Record</name>
        <label>Delete Inverse Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedInverseRecordId</elementReference>
            </value>
        </filters>
        <object>AccountAccountRelation</object>
    </recordDeletes>
    <recordUpdates>
        <description>Removes inverse record or clears linkage fields. This ensures later operations do not reference invalid inverse ids.</description>
        <name>Clear_Inverse_Record_Lookup</name>
        <label>Clear Inverse Record Lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Inverse_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedInverseRecordId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.RelatedInverseRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Inverse_Record_Already_Been_Deleted</targetReference>
        </connector>
        <object>AccountAccountRelation</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
