force-app/main/default/flows/SMQS_Address_Sync_ContactPointAddress_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Clears all five Billing* fields on var_AccountToUpdate. Used when IsUndeliverable=true is set on a primary CPA belonging to a Business Account.</description>
        <name>Assign_Clear_Billing</name>
        <label>Assign Clear Billing</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clears all five PersonMailing* fields on var_AccountToUpdate. Used when IsUndeliverable=true is set on a primary CPA belonging to a Person Account — the parent Account address fields are cleared.</description>
        <name>Assign_Clear_PersonMailing</name>
        <label>Assign Clear PersonMailing</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copies the CPA&apos;s five address parts into var_AccountToUpdate&apos;s Billing* fields. Used when IsPrimary becomes true on a CPA belonging to a Business Account and the addresses differ.</description>
        <name>Assign_Promote_Billing</name>
        <label>Assign Promote Billing</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copies the CPA&apos;s five address parts into var_AccountToUpdate&apos;s PersonMailing* fields. Used when IsPrimary becomes true on a CPA belonging to a Person Account and the addresses differ.</description>
        <name>Assign_Promote_PersonMailing</name>
        <label>Assign Promote PersonMailing</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountToUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Routes to the appropriate action based on the combination of IsPrimary, IsUndeliverable, and IsPersonAccount. Four rules cover the Invalidate-and-clear path (Person + Business) and the Promote-to-primary path (Person + Business). Default is a no-op end.</description>
        <name>Action_Type</name>
        <label>Action Type</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No-Op</defaultConnectorLabel>
        <rules>
            <name>Invalidate_Clear_PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsUndeliverable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsUndeliverable</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsUndeliverable</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Clear_PersonMailing</targetReference>
            </connector>
            <label>Invalidate - Clear PersonMailing</label>
        </rules>
        <rules>
            <name>Invalidate_Clear_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsUndeliverable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsUndeliverable</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsUndeliverable</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Clear_Billing</targetReference>
            </connector>
            <label>Invalidate - Clear Billing</label>
        </rules>
        <rules>
            <name>Promote_PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsUndeliverable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsPrimary</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_PersonMailing_Matches</targetReference>
            </connector>
            <label>Promote - Person Account</label>
        </rules>
        <rules>
            <name>Promote_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsUndeliverable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsPrimary</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Billing_Matches</targetReference>
            </connector>
            <label>Promote - Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Short-circuits when the Business Account&apos;s Billing* already matches the CPA&apos;s address. Prevents redundant Account updates that would cause infinite re-triggering of Flow B.</description>
        <name>Already_Billing_Matches</name>
        <label>Already Billing Matches?</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Promote_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Already_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <description>Short-circuits when the Person Account&apos;s PersonMailing* already matches the CPA&apos;s address. Prevents redundant Account updates that would cause infinite re-triggering of Flow A.</description>
        <name>Already_PersonMailing_Matches</name>
        <label>Already PersonMailing Matches?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Promote_PersonMailing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Update</defaultConnectorLabel>
        <rules>
            <name>Yes_PersonMailing_Already_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.PersonMailingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.PersonMailingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.PersonMailingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.PersonMailingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.PersonMailingCountry</elementReference>
                </rightValue>
            </conditions>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <description>ContactPointAddress AfterSave flow. Two paths: (1) Invalidate-and-clear — when IsUndeliverable becomes true on a CPA that was primary, clears the parent Account&apos;s main address fields (PersonMailing* or Billing* depending on IsPersonAccount). (2) Promote-to-primary — when IsPrimary becomes true and the CPA address differs from the Account&apos;s current address, updates the Account address to match. Both paths are gated by idempotent comparison guards to prevent recursion. Runs after a ContactPointAddress record is created or updated, then starts address sync back to Account.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Address Sync ContactPointAddress to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Address Sync ContactPointAddress to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Loads the Account to determine IsPersonAccount and current address field values for the recursion checks in Already_PersonMailing_Matches and Already_Billing_Matches.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Single Account update to apply the cleared or promoted address values. Uses the sparse var_AccountToUpdate SObject populated by one of the four Assign_ elements. Flow A or Flow B fires on this Account update and reconciles CPAs idempotently.</description>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>842</locationX>
        <locationY>923</locationY>
        <inputReference>var_AccountToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.IsPrimary}) || ISCHANGED({!$Record.IsUndeliverable})</filterFormula>
        <object>ContactPointAddress</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Sparse Account SObject for the single parent Account update. Id and address field assignments are built by the appropriate Assign_ element before Update_Parent_Account fires.</description>
        <name>var_AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
