force-app/main/default/flows/SMQS_Address_Sync_Business_Account_to_ContactPointAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Builds the sparse Person Account SObject with PersonMailing fields set to the Household&apos;s current Billing values, then adds it to the rcv_MembersToUpdate collection for the single bulk update after the loop exits.</description>
        <name>Assign_Update_Member</name>
        <label>Assign Update Member</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member_Person_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MemberToUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcv_MembersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MemberToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cascade_To_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Per-iteration guard inside Loop_Cascade_To_Members. Confirms the current ACR has &apos;Household Member&apos; in its Roles multi-select picklist before cascading the address to the linked Person Account.</description>
        <name>ACR_Has_Household_Member_Role</name>
        <label>ACR Has Household Member Role?</label>
        <locationX>424</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Cascade_To_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip ACR</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cascade_To_Members.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member_Person_Account</targetReference>
            </connector>
            <label>Yes - Process ACR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Is_Household__c on the triggering Account. Only Household Accounts cascade their Billing* to synced member Person Accounts. Organization accounts (non-household Business Accounts) skip the cascade.</description>
        <name>Is_Household</name>
        <label>Is Household?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No - Skip Cascade</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Synced_Member_ACRs</targetReference>
            </connector>
            <label>Yes - Cascade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether any of the member Person Account&apos;s PersonMailing* fields differ from the Household&apos;s new Billing* fields. Only proceeds to update when there is a real difference — idempotent guard that terminates cascades when the originating member&apos;s address already matches.</description>
        <name>Member_Mailing_Differs</name>
        <label>Member Mailing Differs?</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Cascade_To_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_Differs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Person_Account.PersonMailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Update_Member</targetReference>
            </connector>
            <label>Yes - Update Member</label>
        </rules>
    </decisions>
    <description>Account AfterSave flow gated to NOT(IsPersonAccount). Calls SMQS_Upsert_ContactPointAddress for the Billing address. When Is_Household__c=true, cascades the new Billing to all synced member Person Accounts (IsActive=true, Sync_Household_Address__c=true, Roles contains Household Member) in a single bulk update after the loop. Recursion terminates through comparison guards. Runs after an Account (Business Account) is created or updated, then starts address sync from Account to ContactPointAddress.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Address Sync Business Account to ContactPointAddress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Address Sync Business Account to ContactPointAddress</label>
    <loops>
        <description>Iterates over all active synced member ACRs on the Household. For each, loads the member Person Account, compares PersonMailing to Billing, and when different adds the member to rcv_MembersToUpdate. After the loop exits, Update_Member_Person_Account does a single bulk update.</description>
        <name>Loop_Cascade_To_Members</name>
        <label>Loop Cascade To Members</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Active_Synced_Member_ACRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ACR_Has_Household_Member_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Member_Person_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all active synced member ACRs on this Household Account. Filtered to IsActive=true, Sync_Household_Address__c=true. The Household Member role check is done per-iteration in ACR_Has_Household_Member_Role using a decision-level Contains condition. Used for the cascade loop.</description>
        <name>Get_Active_Synced_Member_ACRs</name>
        <label>Get Active Synced Member ACRs</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cascade_To_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sync_Household_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Loads the Person Account for the current loop ACR&apos;s Contact. Filters by PersonContactId=ACR.ContactId to resolve Contact → Person Account. Returns Id, IsPersonAccount, and all PersonMailing* fields for comparison.</description>
        <name>Get_Member_Person_Account</name>
        <label>Get Member Person Account</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Mailing_Differs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Cascade_To_Members.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Bulk update — sets PersonMailing fields on all members collected during the loop in one DML call. Each updated Person Account triggers SMQS_Sync_Person_Account_to_Contact_Point_Address, which upserts the member&apos;s CPA and attempts a push-up to the Household (comparison guard makes it a no-op since Billing already matches).</description>
        <name>Update_Member_Person_Account</name>
        <label>Update Member Person Account</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <inputReference>rcv_MembersToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Upsert_Subflow</targetReference>
        </connector>
        <filterFormula>NOT({!$Record.IsPersonAccount}) &amp;&amp; (ISNEW() || ISCHANGED({!$Record.BillingStreet}) || ISCHANGED({!$Record.BillingCity}) || ISCHANGED({!$Record.BillingState}) || ISCHANGED({!$Record.BillingPostalCode}) || ISCHANGED({!$Record.BillingCountry}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls SMQS_Upsert_ContactPointAddress with the Business Account&apos;s Billing* fields. AddressType=Billing. EffectiveAccountName is always the Account&apos;s own Name for Business Account callers.</description>
        <name>Call_Upsert_Subflow</name>
        <label>Call Upsert Subflow</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_Household</targetReference>
        </connector>
        <flowName>SMQS_Address_Sync_Upsert_ContactPointAddress</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewStreet</name>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewCity</name>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewState</name>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewPostalCode</name>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NewCountry</name>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldStreet</name>
            <value>
                <elementReference>$Record__Prior.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldCity</name>
            <value>
                <elementReference>$Record__Prior.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldState</name>
            <value>
                <elementReference>$Record__Prior.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldPostalCode</name>
            <value>
                <elementReference>$Record__Prior.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldCountry</name>
            <value>
                <elementReference>$Record__Prior.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_AddressType</name>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_EffectiveAccountName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_IsPersonAccount</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Collection of sparse Person Account SObjects built during Loop_Cascade_To_Members. Each element has Id and PersonMailing fields set. Updated in a single bulk DML after the loop exits in Update_Member_Person_Account.</description>
        <name>rcv_MembersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Sparse Person Account SObject reused each loop iteration in Assign_Update_Member to build the update payload before adding it to rcv_MembersToUpdate.</description>
        <name>var_MemberToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
