force-app/main/default/flows/SMQS_Contact_Contact_Relationship_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <description>Checks whether inverse ContactContactRelation is still present. Branch result is used later for delete/update handling.</description>
        <name>Has_Inverse_Record_Already_Been_Deleted</name>
        <label>Has Inverse Record Already Been Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clear_Inverse_Record_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inverse_Record_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedInverseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Handles inverse cleanup for ContactContactRelation deletes. Cleanup output is used later to keep relationship links consistent.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Contact Contact Relationship - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Contact Contact Relationship - Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Deletes inverse record or clears link fields as needed. This prevents later flows from using stale inverse pointers.</description>
        <name>Delete_Inverse_Record</name>
        <label>Delete Inverse Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedInverseRecordId</elementReference>
            </value>
        </filters>
        <object>ContactContactRelation</object>
    </recordDeletes>
    <recordUpdates>
        <description>Deletes inverse record or clears link fields as needed. This prevents later flows from using stale inverse pointers.</description>
        <name>Clear_Inverse_Record_Lookup</name>
        <label>Clear Inverse Record Lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Inverse_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedInverseRecordId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.RelatedInverseRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Inverse_Record_Already_Been_Deleted</targetReference>
        </connector>
        <object>ContactContactRelation</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
