force-app/main/default/flows/SMQS_Party_Role_Relationship_Validator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existing_Role_Found</name>
        <label>Existing Role Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Party_Role_Relationship.RoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scv_PartyRoleRelationship.RoleName</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SMQS Party Role Relationship Validator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Party Role Relationship Validator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Party_Role_Relationship</name>
        <label>Party Role Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Role_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scv_PartyRoleRelationship.RoleName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Party_Role_Relationship</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcv_PartyRoleRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>scv_PartyRoleRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
</Flow>
