force-app/main/default/flows/SMQS_Email_Sync_Delete_ContactPointEmail_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When a primary ContactPointEmail is deleted, clears Account.PersonEmail if the parent is a Person Account. Runs before delete so $Record fields are still accessible.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Email Sync Delete ContactPointEmail to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Email Sync Delete ContactPointEmail to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Loads the parent Account to check IsPersonAccount before clearing PersonEmail.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Clears Account.PersonEmail when the deleted CPE was primary on a Person Account.</description>
        <name>Clear_PersonEmail</name>
        <label>Clear PersonEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <decisions>
        <description>PersonEmail only exists on Person Accounts. Business and Household accounts have no PersonEmail field to clear.</description>
        <name>Is_Person_Account</name>
        <label>Is Person Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Business / Household — no-op</defaultConnectorLabel>
        <rules>
            <name>Yes_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PersonEmail</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>{!$Record.IsPrimary}</filterFormula>
        <object>ContactPointEmail</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
