force-app/main/default/flows/SMQS_Party_Role_Relationship_Creator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Counter</name>
        <label>Add to Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfRolesWithInverse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_ShouldCreateInverseAuto_TrueEqualsOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number_of_Role_Records_Without_Inverse_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_Created</name>
        <label>Count Records Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfRolesCreated</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Party_Relationship_Records_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_the_Number_of_Rows_Selected</name>
        <label>Increase the Number of Rows Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfRolesSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Selected_Roles</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Type_of_Role</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Type of Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Type_of_Role</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Collection_for_Party_Role_Relationship_Options.rcv_PartyRoleRelationship</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Type_of_Role.RelationshipObjectName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_RelationshipObjectName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Relationships_and_Group_Affiliations</targetReference>
        </connector>
    </collectionProcessors>
    <description>Provides a selection of possible party role relationship options for an end user to select and then create in the system.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>f_NumberOfRolesWithOutInverse</name>
        <dataType>Number</dataType>
        <expression>{!var_NumberOfRolesCreated}-({!var_NumberOfRolesWithInverse}*2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ShouldCreateInverseAuto_TrueEqualsOne</name>
        <dataType>Number</dataType>
        <expression>If({!Count_Number_of_Role_Records_Without_Inverse_Roles.ShouldCreaInversRoleAuto}
,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SMQS Party Role Relationship Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Party Role Relationship Creator</label>
    <loops>
        <name>Count_Number_of_Role_Records_Without_Inverse_Roles</name>
        <label>Count Number of Role Records Without Inverse Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Party_Relationship_Records_Created</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Records_Created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Selected_Roles</name>
        <label>Count Selected Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PartyRelationshipRoles2.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_the_Number_of_Rows_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Party_Relationship_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Party_Relationship_Groups</name>
        <label>Create Party Relationship Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Party_Relationship_Records_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Results</targetReference>
        </faultConnector>
        <inputReference>PartyRelationshipRoles2.selectedRows</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Party_Relationship_Records_Created</name>
        <label>Get Party Relationship Records Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Role_Records_Without_Inverse_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_now</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_Results</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!f_NumberOfRolesWithOutInverse} single roles along with &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!var_NumberOfRolesWithInverse} &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;paired roles were created out of the {!var_NumberOfRolesSelected} roles you selected. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Clicking &apos;Finish&apos; will r&lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;efresh the screen and allow you to create any roles you didn&apos;t select. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Navigate to the Party Role Relationship tab to manually any additional create roles needed for your organization.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Relationships_and_Group_Affiliations</name>
        <label>Select Relationships and Group Affiliations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Roles</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Suggested Roles&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;Check the roles that will be used by your nonprofit for your stakeholders.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PartyRelationshipRoles2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PartyRoleRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Relationship and Group Affiliations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Type_of_Role</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RoleName&quot;,&quot;guid&quot;:&quot;column-e33c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RelatedRoleName&quot;,&quot;guid&quot;:&quot;column-c22b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Related Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-b5eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Roles</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Collection_for_Party_Role_Relationship_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a subflow where the multiple record collection variable is built to present options to the end user for record creation.</description>
        <name>Get_Record_Collection_for_Party_Role_Relationship_Options</name>
        <label>Get Record Collection for Party Role Relationship Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Type_of_Role</targetReference>
        </connector>
        <flowName>SMQS_Create_Party_Relationship_Role_Options</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_Type_of_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>var_NumberOfRolesCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NumberOfRolesSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumberOfRolesWithInverse</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RelationshipObjectName</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
