force-app/main/default/flows/SMQS_Create_Party_Relationship_Role_Options.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Define_Role_Aunt_Uncle</name>
        <label>Define Role Aunt/Uncle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aunt/Uncle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Niece/Nephew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Aunt_Uncle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Business_Associate_Partner</name>
        <label>Define Role Business Associate/Partner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Associate/Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Associate/Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Business_Associate_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Caretaker</name>
        <label>Define Role Caretaker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Caretaker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Caretaker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Caretaker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Cousin</name>
        <label>Define Role Cousin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cousin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cousin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Cousin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Coworker</name>
        <label>Define Role Coworker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coworker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coworker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Coworker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Family</name>
        <label>Define Role Family</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Family_Foundation</name>
        <label>Define Role Family Foundation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Family Foundation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Family_Foundation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Fiscal_Sponsor</name>
        <label>Define Role Fiscal Sponsor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fiscal Sponsor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fiscally Sponsored</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Fiscal_Sponsor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Foster_Parent</name>
        <label>Define Role Foster Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foster Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foster Child</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediate Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Foster_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Friend</name>
        <label>Define Role Friend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Friend</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Friend</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Friend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Grandparent</name>
        <label>Define Role Grandparent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grandparent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grandchild</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Grandparent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Grantor</name>
        <label>Define Role Grantor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grantor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grantee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Grantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Guardian</name>
        <label>Define Role Guardian</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Guardian</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediate Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Guardian</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Manager_Supervisor</name>
        <label>Define Role Manager/Supervisor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager/Supervisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Worker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Manager_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Mentor</name>
        <label>Define Role Mentor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mentor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mentee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Mentor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Neighbor</name>
        <label>Define Role Neighbor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Neighbor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Neighbor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Neighbor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Parent</name>
        <label>Define Role Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediate Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Parent_Company</name>
        <label>Define Role Parent Company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent Company</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Branch/Store</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Parent_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Parent_Nonprofit</name>
        <label>Define Role Parent Nonprofit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Affiliated Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Parent_Nonprofit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Partner_Spouse</name>
        <label>Define Role Partner/Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner/Spouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner/Spouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediate Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Partner_Spouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Related_Household</name>
        <label>Define Role Related Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Related Household</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Related Household</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Related_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Shelter</name>
        <label>Define Role Shelter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shelter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Account_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Shelter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Role_Sibling</name>
        <label>Define Role Sibling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sibling</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelatedRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sibling</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.ShouldCreaInversRoleAuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediate Family</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.RelationshipObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Contact_Relationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scv_PartyRoleRelationship.Default_Hierarchy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Role_Sibling</targetReference>
        </connector>
    </assignments>
    <description>This flow exists to build a collection of record variables to provide a selection of options of Party Relationship Roles to create when establishing Stakeholder Management.</description>
    <environments>Default</environments>
    <interviewLabel>SMQS Create Party Relationship Role Options {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMQS Create Party Relationship Role Options</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Parent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Validate_Role_Aunt_Uncle</name>
        <label>Validate Role Aunt/Uncle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Cousin</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Business_Associate_Partner</name>
        <label>Validate Role Business Associate/Partner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Mentor</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Caretaker</name>
        <label>Validate Role Caretaker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Neighbor</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Cousin</name>
        <label>Validate Role Cousin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Family</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Coworker</name>
        <label>Validate Role Coworker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Business_Associate_Partner</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Family</name>
        <label>Validate Role Family</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Manager_Supervisor</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Family_Foundation</name>
        <label>Validate Role Family Foundation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Fiscal_Sponsor</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Fiscal_Sponsor</name>
        <label>Validate Role Fiscal Sponsor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Grantor</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Foster_Parent</name>
        <label>Validate Role Foster Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Guardian</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Friend</name>
        <label>Validate Role Friend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Caretaker</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Grandparent</name>
        <label>Validate Role Grandparent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Aunt_Uncle</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Grantor</name>
        <label>Validate Role Grantor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Parent_Nonprofit</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Guardian</name>
        <label>Validate Role Guardian</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Grandparent</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Manager_Supervisor</name>
        <label>Validate Role Manager/Supervisor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Coworker</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Mentor</name>
        <label>Validate Role Mentor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Friend</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Neighbor</name>
        <label>Validate Role Neighbor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Related_Household</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Parent</name>
        <label>Validate Role Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Partner_Spouse</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Parent_Company</name>
        <label>Validate Role Parent Company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Parent_Nonprofit</name>
        <label>Validate Role Parent Nonprofit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Parent_Company</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Partner_Spouse</name>
        <label>Validate Role Partner/Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Sibling</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Related_Household</name>
        <label>Validate Role Related Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Shelter</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Shelter</name>
        <label>Validate Role Shelter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Family_Foundation</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Role_Sibling</name>
        <label>Validate Role Sibling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Role_Foster_Parent</targetReference>
        </connector>
        <flowName>SMQS_Party_Role_Relationship_Validator</flowName>
        <inputAssignments>
            <name>rcv_PartyRoleRelationship</name>
            <value>
                <elementReference>rcv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scv_PartyRoleRelationship</name>
            <value>
                <elementReference>scv_PartyRoleRelationship</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcv_PartyRoleRelationship</assignToReference>
            <name>rcv_PartyRoleRelationship</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scv_PartyRoleRelationship</assignToReference>
            <name>scv_PartyRoleRelationship</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Based_on_Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>rcv_FilteredPartyRoleRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>rcv_PartyRoleRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>scv_PartyRoleRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
</Flow>
